<div class="card mt-2">
    <div class="card shadow-lg mx-auto mt-4 mb-1" style="max-width: 800px">
        <a href="/articles/byCat?id=1" style="text-decoration: none;">
            <h5 class="card-header text-center fw-bold display-3 text-danger py-4 my-3 gideon-font">
                TECHNOLOGY
            </h5>   
        </a>    
    </div>
    <div class="text-muted text-start my-4 mx-5">
      <p class="mb-1" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-calendar-check mr-2"></i>Publish Date: </strong>19/12/2024</p>
      <p class="mb-0" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-file-person mr-2" ></i>Author: </strong>hoaglee666</p>
    </div>
    <div class="card-body">
        <div class="card-body text-center bg-secondary text-white pt-1 mb-2">  
            <div class="mb-3 display-4" style="font-weight: bold;">Astronomers discover two populations of unusual dark comets in our solar system</div>
            <div class="bg-dark text-white pb-1">
                <img src="/static/imgs/news/cos1.jpg" style="max-width: 800px" alt="Suchir Balaji" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >An artist's illustration shows the interstellar visitor 'Oumuamua venting gaseous material from its surface, as a comet would. <span style="font-style:italic;">NASA/ESA/Joseph Olmsted and Frank Summers, STScI</span></p>
                <p class="body-content">Astronomers have spotted seven new examples of a cosmic phenomenon known as dark comets that could help scientists determine whether the celestial bodies helped deliver vital elements like water to Earth early in the planet’s history.</p>
                <p class="body-content">The discovery doubles the known number of these mysterious celestial objects across our solar system that resemble asteroids but zip through space like comets, albeit without the “tail” comets are known for.</p>
                <p class="body-content">The new research, published December 9 in the journal Proceedings of the National Academy of Sciences, also shows that there are two distinct populations of these objects.</p>
                <p class="body-content">Uncovering more of the dark comets has helped astronomers realize that these objects aren’t as rare as previously believed.</p>
                <p class="body-content">“One of the most important reasons why we study small bodies, like asteroids and comets, is because they tell us about how material is transported around the solar system,” said lead study author Darryl Seligman, a postdoctoral fellow of physics and astronomy at Michigan State University, East Lansing, in a statement.</p>
                <p class="body-content">“Dark comets are a new class of near-Earth objects that may contain water, so they’re a new potential source for delivering materials to Earth which were necessary for the development of life. The more we can learn about them, the better we can understand their role in our planet’s origin.”</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size:30px">An interstellar visitor’s revelation</p>
                <p class="body-content">Astronomers studying what they believed to be an asteroid called 2003 RM two decades ago noticed the object had shifted slightly from its predicted orbit.</p>
                <p class="body-content">The movement couldn’t be explained by accelerations that are typical for asteroids, such as the Yarkovsky effect, in which space rocks absorb heat from the sun and then emit it as infrared radiation, which can cause a tiny amount of thrust for the asteroid.</p>
                <p class="body-content">Instead, 2003 RM was moving more like a comet. The sun causes material such as the ice inside comets to turn directly to a gas through a process called sublimation. That evaporation provides the comets with thrust. The thrust is evident by the tail seen streaming behind comets, which is made of the evaporating material.</p>
                <p class="body-content">“But try as we might, we couldn’t find any signs of a comet’s tail. It looked like any other asteroid — just a pinpoint of light. So, for a short while, we had this one weird celestial object that we couldn’t fully figure out,” said study coauthor Davide Farnocchia, a navigation engineer at NASA’s Jet Propulsion Laboratory in Pasadena, California, in a statement. “This is a puzzle that challenges the way we have always classified objects either as asteroids or comets.”</p>
                <p class="body-content">Then, astronomers spotted ‘Oumuamua in 2017. It was the first observed object in our solar system that originated outside of it.</p>
                <p class="body-content">Scientists briefly observed ‘Oumuamua with telescopes before the interstellar visitor completed its quick pass through our solar system, igniting a multitude of hypotheses about its true nature along the way, including the possibility that it might have been an alien probe.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <img src="/static/imgs/news/cos2.jpg" style="max-width: 800px" alt="Suchir Balaji" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >A photo illustration depicts `Oumuamua, which was discovered on October 19, 2017, by the Pan-STARRS 1 telescope in Hawaii. Subsequent observations from other observatories show it was traveling through space for millions of years before its chance encounter with our star system. <span style="font-style:italic;">European Southern Observatory/ESO/M. Kornmesser</span></p>
                <p class="body-content">Telescope observations showed that ‘Oumuamua appeared like a single point of light, similar to an asteroid, but its trajectory shifted as though it were shedding material, much like a comet, making it difficult to determine whether it was either object.</p>
                <p class="body-content">“‘Oumuamua was surprising in several ways,” Farnocchia said. “The fact that the first object we discovered from interstellar space exhibited similar behaviors to 2003 RM made 2003 RM even more intriguing.”</p>
                <p class="body-content">Farnocchia and Seligman each published research in 2023 that described a total of seven objects spotted in our solar system with unusual aspects similar to ‘Oumuamua that blurred the line between asteroids and comets. The scientists dubbed this new class of objects dark comets.</p>
                <p class="body-content">Now, with the discovery of seven more dark comets, the researchers have been able to discern differences between their populations.</p>
                <p class="body-content">“We had a big enough number of dark comets that we could begin asking if there was anything that would differentiate them,” Seligman said. “By analyzing the reflectivity, and the orbits, we found that our solar system contains two different types of dark comets.”</p>
                <p class="body-content">Inner dark comets can be found within the inner solar system, which includes the planets Earth, Venus, Mars and Mercury, and move in nearly circular orbits around the sun. The celestial objects are diminutive, only reaching up to tens of meters across, and may have originated from the main asteroid belt, located between the orbits of Mars and Jupiter.</p>
                <p class="body-content">Meanwhile, outer dark comets, which may have come from the outer regions of our solar system near Jupiter and beyond, have distinctly oval-shaped orbits and can span hundreds of meters or more.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size:30px">Investigating the origins of water</p>
                <p class="body-content">Now that astronomers have found populations of dark comets, they want to determine whether the objects contain ice, what’s behind their acceleration and where they came from.</p>
                <p class="body-content">Gaining a better understanding of dark comets could shed light on whether these objects contributed to the early evolution of Earth by crashing into it while the planet was forming.</p>
                <p class="body-content">“What many people may not think about on a regular basis is that the solar system is a chaotic place,” Seligman said. “We don’t know where things come from, but with the 14 dark comets we now know about that are orbiting within our solar system, there are windows of opportunity in the next few years for us to gather more data and hopefully uncover answers about the formation of our own planet.”</p>
                <p class="body-content">Previous research has suggested that up to 60% of near-Earth objects could be dark comets.</p>
                <p class="body-content">While asteroids are devoid of ice because they orbit closer to the sun, comets are icy bodies that resemble dirty ice cubes with more distant orbits, said Aster Taylor, coauthor of the new study and lead author of a study published online in the journal Icarus in July about dark comets. Taylor is a doctoral student in astronomy at the University of Michigan.</p>
                <p class="body-content">But dark comets that are near-Earth objects could be found in the main asteroid belt, between the orbits of Mars and Jupiter, and they may contain ice. And if ice is common on small bodies like dark comets in the near-Earth environment, they may have been responsible for bringing water to Earth.</p>
                <p class="body-content">Astronomers are also trying to determine why dark comets are so small and rotate so quickly, Taylor said.</p>
                <p class="body-content">“It’s quite possible that the activity on the inner main belt objects was turned on by some sort of physical change, like the destruction of the object, which is suggested by the small sizes and rapid rotation rates of the inner dark comets,” Taylor said. “However, these are all hypotheses, and while they’re consistent with all of our data, more work is needed to confirm or falsify these ideas.”</p>
                <p class="body-content"> Fortunately, the Japan Aerospace Exploration Agency’s Hayabusa2 spacecraft is expected to rendezvous with one of the dark comets, 1998 KY26, in 2031 as part of its extended mission, which could reveal more of the unique characteristics of these not-so-uncommon celestial objects, Taylor said.</p>
                <hr style="border: solid 1px black; max-width: 300px">
            </div>
        </div>
    </div>
    <div class="card-footer text-muted text-center py-3 justify-content-center">
        <h5 class="card-footer text-center display-5 bg-light text-dark py-4 mt-3 pacifico-font">
            <i class="bi bi-heart-fill mr-2 text-danger"></i>
            Thank you for reading!~
            <i class="bi bi-dice-6 ml-2"><i class="bi bi-dice-6"><i class="bi bi-dice-6"></i></i></i>
        </h5>
    </div>
</div>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Pacifico&display=swap" rel="stylesheet">
<style>
    .gideon-font{
        font-family: "Gideon Roman", serif;
        font-weight: 400;
        font-style: normal;
    }
    .pacifico-font {
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
    }
    .body-content {
        text-align: start;
        padding-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .starting-lineup {
        font-weight: bold; 
        color: dodgerblack;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .list {
        flex: 1;
        margin-right: 20px;
    }
    .image {
        max-width: 350px;
        height: auto;
        padding-right: 50px;
    }
</style>