<div class="card mt-2">
    <div class="card shadow-lg mx-auto mt-4 mb-1" style="max-width: 800px">
        <h5 class="card-header text-center fw-bold danger-3 text-primary py-4 my-3 gideon-font">
            ASIA
        </h5>   
    </div>
    <div class="text-muted text-start my-4 mx-5">
      <p class="mb-1" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-calendar-check mr-2"></i>Publish Date: </strong>19/12/2024</p>
      <p class="mb-0" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-file-person mr-2" ></i>Author: </strong>hoaglee666</p>
    </div>
    <div class="card-body">
        <div class="card-body text-center bg-secondary text-white pt-1 mb-2">  
            <div class="mb-3 display-4" style="font-weight: bold;">Indoctrinated, loyal and well trained: Don’t underestimate North Korean soldiers in Russia, some experts say</div>
                <div class="bg-dark text-white pb-1">
                <img src="/static/imgs/news/nk2.jpg" style="max-width: 800px" alt="Suchir Balaji" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;">Footage circulated online on Oct 18, 2024 shows North Korean troops training in Russia. CNN has geolocated the video to a training range in Sergeyevka, Primorsky Krai, Russia.<span style="font-style:italic;">EyePress News/Reuters</span></p>
                <p class="body-content">Far from their homes in one of the world’s most isolated and secretive states, about 11,000 North Korean soldiers find themselves at the center of Europe’s biggest conflict since World War II.</p>
                <p class="body-content">Little is known about the North Korean troops deployed to support Russia in its devastating yearslong war in Ukraine – or what exactly they will be ordered to do – and their presence hasn’t even been officially acknowledged by Moscow or Pyongyang.</p>
                <p class="body-content">US, Ukrainian and South Korean intelligence says the North Koreans have already engaged in combat operations, joining a Russian force of tens of thousands to carry out an assault on Ukrainian positions in Russia’s western Kursk region. Speculation has been rife about how these troops will fare.</p>
                <p class="body-content">According to Ukraine, at least 30 North Korean soldiers were killed or wounded in fighting over the weekend alone near villages in Kursk close to the Ukrainian border. One Ukrainian unit reported that North Koreans – wearing different uniforms from the Russians – had launched infantry attacks using the “same tactics as 70 years ago,” in an apparent reference to the Korean War, where waves of infantry were used.</p>
                <p class="body-content">
                    Pyongyang’s soldiers lack real-world battle experience and will face unfamiliar terrain in a brutal, modern war theater – one that has wrought chaos and horror for both sides as the dead pile up across the front lines. <br class="mb-2">
                    “If I was going to describe their capability more broadly and not think about the kit that they had, I would tell you that these are not battle-hardened troops, they haven’t been in combat before,” the US official said, adding their assessment was that casualties included “all ranks” including leaders at command-and-control nodes,.
                </p>
                <p class="body-content">North Korean leader Kim Jong Un will be sending “the best” from an elite force of highly trained and “indoctrinated” soldiers known as the Storm Corps, according to retired Lt. Gen. Chun In-bum, a veteran of the South Korean army.</p>
                <p class="body-content">
                    Some are special forces, like the US Navy Seals or Rangers, or Britain’s SAS. Others are light infantry and snipers, he said. <br class="mb-2">

                    The Storm Corps – the 11th Army Corps of the North Korean military – are “better trained, (have) better physique and (are) better motivated than your average North Korean soldier,” Chun said.
                </p>
                <p class="body-content">North Korean propaganda material released by state media this year has shown Kim overseeing special operations training marked by extreme displays of strength, including the smashing of cinder blocks over the ripped torsos of soldiers stripped to the waist.</p>
                <p class="body-content">
                    Michael Madden, a non-resident fellow in the 38 North program at the Stimson Center in Washington, said this largest deployment of North Korean soldiers since the Vietnam War is equipped with “certain psychological tricks” to persevere. <br class="mb-2">

                    “These guys are programmed. These guys are indoctrinated,” he said. “But the question is, how well indoctrinated? How well programmed are they?” <br class="mb-2">

                    “They are probably better positioned than other members of the military, or other members of militaries going into a foreign conflict, in terms of the preparation of their minds.”
                </p>
                <hr style="border: solid 1px black; max-width: 300px">
                <img src="/static/imgs/news/nk1.jpg" style="max-width: 800px" alt="Suchir Balaji" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;">Soldiers participate in a demonstration during the training of the Korean People's Army's air and amphibious combat units, in this picture released on March 16, 2024, by the Korean Central News Agency.<span style="font-style:italic;">EyePress News/Reuters</span></p>
                <p class="body-content" style="font-weight: bold; font-size:30px">‘Fair game’</p>
                <p class="body-content">Mental strength, however, may not be enough to overcome the worst challenges the North Korean soldiers could face.</p>
                <p class="body-content">
                    Drone warfare has transformed the battlefield in Ukraine, bringing new levels of surveillance and destruction to military targets but also civilians and civic infrastructure. <br class="mb-2">

                    Russia’s “meat-grinder” tactics, particularly in the fighting for eastern Ukraine, have essentially offered Russian recruits to the slaughter.
                </p>
                <p class="body-content">South Korean lawmakers say Russia is teaching the soldiers about 100 basic military terms like “fire” and “in position,” as reports of command and communication issues arise.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <img src="/static/imgs/news/nk3.jpg" style="max-width: 800px" alt="Suchir Balaji" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;">North Korean leader Kim Jong Un interacts with a soldier during the training of the Korean People's Army's air and amphibious combat units in this picture released on March 16, 2024, by the Korean Central News Agency.<span style="font-style:italic;"> KCNA/Reuters/File</span></p>
                <p class="body-content">In Russia, their training has included artillery, operating unmanned aerial vehicles and basic infantry operations including trench-clearing, “which are critical skills for frontline operations,” according to the US State Department.</p>
                <p class="body-content">
                    And intelligence assessments suggest the North Koreans are embedding within the Russian military. <br class="mb-2">

                    Moscow’s success in utilizing the troops “will in large part be dictated by how well the Russians can integrate them into their military,” the State Department said.
                </p>
                <p class="body-content">“When we catch them or see a body, then I’ll know for sure that they’re here,” Oleksandr, a unit commander with Ukraine’s 225th assault battalion, told CNN in early December.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content">Humans are a long way from becoming a multi-planet species, but we are making progress. In late 2026, the NASA-led Artemis program will return astronauts to the moon for the first time since 1972, where it hopes to develop an ongoing presence. And if SpaceX founder Elon Musk’s predictions are accurate, the first crewed mission to Mars could be on its way in the next four years.</p>
                <p class="body-content">Scientists already know that space travel can wreak havoc on the human body. Cosmic radiation can cause mutations in DNA that increases the risk of cancer and causes other ailments. Microgravity can cause vision problems, a weakened immune system, and muscle and bone loss.</p>
                <p class="body-content">That means that there are more pressing concerns than reproduction, says Wotring. “There is other information that we need right now in order to care of the astronauts we’re sending to space now,” she says. “That has to take priority.”</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size: 30px">Malnutrition and worms</p>
                <p class="body-content">North Korea is one of the world’s most heavily militarized nations, with an estimated 1.2 million armed forces personnel, according to the CIA World Factbook, and all citizens must complete mandatory military service from age 17.</p>
                <p class="body-content">Kim Seong-han, a defector who lives in the South, remembers his 12 years in the North Korean army as a time of little food, poor treatment and grueling winter marches with no sleep.</p>
                <p class="body-content">“Before 1991, we could still eat meat, but from that year, meat started running out,” said Kim, who requested to use a pseudonym for security reasons. “The rice ration which used to be 800 grams (1.8 pounds) per meal, was reduced to 800 grams per day, and eventually, we were only given corn meal without rice.”</p>
                <p class="body-content">
                    While training, Kim Seong-han said there were regular accidents “like misfires, soldiers accidentally detonating grenades, and other weapon mishaps.” <br class="mb-2">

                    “An example of our training would be a winter march – marching 150 kilometers (93 miles) over three days without sleep,” he said.</p>
                <p class="body-content">Kim Seong-han escaped to South Korea in 2017. Though his North Korean military experience ended more than two decades ago, it offers an insight into a world seldom understood by outsiders.</p>
                <p class="body-content">One soldier, who was shot multiple times as he defected to the South in 2017 by running through the heavily fortified Demilitarized Zone, was found with parasitic worms and a chronic liver infection.</p>
                <p class="body-content">Some of the parasites removed were as long as 27 centimeters (more than 10 inches), according to the South Korean doctors who treated him. One type of worm they found typically afflicts dogs.</p>
                <p class="body-content">“Everyone was hungry, even the soldiers,” said another North Korean defector and former army officer, Kang Ri Hyuk, at the time. “There are many soldiers who also die from disease because they’re not given medical treatment.”</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size: 30px">Loyalty above everything</p>
                <p class="body-content">
                    In North Korean society, a member of the 11th Army Corps would likely hold a relatively privileged position. <br>

                    The division is held in high esteem, ranking not far below the units that provide North Korean leader Kim’s close security escort – and loyalty to the regime is key to admission.
                </p>
                <p class="body-content">“If you’re doing well in a specific training or training exercise, you might get recruited or reassigned to the 11th Army Corps, but it mainly consists of soldiers that have the physical acuity and the physical abilities, as well as having a certain background.”</p>
                <p class="body-content">Part of the 11th Army Corps is a 10,000-strong commando division that is trained to parachute into or penetrate enemy territory and carry out assassinations, infrastructure damage and sabotage, according to Madden.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <img src="/static/imgs/news/nk4.jpg" style="max-width: 800px" alt="Suchir Balaji" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;">A North Korean soldier rests near a guard post along fences on the North Korea border with Russia and China seen from China's Yiyanwang Three Kingdoms viewing platform in Fangchuan in northeastern China's Jilin province on September 12, 2023. <span style="font-style:italic;"> Ng Han Guan/AP/File</span></p>
                <p class="body-content">Some commando units are even trained to take their own lives rather than be captured, he said.</p>
                <p class="body-content">
                    “This is because if you kill yourself, your families are taken care of back in North Korea,” he said. “You would be considered a hero for the rest of eternity.”
                </p>
                <p class="body-content">“He(Kim)’s not able to have a kind of military that functions 100%, but he’s got a dedicated military and even with 200,000 men, that’s a sizable number (larger) than most European countries.”</p>
                <p class="body-content">It’s unclear whether the North Korean soldiers sent to Russia had a choice in their deployment, or if they or their families were offered incentives.</p>
                <p class="body-content">Russia is “likely paying for all the deployment costs associated with the North Koreans as well as a stipend for the troops themselves,” according to the Washington-based Center for Strategic and International Studies.</p>
                <hr style="border: solid 1px black; max-width: 300px">
            </div>
        </div>
    </div>
    <div class="card-footer text-muted text-center py-3 justify-content-center">
        <h5 class="card-footer text-center display-5 bg-light text-dark py-4 mt-3 pacifico-font">
            <i class="bi bi-heart-fill mr-2 text-danger"></i>
            Thank you for reading!~
            <i class="bi bi-dice-6 ml-2"><i class="bi bi-dice-6"><i class="bi bi-dice-6"></i></i></i>
        </h5>
    </div>
</div>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Pacifico&display=swap" rel="stylesheet">
<style>
    .gideon-font{
        font-family: "Gideon Roman", serif;
        font-weight: 400;
        font-style: normal;
    }
    .pacifico-font {
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
    }
    .body-content {
        text-align: start;
        padding-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .starting-lineup {
        font-weight: bold; 
        color: dodgerblack;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .list {
        flex: 1;
        margin-right: 20px;
    }
    .image {
        max-width: 350px;
        height: auto;
        padding-right: 50px;
    }
</style>