<div class="card mt-2">
    <div class="card shadow-lg mx-auto mt-4 mb-1" style="max-width: 800px">
        <h5 class="card-header text-center fw-bold display-3 text-primary py-4 my-3 gideon-font">
            SPORTS
        </h5>   
    </div>
    <div class="text-muted text-start my-4 mx-5">
      <p class="mb-1" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-calendar-check mr-2"></i>Publish Date: </strong>19/12/2024</p>
      <p class="mb-0" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-file-person mr-2" ></i>Author: </strong>hoaglee666</p>
    </div>
    <div class="card-body">
        <div class="card-body text-center bg-secondary text-white pt-1 mb-2">  
            <div class="mb-3 display-4" style="font-weight: bold;">‘He’s not a dad’: Olympic gold medalist Trinity Rodman opens up on strained relationship with father Dennis Rodman</div>
            <div class="bg-dark text-white pb-1">
                <img src="/static/imgs/news/rodman1.jpg" style="max-width: 800px" alt="Suchir Balaji" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >Trinity Rodman looks on during the second half of the USWNT's quarterfinal match against Japan at the Olympic Games in Paris on August 3. <span style="font-style:italic;">John Todd/ISI/Getty Images</span></p>
                <p class="body-content">Trinity Rodman, the Olympic gold medal-winning soccer player and daughter of five-time NBA champion Dennis Rodman, has criticized her father for being absent for much of her life in the Call Her Daddy podcast.</p>
                <p class="body-content">“He’s not a dad. Maybe by blood, but nothing else,” she told host Alex Cooper. “Hearing his voice is painful.”</p>
                <p class="body-content">Despite her father reportedly earning more than $27 million in salary across his NBA career, per SpotRac, Trinity explained that she had at one point been forced to live in a car.</p>
                <p class="body-content">“We had (a Ford) Expedition and we kind of lived in that for a little bit,” she said. “We tried to live with him, but he’s having parties 24/7, he is bringing random b*tches in. He loves the spotlight. He loves the cameras.</p>
                <p class="body-content">“Before the divorce (from Trinity’s mother Michelle Moyer in 2012) happened, my dad was actually helping money wise,” she continued. “He would actually give money to my mom and let us kind of live life a little bit, but then when the divorce happened, it was just like, ‘F**k you guys.’</p>
                <p class="body-content">“I think he’s an extremely selfish human being,” she added. “I think everything has always been about him.”</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content">Trinity has 10 goals and nine assists in 45 appearances for the US Women’s National Team (USWNT). She was one of the stars of the team which took gold at the Paris Olympics this year, contributing three goals and one assist, including an extra-time winner in the quarterfinals against Japan.</p>
                <p class="body-content">When she was drafted by the Washington Spirit at 18 years old in 2021, she became the youngest player ever drafted into the NWSL at the time. That season, Dennis turned up unannounced to the Spirit’s playoffs quarterfinal match against the North Carolina Courage, having not spoken to his daughter in months.</p>
                <p class="body-content">“When he showed up at my game, I was, like, so mad,” remembered the Spirit forward. “I started crying on the field. So I’m trying to play the soccer game and I’m crying.”</p>
                <p class="body-content">“I was so mad. I was like ‘You took this happy moment from me. You f**ked with my head again,’” she said. “I’m walking over there (towards Dennis) so mad, like ‘F**k you.’ I walk over there, he grabs my head and I just start bawling into his arms as if it’s a daddy-daughter (moment).”</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <img src="/static/imgs/news/rodman2.jpg" style="max-width: 800px" alt="Suchir Balaji" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >Washington Spirit forward Trinity Rodman with her father Dennis after the NWSL playoffs quarterfinal between North Carolina Courage and Washington Spirit at Audi Field on November 7, 2021. <span style="font-style:italic;">Tony Quinn/ISI Photos/Getty Images</span></p>
                <p class="body-content">“After that, radio silence. I didn’t see him for, like… until this year,” she told Call Her Daddy host Cooper. “Stupid me for thinking that was gonna be some type of new spark. That was me every single time. He would come around, and I’d be like ‘Okay, here it is again. We’re gonna start something. He’s gonna be around.’ Boom, months and months and months (without speaking to him). This time, it was years.</p>
                <p class="body-content">“I think after that was when I lost hope in ever getting him back.”</p>
                <p class="body-content">Dennis met Trinity’s mother, Michelle Moyer, in 1999. Trinity’s brother – Dennis “DJ” Jr. – was born in 2001, followed a year later by Trinity. The couple married in 2003, before Moyer filed for divorce in 2004. After a period of reconciliation, they finalized the divorce in 2012.</p>
                <p class="body-content">The seven-time NBA rebounding champion, who did not meet his own father until his late 30s, has previously spoken out about his desire to be a better parent.</p>
                <p class="body-content">“For some reason, it’s very hard for me to break out of that cycle,” he told ESPN in 2019. “I never had anyone to ever do that for me.”</p>
                <hr style="border: solid 1px black; max-width: 300px">
            </div>
        </div>
    </div>
    <div class="card-footer text-muted text-center py-3 justify-content-center">
        <h5 class="card-footer text-center display-5 bg-light text-dark py-4 mt-3 pacifico-font">
            <i class="bi bi-heart-fill mr-2 text-danger"></i>
            Thank you for reading!~
            <i class="bi bi-dice-6 ml-2"><i class="bi bi-dice-6"><i class="bi bi-dice-6"></i></i></i>
        </h5>
    </div>
</div>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Pacifico&display=swap" rel="stylesheet">
<style>
    .gideon-font{
        font-family: "Gideon Roman", serif;
        font-weight: 400;
        font-style: normal;
    }
    .pacifico-font {
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
    }
    .body-content {
        text-align: start;
        padding-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .starting-lineup {
        font-weight: bold; 
        color: dodgerblack;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .list {
        flex: 1;
        margin-right: 20px;
    }
    .image {
        max-width: 350px;
        height: auto;
        padding-right: 50px;
    }
</style>