<div class="card mt-2">
    <div class="card shadow-lg mx-auto mt-4 mb-1" style="max-width: 800px">
        <a href="/articles/byCat?id=1" style="text-decoration: none;">
            <h5 class="card-header text-center fw-bold display-3 text-danger py-4 my-3 gideon-font">
                TECHNOLOGY
            </h5>   
        </a>     
    </div>
    <div class="text-muted text-start my-4 mx-5">
      <p class="mb-1" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-calendar-check mr-2"></i>Publish Date: </strong>19/12/2024</p>
      <p class="mb-0" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-file-person mr-2" ></i>Author: </strong>hoaglee666</p>
    </div>
    <div class="card-body">
        <div class="card-body text-center bg-secondary text-white pt-1 mb-2">  
            <div class="mb-3 display-4" style="font-weight: bold;">Supreme Court agrees to hear case over TikTok ban</div>
            <div class="bg-dark text-white pb-1">
                <img src="/static/imgs/news/tik1.jpg" style="max-width: 800px" alt="Suchir Balaji" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >Talia Cadet, TikTok creator and advocate, uses a phone outside of the US Court of Appeals as it hears TikTok Inc. v. Merrick Garland on September 16, 2024, in Washington. <span style="font-style:italic;">Kevin Dietsch/Getty Images</span></p>
                <p class="body-content">The Supreme Court on Wednesday agreed to decide whether a controversial ban on the social media app TikTok violates the First Amendment, adding a major case to its docket this term just before President-elect Donald Trump takes office.</p>
                <p class="body-content">The high court agreed to expedite the case and hear arguments on January 10.</p>
                <p class="body-content">TikTok’s appeal to the Supreme Court thrusts the justices into a high-profile fight between Congress, which has cited national security concerns over China’s control of the app, and the platform’s users and executives, who argue that the ban violates the First Amendment.</p>
                <p class="body-content">Congress passed the ban with bipartisan support earlier this year, and President Joe Biden signed it into law in April. The law came in response to years of concern in Washington that TikTok’s Chinese parent company poses a national security risk, though Congress has said the app could still operate in the US if it divests from Chinese ownership.</p>
                <p class="body-content">“One of the most important reasons why we study small bodies, like asteroids and comets, is because they tell us about how material is transported around the solar system,” said lead study author Darryl Seligman, a postdoctoral fellow of physics and astronomy at Michigan State University, East Lansing, in a statement.</p>
                <p class="body-content">Earlier this month, a federal appeals court in Washington, DC, unanimously upheld the ban in a ruling that said the government had a national security interest in regulating the platform in the United States.</p>
                <p class="body-content">Underscoring the significance of the case over TikTok’s fate, the court’s handling of the social media company’s appeal was unusual — and unusually fast.</p>
                <p class="body-content">In most cases, even emergency ones, the court reviews written briefings from both sides before deciding whether to hear arguments on its regular docket. In this case, it dispensed with that procedure and agreed to hear the appeal immediately.</p>
                <p class="body-content">In announcing it will hear arguments over the law’s constitutionality, the court also said it was deferring its consideration of whether to temporarily block the ban until the day of oral arguments, suggesting the justices could issue a ruling in the case mere days before the law is set to take effect on January 19.</p>
                <p class="body-content">The appeal landed on the high court’s emergency docket days after the DC Circuit Court of Appeals unanimously turned down the company’s request to temporarily block the law.</p>
                <p class="body-content">Michael Hughes, a spokesman for TikTok, said in a statement that the company is “pleased” that the court agreed to hear the case.</p>
                <p class="body-content">“We believe the Court will find the TikTok ban unconstitutional so the over 170 million Americans on our platform can continue to exercise their free speech rights,” he said.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size:30px">Trump looms large</p>
                <p class="body-content">Trump’s reelection will hang heavily over the legal fight because, while he has offered inconsistent views, he has recently seemed to warm to the platform. Trump will be inaugurated on January 20, a day after the law is set to take effect.</p>
                <p class="body-content">Trump met with TikTok CEO Shou Chew at Mar-a-Lago on Monday, a person familiar with the meeting told CNN. Hours earlier, the president-elect suggested during a news conference he might take a softer approach with the platform.</p>
                <p class="body-content">“You know, I have a warm spot in my heart for TikTok because I won youth by 34 points and there are those that say that TikTok has something to do with it,” Trump said during his first press conference since the election. (Trump lost 18-to-29-year-old voters to Vice President Kamala Harris by 11 points, according to CNN’s 2024 exit polls.)</p>
                <p class="body-content">Trump’s remarks have not gone unnoticed by TikTok’s attorneys, who told the Supreme Court in their emergency appeal earlier this week that blocking the law from taking effect is “appropriate” because it would give “the incoming administration time to determine its position, as the president-elect and his advisors have voiced support for saving” the app.</p>
                <p class="body-content">The law allows the president to issue a one-time extension of the January 19 deadline. But since Trump takes office a day after the ban’s effective date, his options appear to be more limited.</p>
                <p class="body-content">ByteDance, TikTok’s Chinese parent-company, has previously indicated it will not sell the platform.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size:30px">Major First Amendment dispute</p>
                <p class="body-content">The ban was widely expected to eventually reach the Supreme Court given the novel legal questions it raised about how sweeping First Amendment protections are.</p>
                <p class="body-content">The DC Circuit said in its decision on December 6 that the law did not run afoul of the Constitution, ruling that it satisfies a legal standard known as strict scrutiny that must be met for government restrictions on speech to stand.</p>
                <p class="body-content">“The Act was the culmination of extensive, bipartisan action by the Congress and by successive presidents. It was carefully crafted to deal only with control by a foreign adversary, and it was part of a broader effort to counter a well-substantiated national security threat posed by the (People’s Republic of China),” the ruling said. “Under these circumstances, the provisions of the Act that are before us withstand the most searching review.”</p>
                <p class="body-content">The high court has set aside two hours for arguments on the matter next month, though it’s possible that the justices will spend longer scrutinizing the law during the hearing.</p>
                <p class="body-content">In addition to hearing from attorneys for TikTok and the government, the court will also hear arguments from attorneys for users of the app who are challenging the ban. That group includes eight individuals who use TikTok and BASED Politics, Inc., a nonprofit that uses the app to promote libertarian politics.</p>
                <p class="body-content">The Supreme Court has repeatedly delved into social media and First Amendment fights in recent years, including with an important decision in June in which a majority of the court signaled it believed that the platforms enjoy at least some protection under the First Amendment.</p>
                <p class="body-content" style="font-style:italic;">This story has been updated with additional information.</p>
                <hr style="border: solid 1px black; max-width: 300px">
            </div>
        </div>
    </div>
    <div class="card-footer text-muted text-center py-3 justify-content-center">
        <h5 class="card-footer text-center display-5 bg-light text-dark py-4 mt-3 pacifico-font">
            <i class="bi bi-heart-fill mr-2 text-danger"></i>
            Thank you for reading!~
            <i class="bi bi-dice-6 ml-2"><i class="bi bi-dice-6"><i class="bi bi-dice-6"></i></i></i>
        </h5>
    </div>
</div>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Pacifico&display=swap" rel="stylesheet">
<style>
    .gideon-font{
        font-family: "Gideon Roman", serif;
        font-weight: 400;
        font-style: normal;
    }
    .pacifico-font {
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
    }
    .body-content {
        text-align: start;
        padding-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .starting-lineup {
        font-weight: bold; 
        color: dodgerblack;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .list {
        flex: 1;
        margin-right: 20px;
    }
    .image {
        max-width: 350px;
        height: auto;
        padding-right: 50px;
    }
</style>