<div class="jumbotron">
  <h1 class="display-4">Not found</h1>
  <p class="lead">You have no permission to access to this site!</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="/" role="button">Go back</a>
</div>