<div class="card mt-2">
    <div class="card shadow-lg mx-auto mt-4 mb-1" style="max-width: 800px">
        <h5 class="card-header text-center fw-bold display-3 text-primary py-4 my-3 gideon-font">
            <i class="bi bi-star-fill py-1 px-2"></i>
            Entertainment
            <i class="bi bi-star-fill py-1 px-2"></i>
        </h5>   
    </div>
    <div class="text-muted text-start my-4 mx-5">
      <p class="mb-1" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-calendar-check mr-2"></i>Publish Date: </strong>9/11/2024</p>
      <p class="mb-0" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-file-person mr-2" ></i>Author: </strong>hoaglee666</p>
    </div>
    <div class="card-body">
        <div class="card-body text-center bg-secondary text-white pt-1 mb-2">  
            <div class="mb-3 display-4" style="font-weight: bold;">Viral author who sold two books becomes bestseller</div>
            <div class="bg-dark text-white pb-1">
                <img src="/static/imgs/news/book1.webp" style="max-width: 800px" alt="Donny with da boys" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >Vicky Ball's novel Powerless became a bestseller on Amazon after her social media post went viral.</p>
                <p class="body-content">An aspiring author said seeing her novel become a bestseller after she went viral on social media was "a bit overwhelming" but "very exciting".</p>
                <p class="body-content">Vicky Ball, a former Suffolk school teacher who lives in Colchester, Essex, proudly posted on X after selling two of her books at an event in Chelmsford.</p>
                <p class="body-content">Since then the post has garnered more than 24 million views, been shared 31,000 times and received over 740,000 likes from people across the globe.</p>
                <p class="body-content">As a result of the extra attention, one of the 48-year-old's books, Powerless, shot up Amazon's teen and young adult fiction chart – much to her surprise.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <img src="/static/imgs/news/book2.webp" style="max-width: 800px" alt="Donny with da boys" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >Mrs Ball published Powerless before writing and releasing follow-up Abandoned.</p>
                <p class="body-content">Mrs Ball, who works at the University of Essex, said: "I sold two books, which I was really happy about, because sometimes I've had book events where I don't sell any.</p>
                <p class="body-content">"So, I just posted it on X and thought nothing of it and left it. But then a few days later I woke up and checked my phone and it was going a bit crazy.</p>
                <p class="body-content">"I was completely surprised really and it was all a bit overwhelming - I was just amazed and couldn't believe it."</p>
                <p class="body-content">Mrs Ball, who has always enjoyed writing and "loves creating new stories", finished her first novel during lockdown before landing a small publishing deal.</p>
                <p class="body-content">Powerless is a thriller filled with "lots of twists" about a missing girl who returns home, while her second book Abandoned centres on an alcoholic mum with a dark secret.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <img src="/static/imgs/news/book3.webp" style="max-width: 800px" alt="Donny with da boys" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >Powerless features "lots of twists" and follows the story of a missing girl who returns home after seven years.</p>
                <p class="body-content">Since becoming a viral sensation, copies of her debut offering have been purchased by book-lovers from all over the world, including America, Belgium and Columbia.</p>
                <p class="body-content">"It's been so lovely reading all the messages of support and it's been generally very positive, the majority of the people have been really happy for me," she added.</p>
                <p class="body-content">"Social media can be a really positive place, especially on X because there's a big writing community and we are very supportive of each other.</p>
                <p class="body-content">"I am quite happy at the moment doing a master's in creative writing and working at the university, but I have some ideas for some other books in the pipeline."</p>
                <hr style="border: solid 1px black; max-width: 300px">
            </div>
        </div>
    </div>
    <div class="ml-4 my-2">
        <p class="">Comments section~</p>
    </div>
    <div class="comments-sec">
        <a href="#" class="btn btn-sm- btn-success ml-2 my-2" role="button">Comment your feelings here!~ <i class="bi bi-pencil-square"></i></a>
    </div>
    <div class="card-footer text-muted text-center py-3 justify-content-center">
        <h5 class="card-footer text-center display-5 bg-light text-dark py-4 mt-3 pacifico-font">
            <i class="bi bi-heart-fill mr-2 text-danger"></i>
            Thank you for reading!~
            <i class="bi bi-dice-6 ml-2"><i class="bi bi-dice-6"><i class="bi bi-dice-6"></i></i></i>
        </h5>
    </div>
</div>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Pacifico&display=swap" rel="stylesheet">
<style>
    .gideon-font{
        font-family: "Gideon Roman", serif;
        font-weight: 400;
        font-style: normal;
    }
    .pacifico-font {
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
    }
    .body-content {
        text-align: start;
        padding-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .starting-lineup {
        font-weight: bold; 
        color: dodgerblack;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .list {
        flex: 1;
        margin-right: 20px;
    }
    .image {
        max-width: 350px;
        height: auto;
        padding-right: 50px;
    }
</style>