<div class="card mt-2">
    <div class="card shadow-lg mx-auto mt-4 mb-0" style="max-width: 800px;">
        <h5 class="card-header text-center fw-bold display-2 bg-dark text-white pb-0 gideon-font">
            <i class="bi bi-trophy-fill py-6 px-auto"></i>
            Champions League 24/25
            <i class="bi bi-trophy-fill py-6 px-auto"></i>
        </h5>
    </div>
    <div class="text-muted text-start my-4 mx-5">
      <p class="mb-1" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-calendar-check mr-2"></i>Publish Date: </strong>9/11/2024</p>
      <p class="mb-0" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-file-person mr-2" ></i>Author: </strong>hoaglee666</p>
    </div>
    <div class="card-body">
        <div class="card-body text-center bg-secondary text-white pt-1 mb-2">  
            <div class="mb-3 display-4">Matchday 6 results:</div>
            <div class="bg-dark text-white pb-1">
                <p class="body-content" >
                    Day 6 of the Champions League league phase is being played this week,
                    with Paris Saint-Germain winning 0-3 against RB Salzburg at the Red Bull on Tuesday.
                    Here are the results of the first matches before those played on Wednesday.
                </p>
                <hr style="border: solid 1px blue; max-width: 300px">
                <p class="body-content" style="padding-top: 0">Tuesday, December 10 results:</p>
                <img src="/static/imgs/news/tuesday-ucl.jpg" alt="Tuesday's Matchday 6" class="mb-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight: bold" >Champions League - Tuesday's Matchday 6 results</p>
                <hr style="border: solid 1px blue; max-width: 300px">
                <p class="body-content" style="padding-top: 0">Wednesday, December 11 results:</p>
                <img src="/static/imgs/news/wednesday-ucl.jpg" alt="Wednesday's Matchday 6" class="mb-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight: bold" >Champions League - Wednesday's Matchday 6 results</p>
                <hr style="border: solid 1px blue; max-width: 300px">
                <p class="body-content" style="font-weight: bold">A reminder of how this new league phase (which replaces the groups) works:</p>
                <div class="body-content">
                    <span style="text-align: start;font-weight: bold">UEFA website - </span>
                    <blockquote style="padding-top: 10px">
                        “With the new format, teams will play eight matches in the new league phase (formerly group phase). They will no longer face three opponents twice – home and away – but eight different teams, playing half of these matches at home and the other half away.”
                    </blockquote>
                </div>
                <hr style="border: solid 1px blue; max-width: 300px">
                <p class="body-content">Qualifying by ranking:</p>
                <p style="text-align: start; padding-bottom: 15px; margin-left: 2rem;
        margin-right: 2rem;">
                    <span style="font-weight: bold;">1st to 8th: </span>
                    qualification for the Round of 8.
                </p>
                <p style="text-align: start; padding-bottom: 15px; margin-left: 2rem;
        margin-right: 2rem;">
                    <span style="font-weight: bold;">9th to 24th: </span>
                    qualification for a two-legged play-off round.
                </p>
                <p style="text-align: start; padding-bottom: 15px; margin-left: 2rem;
        margin-right: 2rem;">
                    <span style="font-weight: bold;">25th to 36th: </span>
                    elimination from all European competitions.
                </p>
                <hr style="border: solid 1px blue; max-width: 300px">
                <div class="body-content">
                    <p style="font-weight: bold; padding-bottom: 15px">Starting line-ups:</p>
                    <p style="font-weight: bold; padding-bottom: 20px">Wednesday 11 December</p>
                    <p class="starting-lineup" style="padding-top: 20px;">Atlético de Madrid vs Slovan Bratislava</p>
                    <p><span class="starting-lineup">Atlético</span>: Oblak; Llorente, Giménez, Lenglet, Javi Galán; Simeone, Barrios, De Paul, Lino; Griezmann, Alvarez</p>
                    <p><span class="starting-lineup" >Slovan Bratislava</span>: Takáč; Ihnatenko, Kashia, Bajrić; Blackman, Kucka, Savvidis, Medveděv; Barseghyan, Strelec, Mak</p>
                    <p class="starting-lineup" style="padding-top: 20px;">Lille vs Sturm Graz</p>
                    <p><span class="starting-lineup">Lille</span>: Chevalier; Meunier, Diakité, Alexsandro, Bakker, Ismaily; Cabella, André, Bouaddi, Sahraoui; David</p>
                    <p><span class="starting-lineup">Sturm Graz</span>: Khudiakov; Johnston, Geyrhofer, Wüthrich, Lavalée; Stanković, Chukwuani, Yalcouye, Kiteishvili; Biereth, Bøving</p>
                    <p class="starting-lineup" style="padding-top: 20px;">AC Milan vs Crvena Zvezda</p>
                    <p><span class="starting-lineup">AC Milan</span>: Maignan; Calabria, Gabbia, Thiaw, Hernández; Fofana, Reijnders; Musah, Loftus-Cheek, Rafael Leão; Morata</p>
                    <p><span class="starting-lineup" >Crvena Zvezda</span>: Guteša; Mimović, Djiga, Spajić, Seol; Krunić, Elšnik; Silas, Maksimović, Felício Milson; Ndiaye</p>
                    <p class="starting-lineup" style="padding-top: 20px;">Arsenal vs Monaco</p>
                    <p><span class="starting-lineup">Arsenal</span>: Raya; Partey, Saliba, Kiwior, Lewis-Skelly; Ødegaard, Merino, Rice; Saka, Jesus, Martinelli</p>
                    <p><span class="starting-lineup">Monaco</span>: Majecki; Vanderson, Kehrer, Salisu, Caio Henrique; Magassa, Camara; Akliouche, Golovin, Ben Seghir; Embolo</p>
                    <p class="starting-lineup" style="padding-top: 20px;">Borussia Dortmund vs Barcelona</p>
                    <p><span class="starting-lineup">Borussia Dortmund</span>: Kobel; Ryerson, Can, Schlotterbeck, Bensebaini; Sabitzer, Nmecha, Duranville; Reyna, Guirassy, Gittens</p>
                    <p><span class="starting-lineup" >Barcelona</span>: Iñaki Peña; Koundé, Cubarsí, Iñigo Martínez, Balde; Casadó, Pedri; Yamal, Olmo, Raphinha; Lewandowski</p>
                    <p class="starting-lineup" style="padding-top: 20px;">Feyenoord vs Sparta Praha</p>
                    <p><span class="starting-lineup">Feyenoord</span>: Wellenreuther; Nieuwkoop, Trauner, Hancko, Smal; Hwang, Milambo, Timber; Hadj Moussa, Giménez, Paixão</p>
                    <p><span class="starting-lineup">Sparta Praha</span>: Vindahl; Vitík, Sørensen, Cobbaut; Wiesner, Sadílek, Solbakken, Kairinen, Ryneš; Rrahmani, Birmančević</p>
                    <p class="starting-lineup" style="padding-top: 20px;">Juventus vs Manchester City</p>
                    <p><span class="starting-lineup">Juventus</span>:  Di Gregorio; Savona, Kalulu, Gatti, Danilo; Locatelli, Koopmeiners, Thuram; Francisco Conceição, Vlahović, Kenan Yildiz</p>
                    <p><span class="starting-lineup" >Man City</span>: Ederson; Walker, Rúben Dias, Gvardiol, Lewis; De Bruyne, Gündoğan, Bernardo Silva; Doku, Haaland, Grealish</p>
                    <p class="starting-lineup" style="padding-top: 20px;">Benfica vs Bologna</p>
                    <p><span class="starting-lineup">Benfica</span>: Trubin; Bah, Tomás Araújo, Otamendi, Carreras; Aursnes, Florentino, Orkun Kökçü; Kerem Aktürkoğlu, Pavlidis, Di María</p>
                    <p><span class="starting-lineup">Bologna</span>: Skorupski; Posch, Beukema, Casale, Holm; Ferguson, Moro; Urbański, Fabbian, Iling-Junior; Dallinga</p>
                    <p class="starting-lineup" style="padding-top: 20px;">Stuttgart vs Young Boys</p>
                    <p><span class="starting-lineup">Stuttgart</span>: Nübel; Mittelstädt, Chabot, Rouault, Vagnoman; Stiller, Karazor; Führich, Millot, Reider; Demirović</p>
                    <p><span class="starting-lineup">Young Boys</span>: Von Ballmoos; Hadjam, Benito, Camara, Athekame; Ugrinic, Lakomy; Monteiro, Imeri, Virginius; Itten</p>
                    <p style="font-weight: bold; padding-bottom: 20px; padding-top: 20px">Tuesday 10 December</p>
                    <p class="starting-lineup" style="padding-top: 20px;">Girona vs Liverpool</p>
                    <p><span class="starting-lineup">Girona</span>: Gazzaniga; Alejandro Francés, Juanpe, Krejčí, Blind; Van de Beek, Oriol Romeu, Miguel Gutiérrez; Asprilla, Bryan Gil; Danjuma</p>
                    <p><span class="starting-lineup">Liverpool</span>: Alisson Becker; Alexander-Arnold, Gomez, Van Dijk, Robertson; Szoboszlai, Gravenberch, Jones; Salah, Núñez, Luis Díaz</p>
                    <p class="starting-lineup" style="padding-top: 20px;">GNK Dinamo vs Celtic</p>
                    <p><span class="starting-lineup">GNK Dinamo</span>: Zagorac; Špikić, Ristovski, Bernauer, Théophile-Catherine, Pierre-Gabriel; Kačavenda, Rog, Baturina; Kulenović, Pjaca</p>
                    <p><span class="starting-lineup">Celtic</span>: Schmeichel; Johnston, Carter-Vickers, Trusty, Taylor; Bernardo, McGregor, Hatate; Kühn, Furuhashi, Maeda</p>
                    <p class="starting-lineup" style="padding-top: 20px;">Atalanta vs Real Madrid</p>
                    <p><span class="starting-lineup">Atalanta</span>: Carnesecchi; Djimsiti, Hien, Kolašinac; Bellanova, De Roon, Éderson, Ruggeri; Pašalić; De Ketelaere, Lookman</p>
                    <p><span class="starting-lineup">Real Madrid</span>: Courtois; Lucas Vázquez, Rüdiger, Tchouaméni, Fran García; Valverde, Ceballos, Bellingham; Brahim Díaz, Mbappé, Vinícius Júnior</p>
                    <p class="starting-lineup" style="padding-top: 20px;">Bayer Leverkusen vs Inter</p>
                    <p><span class="starting-lineup">Leverkusen</span>: Kovář; Mukiele, Tapsoba, Tah, Hincapie, Grimaldo; Palacios, Xhaka; Frimpong, Wirtz; Tella</p>
                    <p><span class="starting-lineup">Inter</span>: Sommer; Bisseck, De Vrij, Bastoni; Darmian, Frattesi, Çalhanoğlu, Zieliński, Augusto; Thuram, Taremi</p>
                    <p class="starting-lineup" style="padding-top: 20px;">Club Brugge vs Sporting CP</p>
                    <p><span class="starting-lineup">Club Brugge</span>: Mignolet; Seys, Ordoñez, Mechele; Skov Olsen, Jashari, Vanaken, Onyedika, De Cuyper; Jutglà, Tzolis</p>
                    <p><span class="starting-lineup">Sporting CP</span>: Israel; Eduardo Quaresma, Diomande, Gonçalo Inácio; Catamo, Hjulmand, João Simões, Geovany Quenda; Araújo, Francisco Trincão; Gyökeres</p>
                    <p class="starting-lineup" style="padding-top: 20px;">Salzburg vs Paris Saint-Germain</p>
                    <p><span class="starting-lineup">Benfica</span>: Schlager; Capaldo, Dedić, Baidoo, Guindo; Bidstrup, Gourna-Douath; Yeo, Gloukh, Nene; Ratkov</p>
                    <p><span class="starting-lineup">Bologna</span>: Donnarumma; Hakimi, Marquinhos, Pacho, Nuno Mendes; Vitinha, João Neves, Fabián Ruiz; Lee, Gonçalo Ramos, Barcola</p>
                    <p class="starting-lineup" style="padding-top: 20px;">Shakhtar Donetsk vs Bayern München</p>
                    <p><span class="starting-lineup">Shakhtar</span>: Riznyk; Konoplia, Bondar, Matviyenko, Ghram; Gomes; Zubkov, Bondarenko, Sudakov, Kevin; Sikan</p>
                    <p><span class="starting-lineup">Bayern München</span>: Peretz; Laimer, Upamecano, Kim, Guerreiro; Goretzka, Kimmich; Olise, Sané; Müller, Musiala</p>
                    <p class="starting-lineup" style="padding-top: 20px;">Leipzig vs Aston Villa</p>
                    <p><span class="starting-lineup">Leipzig</span>: Gulácsi; Seiwald, Orbán, Geertruida; Henrichs, Vermeeren, Haidara, Nusa; Baumgartner, Šeško, Openda</p>
                    <p><span class="starting-lineup">Aston Villa</span>: Martínez; Konsa, Pau Torres, Diego Carlos; Cash, Kamara, Tielemans, Digne; Rogers, McGinn; Watkins</p>
                    <p class="starting-lineup" style="padding-top: 20px;">Brest vs PSV Eindhoven</p>
                    <p><span class="starting-lineup">Brest</span>: Bizot; Fernandes, Chardonnet, Le Cardinal, Ndiaye, Haïdara; Camara, Magnetti; Del Castillo, Doumbia; Baldé</p>
                    <p><span class="starting-lineup">PSV Eindhoven</span>: Benítez; Karsdorp, Flamingo, Boscagli, Dams; Saibari, Mauro Júnior, Tillman; Bakayoko, De Jong, Lang</p>
                </div>
            </div>
        </div>
    </div>
    <div class="ml-4 my-2">
        <p class="">Comments section~</p>
    </div>
    <div class="comments-sec">
        <a href="/lastest/c1" class="btn btn-sm- btn-success ml-2 my-2" role="button">Comment your feelings here!~ <i class="bi bi-pencil-square"></i></a>
    </div>
    <div class="card-footer text-muted text-center py-3 justify-content-center">
        <h5 class="card-footer text-center display-5 bg-light text-dark py-4 mt-3 pacifico-font">
            <i class="bi bi-heart-fill mr-2 text-danger"></i>
            Thank you for reading!~
            <i class="bi bi-dice-6-fill ml-2"><i class="bi bi-dice-6-fill"><i class="bi bi-dice-6-fill"></i></i></i>
        </h5>
    </div>
</div>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Pacifico&display=swap" rel="stylesheet">
<style>
    .gideon-font{
        font-family: "Gideon Roman", serif;
        font-weight: 400;
        font-style: normal;
    }
    .pacifico-font {
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
    }
    .body-content {
        text-align: start;
        padding-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .starting-lineup {
        font-weight: bold; 
        color: dodgerblue;
        padding-top: 5px;
        padding-bottom: 5px;
    }
</style>