<div class="card mt-2">
    <div class="card shadow-lg mx-auto mt-4 mb-1" style="max-width: 800px">
        <h5 class="card-header text-center fw-bold display-3 text-primary py-4 my-3 gideon-font">
            Entertainment
        </h5>   
    </div>
    <div class="text-muted text-start my-4 mx-5">
      <p class="mb-1" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-calendar-check mr-2"></i>Publish Date: </strong>9/11/2024</p>
      <p class="mb-0" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-file-person mr-2" ></i>Author: </strong>hoaglee666</p>
    </div>
    <div class="card-body">
        <div class="card-body text-center bg-secondary text-white pt-1 mb-2">  
            <div class="mb-3 display-4" style="font-weight: bold;">Harry Potter TV show to start filming in summer</div>
            <div class="bg-dark text-white pb-1">
                <img src="/static/imgs/news/hp1.webp" style="max-width: 800px" alt="Suchir Balaji" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >Emma Watson, Daniel Radcliffe and Chris Rankin acted in the original Harry Potter films.</p>
                <p class="body-content">Production of the new HBO TV series of Harry Potter will begin in summer 2025 at a UK studio, it has been announced.</p>
                <p class="body-content">The programme will be filmed at Warner Bros Studios Leavesden in Hertfordshire, which is where the eight Harry Potter movies were also shot.</p>
                <p class="body-content">Warner Bros' streaming service Max said the new, decade-long series would be "a faithful adaptation of the iconic books" by author JK Rowling.</p>
                <p class="body-content">It will feature a brand new cast, with 32,000 children having auditioned for the lead roles following an open casting call in September, according to HBO.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content">On Thursday, Max posted to X: "Wands at the ready.</p>
                <p class="body-content">"The upcoming HBO Original Series, #HarryPotter, will be filming at Warner Bros. Studios Leavesden with production beginning in Summer 2025 and coming to Max."</p>
                <p class="body-content">Warner Bros is the production company behind the original films, starring Daniel Radcliffe, Emma Watson and Rupert Grint.</p>
                <p class="body-content">Grint, who was 12, applied for the role after seeing a Newsround report about the open casting.</p>
                <p class="body-content">This time the TV casting call stipulated that applicants must be residents of the UK or Ireland aged between nine and 11 by April 2025.</p>
                <p class="body-content">HBO said the casting team had been reviewing up to 1,000 tapes per day after thousands of children applied.</p>
                <img src="/static/imgs/news/hp2.webp" style="max-width: 800px" alt="Suchir Balaji" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >The original Harry Potter films were also made at Warner Bros studios in Hertfordshire, near London.</p>
                <p class="body-content">The TV series was announced in 2023, with Max saying at the time that it would "lead a new generation of fandom, full of the fantastic detail, much loved characters and dramatic locations that Harry Potter fans have loved for over 25 years".</p>
                <p class="body-content">It is expected that there will be seven series of the show, each season adapting one of the Harry Potter books by JK Rowling.</p>
                <p class="body-content">"Each season will be authentic to the original books and bring Harry Potter and these incredible adventures to new audiences around the world," added Max.</p>
                <p class="body-content">Francesca Gardiner and Mark Mylod, who both worked on acclaimed drama Succession, were confirmed as executive producers of the series earlier in the year.</p>
                <p class="body-content">The cast of beloved characters including Harry Potter, Ron Weasley and Hermione Granger - played by Radcliffe, Grint and Watson, respectively - will be announced at a later date.</p>
                <hr style="border: solid 1px black; max-width: 300px">
            </div>
        </div>
    </div>
    <div class="ml-4 my-2">
        <p class="">Comments section~</p>
    </div>
    <div class="comments-sec">
        <a href="#" class="btn btn-sm- btn-success ml-2 my-2" role="button">Comment your feelings here!~ <i class="bi bi-pencil-square"></i></a>
    </div>
    <div class="card-footer text-muted text-center py-3 justify-content-center">
        <h5 class="card-footer text-center display-5 bg-light text-dark py-4 mt-3 pacifico-font">
            <i class="bi bi-heart-fill mr-2 text-danger"></i>
            Thank you for reading!~
            <i class="bi bi-dice-6 ml-2"><i class="bi bi-dice-6"><i class="bi bi-dice-6"></i></i></i>
        </h5>
    </div>
</div>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Pacifico&display=swap" rel="stylesheet">
<style>
    .gideon-font{
        font-family: "Gideon Roman", serif;
        font-weight: 400;
        font-style: normal;
    }
    .pacifico-font {
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
    }
    .body-content {
        text-align: start;
        padding-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .starting-lineup {
        font-weight: bold; 
        color: dodgerblack;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .list {
        flex: 1;
        margin-right: 20px;
    }
    .image {
        max-width: 350px;
        height: auto;
        padding-right: 50px;
    }
</style>