<div class="card mt-2">
    <div class="card shadow-lg mx-auto mt-4 mb-1" style="max-width: 800px">
        <h5 class="card-header text-center fw-bold display-3 text-primary py-4 my-3 gideon-font">
            Sport
        </h5>   
    </div>
    <div class="text-muted text-start my-4 mx-5">
      <p class="mb-1" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-calendar-check mr-2"></i>Publish Date: </strong>9/11/2024</p>
      <p class="mb-0" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-file-person mr-2" ></i>Author: </strong>hoaglee666</p>
    </div>
    <div class="card-body">
        <div class="card-body text-center bg-secondary text-white pt-1 mb-2">  
            <div class="mb-3 display-4" style="font-weight: bold;">'Politics is not our job' - Germany captain Kimmich</div>
            <div class="bg-dark text-white pb-1">
                <img src="/static/imgs/news/kimmich1.webp" style="max-width: 800px" alt="Suchir Balaji" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 0; font-weight:lighter;" >Joshua Kimmich (bottom left) was among the Germany players to protest in 2022, with goalkeeper Manuel Neuer captain at the time.</p>
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >13 November 2024.</p>
                <p class="body-content" style="font-weight:bold;">Germany captain Joshua Kimmich says he and his team-mates should not have "expressed political opinions" during the 2022 Fifa World Cup in Qatar.</p>
                <p class="body-content">Captains of seven European nations planned to wear 'OneLove' armbands symbolising diversity and tolerance during the tournament, as homosexuality is illegal in Qatar.</p>
                <p class="body-content">After world governing body Fifa threatened sanctions against players who wore the armbands, Germany's players placed their hands over the mouths during a team photo before their opening-game defeat by Japan.</p>
                <p class="body-content">"We wanted to convey the message that Fifa is silencing teams," then head coach Hansi Flick said after the game.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <img src="/static/imgs/news/kimmich2.jpg" style="max-width: 800px" alt="openai" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >Germany manager Hansi Flick.</p>
                <p class="body-content">Speaking before Germany's upcoming Uefa Nations League games, Kimmich said he regretted making the gesture.</p>
                <p class="body-content">"In general us players should stand for specific values, especially as the captain of the national team. But it is not our job to express ourselves politically all the time," Kimmich told a press conference.</p>
                <p class="body-content">"Look at the issue of Qatar. We did not present an overall good picture as a team and country. We expressed political opinions and it took a bit away from the joy of the tournament. It was an outstanding World Cup in terms of organisation.</p>
                <p class="body-content">"Western countries represent views which we think are universal and should be true everywhere. We as a country are feeling that we also have problems, our own building sites. So it is maybe good to focus on that.</p>
                <p class="body-content">"In the past we did not do everything right, you want to stand for values that are non-negotiable but we have people who should deal with politics and they are the experts. I am no political expert."</p>
                <p class="body-content">Kimmich's comments came after he was asked about the 2034 World Cup, with Saudi Arabia set to be confirmed as hosts at the Fifa Congress vote next month as the only candidates.</p>
                <img src="/static/imgs/news/kimmich3.jpg" style="max-width: 300px" alt="openai" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >Joshua Kimmich, right-back or midfielder for Bayern München and captain of the Germany national team.</p>
                <p class="body-content">Human rights groups, including Amnesty International, have expressed concerns about the country's human rights record and the treatment of migrant workers on construction sites.</p>
                <p class="body-content">"I would wish that those lads who will take part in the tournament in 10 years' time can focus on the competition. After all it is our duty to do our best when nominated because we are measured on results," Kimmich said.</p>
                <p class="body-content">Saudi Arabia denies accusations of human rights abuses and says it protects its national security through its laws.</p>
                <p class="body-content">Germany will play Bosnia-Herzegovina and Hungary on Saturday and Tuesday respectively in Uefa Nations League Group A3.</p>
                <hr style="border: solid 1px black; max-width: 300px">
            </div>
        </div>
    </div>
    <div class="ml-4 my-2">
        <p class="">Comments section~</p>
    </div>
    <div class="comments-sec">
        <a href="#" class="btn btn-sm- btn-success ml-2 my-2" role="button">Comment your feelings here!~ <i class="bi bi-pencil-square"></i></a>
    </div>
    <div class="card-footer text-muted text-center py-3 justify-content-center">
        <h5 class="card-footer text-center display-5 bg-light text-dark py-4 mt-3 pacifico-font">
            <i class="bi bi-heart-fill mr-2 text-danger"></i>
            Thank you for reading!~
            <i class="bi bi-dice-6 ml-2"><i class="bi bi-dice-6"><i class="bi bi-dice-6"></i></i></i>
        </h5>
    </div>
</div>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Pacifico&display=swap" rel="stylesheet">
<style>
    .gideon-font{
        font-family: "Gideon Roman", serif;
        font-weight: 400;
        font-style: normal;
    }
    .pacifico-font {
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
    }
    .body-content {
        text-align: start;
        padding-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .starting-lineup {
        font-weight: bold; 
        color: dodgerblack;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .list {
        flex: 1;
        margin-right: 20px;
    }
    .image {
        max-width: 350px;
        height: auto;
        padding-right: 50px;
    }
</style>