<div class="card mt-2">
    <div class="card shadow-lg mx-auto mt-4 mb-1" style="max-width: 800px">
        <a href="/articles/byCat?id=1" style="text-decoration: none;">
            <h5 class="card-header text-center fw-bold display-3 text-danger py-4 my-3 gideon-font">
                TECHNOLOGY
            </h5>   
        </a>   
    </div>
    <div class="text-muted text-start my-4 mx-5">
      <p class="mb-1" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-calendar-check mr-2"></i>Publish Date: </strong>9/11/2024</p>
      <p class="mb-0" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-file-person mr-2" ></i>Author: </strong>hoaglee666</p>
    </div>
    <div class="card-body">
        <div class="card-body text-center bg-secondary text-white pt-1 mb-2">  
            <div class="mb-3 display-4" style="font-weight: bold;">OpenAI whistleblower found dead in San Francisco apartment</div>
            <div class="bg-dark text-white pb-1">
                <img src="/static/imgs/news/openai1.webp" style="max-width: 800px" alt="Suchir Balaji" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >Mr. Suchir Balaji, 26.</p>
                <p class="body-content">An OpenAI researcher-turned-whistleblower has been found dead in an apartment in San Francisco, authorities said.</p>
                <p class="body-content">The body of Suchir Balaji, 26, was discovered on 26 November after police said they received a call asking officers to check on his wellbeing.</p>
                <p class="body-content">The San Francisco medical examiner's office determined his death to be suicide and police found no evidence of foul play.</p>
                <p class="body-content">In recent months Mr Balaji had publicly spoken out against artificial intelligence company OpenAI's practices, which has been fighting a number of lawsuits relating to its data-gathering practices.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <img src="/static/imgs/news/openai2.webp" style="max-width: 800px" alt="openai" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >OpenAI.</p>
                <p class="body-content">In October, the New York Times published an interview with Mr Balaji in which he alleged that OpenAI had violated US copyright law while developing its popular ChatGPT online chatbot.</p>
                <p class="body-content">The article said that after working at the company for four years as a researcher, Mr Balaji had come to the conclusion that "OpenAI's use of copyrighted data to build ChatGPT violated the law and that technologies like ChatGPT were damaging the internet".</p>
                <p class="body-content">OpenAI says its models are "trained on publicly available data".</p>
                <p class="body-content">Mr Balaji left the company in August, telling the New York Times he had since been working on personal projects.</p>
                <p class="body-content">He grew up in Cupertino, California, before going to study computer science at the University of California, Berkeley.</p>
                <p class="body-content">A spokesperson for OpenAI said in a statement cited by CNBC News that it was "devastated to learn of this incredibly sad news today and our hearts go out to Suchir's loved ones during this difficult time".</p>
                <p class="body-content">Judge Kaplan noted that the definition of rape was "far narrower" than how rape is defined in common modern parlance, in some dictionaries and in criminal statutes elsewhere.</p>
                <p class="body-content">US and Canadian news publishers, including the New York Times, and a group of best-selling writers, including John Grisham, have filed lawsuits claiming the company was illegally using news articles to train its software.</p>
                <p class="body-content">OpenAI told the BBC in November its software is "grounded in fair use and related international copyright principles that are fair for creators and support innovation".</p>
                <p class="body-content" style="font-weight: bolder;">If you've been affected by the issues in this story or facing the same difficulties, help and support is available via the tel number 113, you are not alone.</p>
                <hr style="border: solid 1px black; max-width: 300px">
            </div>
        </div>
    </div>
    <div class="ml-4 my-2">
        <p class="">Comments section~</p>
    </div>
    <div class="comments-sec">
        <a href="#" class="btn btn-sm- btn-success ml-2 my-2" role="button">Comment your feelings here!~ <i class="bi bi-pencil-square"></i></a>
    </div>
    <div class="card-footer text-muted text-center py-3 justify-content-center">
        <h5 class="card-footer text-center display-5 bg-light text-dark py-4 mt-3 pacifico-font">
            <i class="bi bi-heart-fill mr-2 text-danger"></i>
            Thank you for reading!~
            <i class="bi bi-dice-6 ml-2"><i class="bi bi-dice-6"><i class="bi bi-dice-6"></i></i></i>
        </h5>
    </div>
</div>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Pacifico&display=swap" rel="stylesheet">
<style>
    .gideon-font{
        font-family: "Gideon Roman", serif;
        font-weight: 400;
        font-style: normal;
    }
    .pacifico-font {
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
    }
    .body-content {
        text-align: start;
        padding-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .starting-lineup {
        font-weight: bold; 
        color: dodgerblack;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .list {
        flex: 1;
        margin-right: 20px;
    }
    .image {
        max-width: 350px;
        height: auto;
        padding-right: 50px;
    }
</style>