<div class="card mt-2">
    <div class="card shadow-lg mx-auto mt-4 mb-1" style="max-width: 800px;">
        <h5 class="card-header text-center fw-bold display-3 bg-danger text-primary py-4 my-3 gideon-font">
            <i class="bi bi-stars py-1 px-2"></i>
            Oscars 2024
            <i class="bi bi-stars py-1 px-2"></i>
        </h5>   
    </div>
    <div class="text-muted text-start my-4 mx-5">
      <p class="mb-1" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-calendar-check mr-2"></i>Publish Date: </strong>9/11/2024</p>
      <p class="mb-0" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-file-person mr-2" ></i>Author: </strong>hoaglee666</p>
    </div>
    <div class="card-body">
        <div class="card-body text-center bg-secondary text-white pt-1 mb-2">  
            <div class="mb-3 display-4" style="font-weight: bold;">The full list of winners and nominees at the Oscars 2024</div>
            <div class="bg-dark text-white pb-1">
                <img src="/static/imgs/news/oscars1.webp" style="max-width: 800px" alt="Tuesday's Matchday 6" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >Da'Vine Joy Randolph won best supporting actress for The Holdovers</p>
                <p class="body-content" style="font-weight: bold;">
                    Hollywood's finest have been rewarded with golden statuettes at the Oscars in Los Angeles' Dolby Theatre. Here is the full list of winners, as well as all the nominees.
                </p>
                <p class="body-content">Here is the full list of winners, as well as all the nominees:</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="margin-bottom: 0; font-weight: bold;">Best picture</p>
                <div class="container">
                    <ul class="body-content list" style="list-style-type: hiragana; padding-left: 15px">
                        <li style="font-weight:bold; list-style-type:katakana-iroha">Winner: Oppenheimer</li>
                        <li>American Fiction</li>
                        <li>Anatomy of a Fall</li>
                        <li>Barbie</li>
                        <li>The Holdovers</li>
                        <li>Killers of the Flower Moon</li>
                        <li>Maestro</li>
                        <li>Past Lives</li>
                        <li>Poor Things</li>
                        <li>The Zone of Interest</li>
                    </ul>
                    <img src="/static/imgs/news/oppenheimer-poster.jpg" alt="Oppenheimer Poster" class="image">
                </div>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="margin-bottom: 0; font-weight: bold;">Best actress</p>
                <div class="container">
                    <ul class="body-content list" style="list-style-type: hiragana; padding-left: 15px">
                        <li style="font-weight:bold; list-style-type:katakana-iroha">Winner: Emma Stone - Poor Things</li>
                        <li>Annette Bening - Nyad</li>
                        <li>Lily Gladstone - Killers of the Flower Moon</li>
                        <li>Sandra Huller - Anatomy of a Fall</li>
                        <li>Carey Mulligan - Maestro</li>
                    </ul>
                    <img src="/static/imgs/news/emma-stone.jpg" alt="Emma Stone" class="image">
                </div>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="margin-bottom: 0; font-weight: bold;">Best actor</p>
                <div class="container">
                    <ul class="body-content list" style="list-style-type: hiragana; padding-left: 15px">
                        <li style="font-weight:bold; list-style-type:katakana-iroha">Winner: Cillian Murphy - Oppenheimer</li>
                        <li>Bradley Cooper - Maestro</li>
                        <li>Colman Domingo - Rustin</li>
                        <li>Paul Giamatti - The Holdovers</li>
                        <li>Jeffrey Wright - American Fiction</li>
                    </ul>
                    <img src="/static/imgs/news/cillian-murphy.jpg" alt="Cillian Murphy" class="image">
                </div>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="margin-bottom: 0; font-weight: bold;">Best supporting actress</p>
                <div class="container">
                    <ul class="body-content list" style="list-style-type: hiragana; padding-left: 15px">
                        <li style="font-weight:bold; list-style-type:katakana-iroha">Winner: Da'Vine Joy Randolph - The Holdovers</li>
                        <li>Emily Blunt - Oppenheimer</li>
                        <li>Danielle Brooks - The Color Purple</li>
                        <li>America Ferrera - Barbie</li>
                        <li>Jodie Foster - Nyad</li>
                    </ul>
                    <img src="/static/imgs/news/davinejoy.jpg" alt="Da'Vine Joy Randolph" class="image">
                </div>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="margin-bottom: 0; font-weight: bold;">Best supporting actor</p>
                <div class="container">
                    <ul class="body-content list" style="list-style-type: hiragana; padding-left: 15px">
                        <li style="font-weight:bold; list-style-type:katakana-iroha">Winner: Robert Downey Jr - Oppenheimer</li>
                        <li>Sterling K Brown - American Fiction</li>
                        <li>Robert De Niro - Killers of the Flower Moon</li>
                        <li>Ryan Gosling - Barbie</li>
                        <li>Mark Ruffalo - Poor Things</li>
                    </ul>
                    <img src="/static/imgs/news/ironman.webp" alt="Da'Vine Joy Randolph" class="image">
                </div>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="margin-bottom: 0; font-weight: bold;">Best director</p>
                <div class="container">
                    <ul class="body-content list" style="list-style-type: hiragana; padding-left: 15px">
                        <li style="font-weight:bold; list-style-type:katakana-iroha">Winner: Oppenheimer - Christopher Nolan</li>
                        <li>Anatomy of a Fall - Justine Triet</li>
                        <li>Killers of the Flower Moon - Martin Scorsese</li>
                        <li>Poor Things - Yorgos Lanthimos</li>
                        <li>The Zone of Interest - Jonathan Glazer</li>
                    </ul>
                    <img src="/static/imgs/news/christopher-nolan.jpg" alt="Da'Vine Joy Randolph" class="image">
                </div>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="margin-bottom: 0; font-weight: bold;">Best original song</p>
                <div class="container">
                    <ul class="body-content list" style="list-style-type: hiragana; padding-left: 15px">
                        <li style="font-weight:bold; list-style-type:katakana-iroha">What Was I Made For? - Barbie (Billie Eilish, Finneas O'Connell)</li>
                        <li>The Fire Inside - Flamin' Hot (Diane Warren)</li>
                        <li>I'm Just Ken - Barbie (Mark Ronson, Andrew Wyatt)</li>
                        <li>It Never Went Away - American Symphony (Jon Batiste, Dan Wilson)</li>
                        <li>Wahzhazhe (A Song For My People) - Killers of the Flower Moon (Scott George)</li>
                    </ul>
                    <img src="/static/imgs/news/billie-finneas.jpg" alt="Da'Vine Joy Randolph" class="image">
                </div>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="margin-bottom: 0; font-weight: bold;">Best original score</p>
                <div class="container">
                    <ul class="body-content list" style="list-style-type: hiragana; padding-left: 15px">
                        <li style="font-weight:bold; list-style-type:katakana-iroha">Winner: Oppenheimer</li>
                        <li>American Fiction</li>
                        <li>Indiana Jones and the Dial of Destiny</li>
                        <li>Killers of the Flower Moon</li>
                        <li>Poor Things</li>
                    </ul>
                    <img src="/static/imgs/news/oppen-score.png" alt="Da'Vine Joy Randolph" class="image">
                </div>
                <hr style="border: solid 1px black; max-width: 300px">
            </div>
        </div>
    </div>
    <div class="ml-4 my-2">
        <p class="">Comments section~</p>
    </div>
    <div class="comments-sec">
        <a href="#" class="btn btn-sm- btn-success ml-2 my-2" role="button">Comment your feelings here!~ <i class="bi bi-pencil-square"></i></a>
    </div>
    <div class="card-footer text-muted text-center py-3 justify-content-center">
        <h5 class="card-footer text-center display-5 bg-light text-dark py-4 mt-3 pacifico-font">
            <i class="bi bi-heart-fill mr-2 text-danger"></i>
            Thank you for reading!~
            <i class="bi bi-dice-6 ml-2"><i class="bi bi-dice-6"><i class="bi bi-dice-6"></i></i></i>
        </h5>
    </div>
</div>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Pacifico&display=swap" rel="stylesheet">
<style>
    .gideon-font{
        font-family: "Gideon Roman", serif;
        font-weight: 400;
        font-style: normal;
    }
    .pacifico-font {
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
    }
    .body-content {
        text-align: start;
        padding-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .starting-lineup {
        font-weight: bold; 
        color: dodgerblack;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .list {
        flex: 1;
        margin-right: 20px;
    }
    .image {
        max-width: 350px;
        height: auto;
        padding-right: 50px;
    }
</style>