<div class="card mt-2">
    <div class="card shadow-lg mx-auto mt-4 mb-1" style="max-width: 800px">
        <a href="/articles/byCat?id=1" style="text-decoration: none;">
            <h5 class="card-header text-center fw-bold display-3 text-danger py-4 my-3 gideon-font">
                TECHNOLOGY
            </h5>   
        </a>     
    </div>
    <div class="text-muted text-start my-4 mx-5">
      <p class="mb-1" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-calendar-check mr-2"></i>Publish Date: </strong>9/11/2024</p>
      <p class="mb-0" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-file-person mr-2" ></i>Author: </strong>hoaglee666</p>
    </div>
    <div class="card-body">
        <div class="card-body text-center bg-secondary text-white pt-1 mb-2">  
            <div class="mb-3 display-4" style="font-weight: bold;">Hip surgery trial boosted by robot technology</div>
            <div class="bg-dark text-white pb-1">
                <img src="/static/imgs/news/robotsur1.webp" style="max-width: 800px" alt="Suchir Balaji" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >The research is the first of its kind in the world.</p>
                <p class="body-content">A two year clinical trial to revolutionise hip surgery using a state-of-the-art robotic guidance system has been taking place in Devon.</p>
                <p class="body-content">The research, which is the first of its kind in the world, is being led by The Royal Devon University Healthcare NHS Foundation Trust in Exeter.</p>
                <p class="body-content">The 'hip surgical techniques to enhance rehabilitation' (HIPSTER) study aims to improve the experience of people having a total hip replacement to treat severe arthritis by cutting fewer tendons during surgery.</p>
                <p class="body-content">Lead research nurse Lizzy Gordon said the trial could "benefit a lot of people".</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >OpenAI.</p>
                <p class="body-content" style="font-weight: bold;">'Cutting fewer tendons'</p>
                <p class="body-content">The HIPSTER trial has been investigating whether cutting fewer tendons in surgery could result in a quicker recovery, improved rehabilitation and less pain for patients.</p>
                <p class="body-content">Ms Gordon said: "We know 10% of patients still have pain after one year of having a total hip replacement.</p>
                <p class="body-content">"If we can improve patient satisfaction and quicken their recovery, then it's going to benefit a lot of people if one of these techniques is shown to be better than the other."</p>
                <p class="body-content">Patients who are involved are monitored for 12 months following surgery.</p>
                <img src="/static/imgs/news/robotsur2.webp" style="max-width: 800px" alt="openai" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >Lead research nurse Lizzy Gordon said the trial could "benefit a lot of people".</p>
                <p class="body-content">Speaking about the procedure, the study's chief investigator Al-Amin Kassam said: "Most surgeons in the country cut three tendons around the hip to perform a hip replacement.</p>
                <p class="body-content">"We are looking at ways of cutting one or two tendons to see if that makes a difference to patient outcomes and helps improve their long term outcomes after hip surgery."</p>
                <img src="/static/imgs/news/robotsur3.webp" style="max-width: 800px" alt="openai" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >The trial began in August 2023 and will run until August 2025.</p>
                <p class="body-content">If the data proved cutting less tendons helped patient recovery, the aim would be to use the technique nationally and internationally in the future, Mr Kassam added.</p>
                <p class="body-content">The trial began in August 2023 and will end in August 2025.</p>
                <img src="/static/imgs/news/robotsur4.webp" style="max-width: 800px" alt="openai" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >Patients who are involved are monitored for 12 months following surgery.</p>
                <p class="body-content" style="font-weight: bolder;">If you've been affected by the issues in this story or facing the same difficulties, help and support is available via the tel number 113, you are not alone.</p>
                <hr style="border: solid 1px black; max-width: 300px">
            </div>
        </div>
    </div>
    <div class="ml-4 my-2">
        <p class="">Comments section~</p>
    </div>
    <div class="comments-sec">
        <a href="#" class="btn btn-sm- btn-success ml-2 my-2" role="button">Comment your feelings here!~ <i class="bi bi-pencil-square"></i></a>
    </div>
    <div class="card-footer text-muted text-center py-3 justify-content-center">
        <h5 class="card-footer text-center display-5 bg-light text-dark py-4 mt-3 pacifico-font">
            <i class="bi bi-heart-fill mr-2 text-danger"></i>
            Thank you for reading!~
            <i class="bi bi-dice-6 ml-2"><i class="bi bi-dice-6"><i class="bi bi-dice-6"></i></i></i>
        </h5>
    </div>
</div>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Pacifico&display=swap" rel="stylesheet">
<style>
    .gideon-font{
        font-family: "Gideon Roman", serif;
        font-weight: 400;
        font-style: normal;
    }
    .pacifico-font {
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
    }
    .body-content {
        text-align: start;
        padding-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .starting-lineup {
        font-weight: bold; 
        color: dodgerblack;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .list {
        flex: 1;
        margin-right: 20px;
    }
    .image {
        max-width: 350px;
        height: auto;
        padding-right: 50px;
    }
</style>