<div class="card mt-2">
    <div class="card shadow-lg mx-auto mt-4 mb-1" style="max-width: 800px">
        <h5 class="card-header text-center fw-bold display-3 text-primary py-4 my-3 gideon-font">
            Politics
        </h5>   
    </div>
    <div class="text-muted text-start my-4 mx-5">
      <p class="mb-1" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-calendar-check mr-2"></i>Publish Date: </strong>9/11/2024</p>
      <p class="mb-0" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-file-person mr-2" ></i>Author: </strong>hoaglee666</p>
    </div>
    <div class="card-body">
        <div class="card-body text-center bg-secondary text-white pt-1 mb-2">  
            <div class="mb-3 display-4" style="font-weight: bold;">Fear, fury and triumph: Six hours that shook South Korea</div>
            <div class="bg-dark text-white pb-1">
                <img src="/static/imgs/news/sk1.jpg" style="max-width: 800px" alt="Suchir Balaji" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >South Korea: How two hours of martial law unfolded.</p>
                <p class="body-content">Nineteen-year-old Hwang was watching the protests in Georgia on Tuesday night's news when the images on TV suddenly changed - the spotlight was on his country after South Korea's President Yoon Suk Yeol announced martial law.</p>
                <p class="body-content">"I couldn’t believe what I was seeing," said the student, who wished to be identified only by his surname.</p>
                <p class="body-content">By Wednesday afternoon, he was among the protesters standing before the National Assembly, still stunned about what had happened the night before.</p>
                <p class="body-content">"It's important for me to be here to show that we are against what Yoon tried to do," Hwang said.</p>
                <p class="body-content">In a little less than six hours, Yoon was forced to walk back his shock announcement after lawmakers scrambled to block it.</p>
                <p class="body-content">"But those were chaotic hours, sparking protests, fear and uncertainty in the country that had elected him.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight:bolder;">The announcement</p>
                <p class="body-content">On Tuesday night, at 23:00 local time (14:00 GMT) President Yoon, seated in front of blue creaseless curtains, made an unexpected address to the nation.</p>
                <p class="body-content">He said he was imposing martial law to protect the country from "anti-state" forces that sympathised with North Korea. The embattled leader is in a deadlock over a budget bill, dogged by corruption scandals and investigations into his cabinet members.</p>
                <p class="body-content">What followed was a sleepless night for Seoul.</p>
                <p class="body-content">Shortly after Yoon’s announcement, police lined the white metal gates outside the National Assembly building in the heart of Seoul, the building that the country’s tourism authorities have framed as “the symbol of Korean democracy”.</p>
                <p class="body-content">The military then announced that all parliamentary activity was suspended under martial law. But neither that nor the heavy security presence stopped thousands from gathering in front of the assembly in concern and fury.</p>
                <p class="body-content">It is easy to forget that South Korea - now a vibrant democracy - had its last brush with authoritarianism in the not-too-distant past - it only emerged from military rule in 1987. Martial law was last imposed in 1979.</p>
                <p class="body-content">This was “a move I never expected to see in the 21st century in South Korea,” university student Juye Hong told BBC World Service's OS programme from Seoul.</p>
                <img src="/static/imgs/news/sk2.webp" style="max-width: 800px" alt="Suchir Balaji" class="mb-3 mt-3">
                <p class="body-content" style="font-weight:bolder;">The scramble</p>
                <p class="body-content">Soon after Yoon's shock announcement, the opposition's Democratic Party leader Lee Jae-myung, hosted a live stream urging people to assemble at the National Assembly and protest there.</p>
                <p class="body-content">He also asked his fellow lawmakers to make their way to the assembly to vote down the order.</p>
                <p class="body-content">Hundreds of South Koreans responded.</p>
                <img src="/static/imgs/news/sk4.webp" style="max-width: 500px" alt="Suchir Balaji" class="mb-3 mt-3">
                <p class="body-content">Tensions rose quickly as a sea of dark, puffy winter coats pushed up against lines of police in neon jackets, chanting “no to martial law”.</p>
                <p class="body-content">And as vehicles arrived with military units, crowds blocked them. One woman lay defiantly between the wheels of a vehicle.</p>
                <p class="body-content">In stark contrast, there was a façade of normalcy across the rest of Seoul. Still, confusion enveloped the city.</p>
                <p class="body-content">“The streets look normal, people here are certainly bewildered,” John Nilsson-Wright, an associate professor at the University of Cambridge, told BBC World Service from Seoul.</p>
                <p class="body-content">The policeman he spoke to was “as mystified as I am,” he added.</p>
                <img src="/static/imgs/news/sk5.webp" style="max-width: 800px" alt="Suchir Balaji" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >A woman lies on a road to block a vehicle transporting an army unit</p>
                <p class="body-content">It was a sleepless night for some. "At first I was excited at the thought of not going to school today," 15-year-old Kwon Hoo told the BBC in Seoul on Wednesday. "But then overwhelmingly the sense of fear settled in, that kept me up all night."</p>
                <p class="body-content">"No words can express how afraid I am that things might turn out like North Korea for our people," a South Korean who did not want to be named told BBC OS.</p>
                <p class="body-content">Meanwhile, word was spreading that special forces had been deployed to the assembly building. Helicopters were heard overhead as they circled the skies before landing on the parliament’s roof.</p>
                <p class="body-content">Reporters jostled in the crowd outside the gates, clicking away with their cameras.</p>
                <p class="body-content">As concerns grew that the government might restrict the media, journalists in Seoul stayed in touch with one another, exchanging advice on how to stay safe.</p>
                <p class="body-content">Ahn Gwi-ryeong, the 35-year-old spokesperson for the opposition Democratic Party found herself facing down soldiers at gunpoint. A video of the moment, where she is tugging at the barrel of a soldier's rifle, has since gone viral.</p>
                <p class="body-content">"I wasn't thinking about anything intellectual or rational, I was just like, ‘We have to stop this, if we don't stop this, there's nothing else,’’ she told the BBC.</p>
                <p class="body-content">"To be honest, I was a bit scared at first when I first saw the martial law troops. I thought, ‘Is this something that can happen in 21st century Korea, especially in the National Assembly?"</p>
                <p class="body-content">"After such a storm last night, it was hard to get back to reality," she added, recalling the previous night. "I felt like I was witnessing the regression of history."</p>
                <img src="/static/imgs/news/sk6.webp" style="max-width: 800px" alt="Suchir Balaji" class="mb-3 mt-3">
                <p class="body-content">As Ahn was confronting the soldiers, the clock was ticking for opposition lawmakers, who rushed to get into the assembly to block the order. Once that happened, the president would have to withdraw it.</p>
                <p class="body-content">But first, MPs and their aides had to get inside. Some crawled through the legs of security forces, others shoved and screamed at armed soldiers; many frantically clambered over fences and walls.</p>
                <p class="body-content">Hong Kee-won from the Democratic Party told the BBC that he had to scale a 1.5m (4.9ft)-high fence to enter the building, with the police blocking him even after he had shown them identification that proved he was a lawmaker.</p>
                <p class="body-content">Hong said that protesters helped to hoist him over the wall. He had been asleep when Yoon made the announcement - when his wife woke him, he raced to parliament.</p>
                <p class="body-content">“Democracy is strong here,” Hong said. “The military needs to listen to us, to the constitution, and not to the president.”</p>
                <img src="/static/imgs/news/sk7.webp" style="max-width: 800px" alt="Suchir Balaji" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >Lawmakers had to force their way into the assembly...</p>
                <img src="/static/imgs/news/sk8.webp" style="max-width: 800px" alt="Suchir Balaji" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >And vote by barricading themselves inside it</p>
                <p class="body-content" style="font-weight: bolder;">The vote</p>
                <p class="body-content">Lawmakers who made it into the building huddled together, only slightly calmer than the people outside. Hastily, they barricaded the entrances with whatever they could find: cushioned benches, long tables, sofas .</p>
                <p class="body-content">Some tried to push back soldiers who had made their way into the assembly building.</p>
                <p class="body-content">By 01:00 local time, National Assembly Speaker Woo Won-sik submitted a resolution requesting martial law to be lifted.</p>
                <p class="body-content">With that, less than two hours after Yoon’s shock declaration, 190 lawmakers who gathered, including some from Yoon’s party, voted unanimously to block it.</p>
<img src="/static/imgs/news/sk9.webp" style="max-width: 800px" alt="Suchir Balaji" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >Lawmakers in parliament voting against Yoon's martial law order</p>
                <p class="body-content">After the vote, opposition leader Lee told reporters that this was "a decisive opportunity to break the vicious cycle and return to normal society".</p>
                <p class="body-content">By 04:30, Yoon was back on TV, in front of the same blue curtains, saying he would withdraw martial law. But this would only be made official, he said, when he could assemble enough of his cabinet to lift the order.</p>
                <p class="body-content">The announcement was met with cheers outside the assembly. In the hours before dawn, more people emerged from the building, from behind the barricades they had haphazardly put together.</p>
                <p class="body-content">With holes in the doors and broken windows, the stately building already bears scars of the night when South Koreans saved their democracy.</p>
                <p class="body-content">Schools, local businesses and banks opened as usual on Wednesday morning - and flights continued to land uninterrupted in South Korea's buzzing capital.</p>
                <p class="body-content">But public anger - and the political fallout - was not spent.</p>
                <p class="body-content">As the sun rose on Wednesday, thousands gathered to call for Yoon's resignation. The president is also facing impeachment proceedings.</p>
                <p class="body-content">“We are a strong democracy…But Korean people want to be safe - President Yoon must resign or be impeached,” Yang Bu-nam, a Democratic Party politician, told the BBC.</p>
                <p class="body-content" style="font-style: italic; font-weight:lighter">Additional reporting by Rachel Lee in Seoul.</p>
                <hr style="border: solid 1px black; max-width: 300px">
            </div>
        </div>
    </div>
    <div class="ml-4 my-2">
        <p class="">Comments section~</p>
    </div>
    <div class="comments-sec">
        <a href="#" class="btn btn-sm- btn-success ml-2 my-2" role="button">Comment your feelings here!~ <i class="bi bi-pencil-square"></i></a>
    </div>
    <div class="card-footer text-muted text-center py-3 justify-content-center">
        <h5 class="card-footer text-center display-5 bg-light text-dark py-4 mt-3 pacifico-font">
            <i class="bi bi-heart-fill mr-2 text-danger"></i>
            Thank you for reading!~
            <i class="bi bi-dice-6 ml-2"><i class="bi bi-dice-6"><i class="bi bi-dice-6"></i></i></i>
        </h5>
    </div>
</div>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Pacifico&display=swap" rel="stylesheet">
<style>
    .gideon-font{
        font-family: "Gideon Roman", serif;
        font-weight: 400;
        font-style: normal;
    }
    .pacifico-font {
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
    }
    .body-content {
        text-align: start;
        padding-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .starting-lineup {
        font-weight: bold; 
        color: dodgerblack;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .list {
        flex: 1;
        margin-right: 20px;
    }
    .image {
        max-width: 350px;
        height: auto;
        padding-right: 50px;
    }
</style>