<div class="card mt-2">
    <div class="card shadow-lg mx-auto mt-4 mb-1" style="max-width: 800px">
        <h5 class="card-header text-center fw-bold display-3 text-primary py-4 my-3 gideon-font">
            <i class="bi bi-star-fill py-1 px-2"></i>
            Technology
            <i class="bi bi-star-fill py-1 px-2"></i>
        </h5>   
    </div>
    <div class="text-muted text-start my-4 mx-5">
      <p class="mb-1" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-calendar-check mr-2"></i>Publish Date: </strong>9/11/2024</p>
      <p class="mb-0" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-file-person mr-2" ></i>Author: </strong>hoaglee666</p>
    </div>
    <div class="card-body">
        <div class="card-body text-center bg-secondary text-white pt-1 mb-2">  
            <div class="mb-3 display-4" style="font-weight: bold;">TikTok asks for emergency pause to looming US ban</div>
            <div class="bg-dark text-white pb-1">
                <img src="/static/imgs/news/tik1.webp" style="max-width: 800px" alt="Donny with da boys" class="mb-3 mt-3">
                <p class="body-content">TikTok has asked a court for an emergency injunction to prevent it becoming unavailable in the US next month.</p>
                <p class="body-content">The US government passed a law demanding the app's sale or ban because of what it says are its links to the Chinese state - links TikTok and its parent company ByteDance deny.</p>
                <p class="body-content">The social media company lost its appeal against the law in a decision handed down on Friday - and said afterwards it would appeal to the Supreme Court.</p>
                <p class="body-content">TikTok and ByteDance have now submitted a legal request to temporarily block the law to give the Supreme Court more time to consider the matter.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content">The Department of Justice (DOJ) has called for the request to be dismissed, saying its underlying arguments have already been "definitively rejected."</p>
                <p class="body-content">TikTok and ByteDance say an injunction is also justified because Donald Trump is about to replace Joe Biden as president.</p>
                <p class="body-content">Trump has previously indicated he would overturn the law.</p>
                <p class="body-content">"The public interest favours providing sufficient time for the Supreme Court to conduct an orderly review process, and for the incoming Administration to evaluate this exceptionally important case," ByteDance and TikTok said in their emergency legal filing.</p>
                <p class="body-content">They added that even a temporary ban from early 2025 would have "devastating effects" on its operations.</p>
                <p class="body-content">It would be "inflicting irreparable injury by silencing Petitioners and the 170 million Americans who use the platform each month," the filing added.</p>
                <p class="body-content">The company also said that even a temporary ban could cause a loss of revenue, as well as a loss of users and creators who make content for the platform.</p>
                <p class="body-content">On Friday, judges rejected the idea that the law was unconstitutional - saying it was the result of "extensive, bipartisan action" by lawmakers.</p>
                <p class="body-content">They further concluded the law was "carefully crafted to deal only with control by a foreign adversary, and it was part of a broader effort to counter a well-substantiated national security threat posed by the PRC (People's Republic of China)."</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content">According to the wording of the law, given President Joe Biden's stamp of approval as part of a broader foreign aid package in April, TikTok would stop being made available to US citizens unless sold by its parent company ByteDance within nine months.</p>
                <p class="body-content">The deadline would see TikTok effectively banned in the US from 19 January 2025.</p>
                <p class="body-content">In Monday's request for an emergency injunction, TikTok's lawyers argued the law would "inflict extreme and irreparable harm" on the company - adding it would do so "on the eve of a presidential inauguration".</p>
                <p class="body-content">President-elect Donald Trump will take office as the country's 47th president on 20 January.</p>
                <p class="body-content">He has previously claimed he would "save TikTok" from a ban.</p>
                <p class="body-content">Ahead of the run-up to the November election, Trump said the law would benefit Meta, which owns Facebook and Instagram.</p>
                <p class="body-content">But experts have warned that while his promises may offer a lifeline for the company's US future, they are no guarantee of the action he will take once in office.</p>
                <p class="body-content">DOJ officials said in their letter also filed on Monday that the appeals court should reject the injunction request.</p>
                <p class="body-content">"The Court is familiar with the relevant facts and law and has definitively rejected petitioners' constitutional claims in a thorough decision that recognizes the critical national-security interests underlying the Act," they argue.</p>
                <hr style="border: solid 1px black; max-width: 300px">
            </div>
        </div>
    </div>
    <div class="ml-4 my-2">
        <p class="">Comments section~</p>
    </div>
    <div class="comments-sec">
        <a href="#" class="btn btn-sm- btn-success ml-2 my-2" role="button">Comment your feelings here!~ <i class="bi bi-pencil-square"></i></a>
    </div>
    <div class="card-footer text-muted text-center py-3 justify-content-center">
        <h5 class="card-footer text-center display-5 bg-light text-dark py-4 mt-3 pacifico-font">
            <i class="bi bi-heart-fill mr-2 text-danger"></i>
            Thank you for reading!~
            <i class="bi bi-dice-6 ml-2"><i class="bi bi-dice-6"><i class="bi bi-dice-6"></i></i></i>
        </h5>
    </div>
</div>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Pacifico&display=swap" rel="stylesheet">
<style>
    .gideon-font{
        font-family: "Gideon Roman", serif;
        font-weight: 400;
        font-style: normal;
    }
    .pacifico-font {
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
    }
    .body-content {
        text-align: start;
        padding-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .starting-lineup {
        font-weight: bold; 
        color: dodgerblack;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .list {
        flex: 1;
        margin-right: 20px;
    }
    .image {
        max-width: 350px;
        height: auto;
        padding-right: 50px;
    }
</style>