<div class="card mt-2">
    <div class="card shadow-lg mx-auto mt-4 mb-1" style="max-width: 800px">
        <a href="/articles/byCat?id=10" style="text-decoration: none;">
            <h5 class="card-header text-center fw-bold display-3 text-danger py-4 my-3 gideon-font">
                BUSINESS
            </h5>   
        </a>    
    </div>
    <div class="text-muted text-start my-4 mx-5">
      <p class="mb-1" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-calendar-check mr-2"></i>Publish Date: </strong>9/11/2024</p>
      <p class="mb-0" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-file-person mr-2" ></i>Author: </strong>hoaglee666</p>
    </div>
    <div class="card-body">
        <div class="card-body text-center bg-secondary text-white pt-1 mb-2">  
            <div class="mb-3 display-4" style="font-weight: bold;">Trump gets $15m in ABC News defamation case</div>
            <div class="bg-dark text-white pb-1">
                <img src="/static/imgs/news/donald2.jpg" style="max-width: 800px" alt="Donny with da boys" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >President-elected Donald Trump (on the rightmost) with future Vice President JD Vance (on the leftmost) joined Daniel Penny, a 24-year-old United States Marine Corps veteran, who killed a homeless man named Jordan Neely.</p>
                <p class="body-content">ABC News has agreed to pay $15m (£12m) to US President-elect Donald Trump to settle a defamation lawsuit after its star anchor falsely said he had been found "liable for rape".</p>
                <p class="body-content">George Stephanopoulos made the statements repeatedly during an interview on 10 March this year while challenging a congresswoman about her support for Trump.</p>
                <p class="body-content">A jury in a civil case last year determined Trump was liable for "sexual abuse", which has a specific definition under New York law.</p>
                <p class="body-content">As part of Saturday's settlement, first reported by Fox News Digital, ABC will also publish a statement expressing its "regret" for the statements by Stephanopoulos.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <img src="/static/imgs/news/donald3..webp" style="max-width: 800px" alt="idk who is this" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >George Stephanopoulos repeatedly made the false statement in an interview in March.</p>
                <p class="body-content">According to the settlement, ABC News will pay $15m as a charitable contribution to a "Presidential foundation and museum to be established by or for Plaintiff, as Presidents of the United States of America have established in the past".</p>
                <p class="body-content">The network also agreed to pay $1m towards Trump's legal fees.</p>
                <p class="body-content">Under the settlement, the network will post an editor's note to the bottom of its 10 March 2024 online news article about the story.</p>
                <p class="body-content">An ABC News spokesperson said in a statement the company was "pleased that the parties have reached an agreement to dismiss the lawsuit on the terms in the court filing".</p>
                <p class="body-content">In 2023, a New York civil court found Trump sexually abused E Jean Carroll in a dressing room at a department store in 1996. He was also found guilty of defaming the magazine columnist.</p>
                <p class="body-content">Judge Lewis Kaplan said the jury's conclusion was that Ms Carroll had failed to prove that Trump raped her "within the narrow, technical meaning of a particular section of the New York Penal Law".</p>
                <p class="body-content">Judge Kaplan noted that the definition of rape was "far narrower" than how rape is defined in common modern parlance, in some dictionaries and in criminal statutes elsewhere.</p>
                <p class="body-content">In a separate case, also presided over by the same judge, a jury ordered Trump to pay $83.3m to Ms Carroll for additional defamatory statements.</p>
                <p class="body-content">The anchor falsely said "judges and two separate juries have found him liable for rape".</p>
                <p class="body-content">Stephanopoulos repeated the claim 10 times throughout the broadcast.</p>
                <p class="body-content">Ahead of the ruling, a federal magistrate judge had ordered Trump and Stephanopoulos to give sworn evidence at depositions next week.</p>
                <p class="body-content">Trump has also sued CBS, the BBC's US broadcast partner, for "deceptive conduct" over an interview with Kamala Harris.</p>
                <p class="body-content">In 2023, a judge threw out his defamation lawsuit against CNN, in which he alleged the network had likened him to Adolf Hitler.</p>
                <p class="body-content">He has also had lawsuits filed against the New York Times and the Washington Post dismissed.</p>
                <hr style="border: solid 1px black; max-width: 300px">
            </div>
        </div>
    </div>
    <div class="ml-4 my-2">
        <p class="">Comments section~</p>
    </div>
    <div class="comments-sec">
        <a href="#" class="btn btn-sm- btn-success ml-2 my-2" role="button">Comment your feelings here!~ <i class="bi bi-pencil-square"></i></a>
    </div>
    <div class="card-footer text-muted text-center py-3 justify-content-center">
        <h5 class="card-footer text-center display-5 bg-light text-dark py-4 mt-3 pacifico-font">
            <i class="bi bi-heart-fill mr-2 text-danger"></i>
            Thank you for reading!~
            <i class="bi bi-dice-6 ml-2"><i class="bi bi-dice-6"><i class="bi bi-dice-6"></i></i></i>
        </h5>
    </div>
</div>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Pacifico&display=swap" rel="stylesheet">
<style>
    .gideon-font{
        font-family: "Gideon Roman", serif;
        font-weight: 400;
        font-style: normal;
    }
    .pacifico-font {
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
    }
    .body-content {
        text-align: start;
        padding-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .starting-lineup {
        font-weight: bold; 
        color: dodgerblack;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .list {
        flex: 1;
        margin-right: 20px;
    }
    .image {
        max-width: 350px;
        height: auto;
        padding-right: 50px;
    }
</style>