<div class="card mt-2">
    <div class="card shadow-lg mx-auto mt-4 mb-1" style="max-width: 800px">
        <h5 class="card-header text-center fw-bold display-3 text-primary py-4 my-3 gideon-font">
            Sports
        </h5>   
    </div>
    <div class="text-muted text-start my-4 mx-5">
      <p class="mb-1" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-calendar-check mr-2"></i>Publish Date: </strong>9/11/2024</p>
      <p class="mb-0" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-file-person mr-2" ></i>Author: </strong>hoaglee666</p>
    </div>
    <div class="card-body">
        <div class="card-body text-center bg-secondary text-white pt-1 mb-2">  
            <div class="mb-3 display-4" style="font-weight: bold;">LoL Worlds 2024 Finals: BLG vs T1: Back-to-back World Champions!</div>
            <div class="bg-dark text-white pb-1">
                <img src="/static/imgs/news/worlds1.jpg" style="max-width: 800px" alt="Suchir Balaji" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 0; font-weight:lighter;" >It’s the final match to decide the ultimate winner: the League of Legends 2024 World Champion.</p>
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >On the left, BLG knight, on the right, T1 Faker.</p>
                <p class="body-content">Both teams made it through challenges to reach the League of Legends Worlds 2024 (LoL Worlds 2024) Finals. T1 struggled to qualify for this World Championship as they earned their spot only in the very last regional match.</p>
                <p class="body-content">But then, the legendary players unleashed their true power and destroyed quite a few mighty opponents. BLG had a slow start in the Swiss Stage. They needed to play all five matches to advance to the Knockout Stage. Their recovery also was brilliantly impressive.</p>
                <p class="body-content">T1 and BLG were at the peak of their performance. They were totally ready to battle it out in the final match of the biggest and the most important LoL esports tournament of the year. The community was ready to cheer for them.</p>
                <p class="body-content">All the details of the LoL Worlds 2024 final match between Bilibili Gaming and T1 are here. Watch the stream, check out the lists of banned and picked champions, and check out the details with a brief recap.</p>
                <iframe width="800" height="500" 
                        src="https://www.youtube.com/embed/NrrsqcLg-84" 
                        title="Worlds 2024 FINALS" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                        allowfullscreen>
                </iframe>                
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold;">Where to watch LoL Worlds 2024 BLG vs T1</p>
                <p class="body-content">Watch the LoL Worlds 2024 Finals right here: the stream embedded below on this page. BLG and T1 played on Nov. 2.</p>
                <iframe width="800" height="500" 
                        src="https://www.youtube.com/embed/jWjrdz-lLdU" 
                        title="Worlds 2024 FINALS" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                        allowfullscreen>
                </iframe>  
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold;">BLG vs T1: Score</p>
                <p class="body-content" >To claim the crown of LoL Worlds 2024, both T1 and BLG needed to win three games in this series. Here is the detailed score for this decisive match.</p>
                <p class="body-content" style="font-weight: bold; font-size:small">BLG 2:3 T1 — T1 are the LoL World Champions 2024!</p>
                <div class="container-fluid mt-5">
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-light table-striped text-center w-100">
                                <thead>
                                    <tr>
                                        <td scope="col">Game</td>
                                        <td scope="col">Winner</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>BLG</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>T1</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>BLG</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>T1</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>T1</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold;">Banned champions</p>
                <div class="container-fluid mt-5">
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-light table-striped text-center w-100">
                                <thead>
                                    <tr>
                                        <td scope="col">Game</td>
                                        <td scope="col">BLG Bans</td>
                                        <td scope="col">T1 Bans</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Aurora, Vi, Varus, Ziggs, Jhin</td>
                                        <td>Jax, Kai'Sa, Kalista, Renata Glasc, Rakan</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Aurora, Skarner, Vi, Gnar, Sejuani</td>
                                        <td>Jax, Yone, Varus, Kindred, Wukong</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Varus, Ashe, Skarner, Sejuani, Draven</td>
                                        <td>Aurora, Yone, Neeko, Akali, Wukong</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Aurora, Skarner, Kalista, Vi, Nocturne	</td>
                                        <td>Jax, Yone, Varus, Blitzcrank, Xin Zhao</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>Varus, Ashe, Skarner, Rakan, Renata Glasc	</td>
                                        <td>Aurora, Yone, Kalista, Wukong, Kindred</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold;">Matchups and champions picks</p></p>
                <div class="container-fluid mt-5">
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-light table-striped text-center w-100">
                                <thead>
                                    <tr>
                                        <td scope="col">BLG Picks</td>
                                        <td scope="col">Bilibili Gaming</td>
                                        <td scope="col">Position</td>
                                        <td scope="col">T1</td>
                                        <td>T1 Picks</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="text-align: start;">
                                            Rumble (G1)<br>
                                            Rumble (G2)<br>
                                            Rumble (G3)<br>
                                            Gnar (G4)<br>
                                            Jax (G5)<br>
                                        </td>
                                        <td>Bin</td>
                                        <td>Top</td>
                                        <td>Zeus</td>
                                        <td style="text-align: start;">
                                            Gnar (G1)<br>
                                            Ornn (G2)<br>
                                            Jax (G3)<br>
                                            Rumble (G4)<br>
                                            Gragas (G5)<br>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: start;">
                                            Skarner (G1)<br>
                                            Xin Zhao (G2)<br>
                                            Kindred(G3)<br>
                                            Sejuani (G4)<br>
                                            Jarvan IV (G5)<br>
                                        </td>
                                        <td>XUN</td>
                                        <td>Jungle</td>
                                        <td>Oner</td>
                                        <td style="text-align: start;">
                                            Sejuani (G1)<br>
                                            Nocturne (G2)<br>
                                            Vi (G3)<br>
                                            Poppy (G4)<br>
                                            Xin Zhao (G5)<br>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: start;">
                                            Sylas (G1)<br>
                                            Galio (G2)<br>
                                            Galio (G3)<br>
                                            Smolder (G4)<br>
                                            Ahri (G5)<br>
                                        </td>
                                        <td>knight</td>
                                        <td>Mid</td>
                                        <td>Faker</td>
                                        <td style="text-align: start;">
                                            Yone (G1)<br>
                                            Sylas (G2)<br>
                                            Sylas (G3)<br>
                                            Sylas (G4)<br>
                                            Galio (G5)<br>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: start;">
                                            Ashe (G1)<br>
                                            Ashe (G2)<br>
                                            Kalista (G3)<br>
                                            Ziggs (G4)<br>
                                            Kai'sa (G5)<br>
                                        </td>
                                        <td>Eik</td>
                                        <td>AD Carry</td>
                                        <td>Gumayusi</td>
                                        <td style="text-align: start;">
                                            Caitlyn  (G1)<br>
                                            Caitlyn  (G2)<br>
                                            Caitlyn  (G3)<br>
                                            Caitlyn  (G4)<br>
                                            Caitlyn  (G5)<br>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: start;">
                                            Rell (G1)<br>
                                            Rakan  (G2)<br>
                                            Blitzcrank  (G3)<br>
                                            Rakan  (G4)<br>
                                            Rell  (G5)<br>
                                        </td>
                                        <td>ON</td>
                                        <td>Support</td>
                                        <td>Keria</td>
                                        <td style="text-align: start;">
                                            Braum  (G1)<br>
                                            Renata Glasc (G2)<br>
                                            Renata Glasc (G3)<br>
                                            Renata Glasc (G4)<br>
                                            Poppy (G5)<br>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold;">Match recap: BLG vs T1</p></p>
                <p class="body-content">The LoL Worlds 2024 grand final between BLG and T1 was such a back-and-forth match — from game to game! When a team dominated, that was a complete destruction of their opponents. It was especially obvious in the first three games, then the battles became slightly more even.</p>
                <p class="body-content">BLG started with The First Blood each time. They were the first to win a game. And BLG players were the first to reach the match and tournament point. But when T1 struck back, they did it with such power that BLG just couldn’t properly recover.</p>
                <p class="body-content">In Game 5, everything could go both ways. But T1 won an absolutely crucial team fight, and that success carried the Korean team to their back-to-back World Champion title. Congratulations!</p>
                <p class="body-content">Faker was a true MVP of the grand final! He was in the best places at the best moments. He was a threat and an uncatchable target. This victory of T1 is based on Faker’s amazing talent.</p> 
                <img src="/static/imgs/news/worlds3.jpg" style="max-width: 800px" alt="Suchir Balaji" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 0; font-weight:lighter;" >Faker, also known as "The Unkillable Demon King", or "God".</p>
                <hr style="border: solid 1px black; max-width: 300px">
            </div>
        </div>
    </div>
    <div class="ml-4 my-2">
        <p class="">Comments section~</p>
    </div>
    <div class="comments-sec">
        <a href="#" class="btn btn-sm- btn-success ml-2 my-2" role="button">Comment your feelings here!~ <i class="bi bi-pencil-square"></i></a>
    </div>
    <div class="card-footer text-muted text-center py-3 justify-content-center">
        <h5 class="card-footer text-center display-5 bg-light text-dark py-4 mt-3 pacifico-font">
            <i class="bi bi-heart-fill mr-2 text-danger"></i>
            Thank you for reading!~
            <i class="bi bi-dice-6 ml-2"><i class="bi bi-dice-6"><i class="bi bi-dice-6"></i></i></i>
        </h5>
    </div>
</div>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Pacifico&display=swap" rel="stylesheet">
<style>
    .gideon-font{
        font-family: "Gideon Roman", serif;
        font-weight: 400;
        font-style: normal;
    }
    .pacifico-font {
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
    }
    .body-content {
        text-align: start;
        padding-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .starting-lineup {
        font-weight: bold; 
        color: dodgerblack;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .list {
        flex: 1;
        margin-right: 20px;
    }
    .image {
        max-width: 350px;
        height: auto;
        padding-right: 50px;
    }
</style>