<div class="card"></div>
  <h5 class="card-header">
    Articles
  </h5>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        {{#each this.list}}
        <tr>
          <th scope="row">{{NewsID}}</th>
          <td>{{Title}}</td>
          <td>{{Abstract}}</td>
          <td>{{PublishDate}}</td>
          <td class="text-right">
            <a class="btn btn-sm btn-primary" href="#" role="button">
              <i class="bi bi-pencil-square"></i>
            </a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>