<div class="card mt-2">
    <div class="card shadow-lg mx-auto mt-4 mb-1" style="max-width: 800px">
        <a href="/articles/byCat?id=3" style="text-decoration: none;">
            <h5 class="card-header text-center fw-bold display-3 text-primary py-4 my-3 gideon-font">
                SPORTS
            </h5>   
        </a>    
    </div>
    <div class="text-muted text-start my-4 mx-5">
      <p class="mb-1" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-calendar-check mr-2"></i>Publish Date: </strong>9/11/2024</p>
      <p class="mb-0" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-file-person mr-2" ></i>Author: </strong>hoaglee666</p>
    </div>
    <div class="card-body">
        <div class="card-body text-center bg-secondary text-white pt-1 mb-2">  
            <div class="mb-3 display-4" style="font-weight: bold;">Chelsea's Mudryk 'in shock' at failed drugs test</div>
            <div class="bg-dark text-white pb-1">
                <img src="/static/imgs/news/chel1.webp" style="max-width: 800px" alt="Suchir Balaji" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >Mykhailo Mudryk joined Chelsea in 2023 from Shakhtar Donetsk</p>
                <p class="body-content" style="font-weight: bold;">Chelsea winger Mykhailo Mudryk says he is in "complete shock" after testing positive for a banned substance.</p>
                <p class="body-content">Mudryk denies ever knowingly using a banned substance and Chelsea say they will work to establish what caused the failed test.</p>
                <p class="body-content">"This has come as a complete shock as I have never knowingly used any banned substances or broken any rules, and am working closely with my team to investigate how this could have happened," Mudryk wrote on Instagram.</p>
                <p class="body-content">"I know that I have not done anything wrong and remain hopeful that I will be back on the pitch soon."</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content">It is unclear which substance was found in Mudryk's test or whether the forward has been provisionally suspended from football, as has been reported.</p>
                <p class="body-content">The 23-year-old last played for Chelsea on 28 November and has missed the past five matches in all competitions.</p>
                <p class="body-content">He was included in the matchday squad for <a style="text-decoration: none; color:blue;font-weight:bold" href="https://www.chelseafc.com/en" target="_blank">the Blues</a>' win against Aston Villa on 1 December but did not feature.</p>
                <p class="body-content">Head coach Enzo Maresca had said publicly that Mudryk's absence was down to illness.</p>
                <p class="body-content">
                    Mudryk, who signed from Ukrainian club Shakhtar Donetsk <a style="text-decoration: none; color:white;font-weight:bold" href="https://www.bbc.com/sport/football/64281139" target="_blank">in a deal worth up to £89m </a> in 2023, has scored 10 goals in 73 appearances for Chelsea.
                </p>
                <hr style="border: solid 1px black; max-width: 300px">
            </div>
        </div>
    </div>
    <div class="ml-4 my-2">
        <p class="">Comments section~</p>
    </div>
    <div class="comments-sec">
        <a href="#" class="btn btn-sm- btn-success ml-2 my-2" role="button">Comment your feelings here!~ <i class="bi bi-pencil-square"></i></a>
    </div>
    <div class="card-footer text-muted text-center py-3 justify-content-center">
        <h5 class="card-footer text-center display-5 bg-light text-dark py-4 mt-3 pacifico-font">
            <i class="bi bi-heart-fill mr-2 text-danger"></i>
            Thank you for reading!~
            <i class="bi bi-dice-6 ml-2"><i class="bi bi-dice-6"><i class="bi bi-dice-6"></i></i></i>
        </h5>
    </div>
</div>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Pacifico&display=swap" rel="stylesheet">
<style>
    .gideon-font{
        font-family: "Gideon Roman", serif;
        font-weight: 400;
        font-style: normal;
    }
    .pacifico-font {
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
    }
    .body-content {
        text-align: start;
        padding-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .starting-lineup {
        font-weight: bold; 
        color: dodgerblack;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .list {
        flex: 1;
        margin-right: 20px;
    }
    .image {
        max-width: 350px;
        height: auto;
        padding-right: 50px;
    }
</style>