<div class="card mt-2">
    <div class="card shadow-lg mx-auto mt-4 mb-1" style="max-width: 800px">
        <a href="/articles/byCat?id=3" style="text-decoration: none;">
            <h5 class="card-header text-center fw-bold display-3 text-primary py-4 my-3 gideon-font">
                SPORTS
            </h5>   
        </a>   
    </div>
    <div class="text-muted text-start my-4 mx-5">
      <p class="mb-1" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-calendar-check mr-2"></i>Publish Date: </strong>17/12/2024</p>
      <p class="mb-0" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-file-person mr-2" ></i>Author: </strong>hoaglee666</p>
    </div>
    <div class="card-body">
        <div class="card-body text-center bg-secondary text-white pt-1 mb-2">  
            <div class="mb-3 display-4" style="font-weight: bold;">Everything you need to know about Euro 2025</div>
            <div class="bg-dark text-white pb-1">
                <img src="/static/imgs/news/euro1.webp" style="max-width: 800px" alt="Suchir Balaji" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >England beat Germany 2-1 in the Euro 2022 final after extra time at Wembley</p>
                <p class="body-content" style="font-weight: bold;">Holders England will play their predecessors as champions Netherlands while hosts Switzerland will take on Norway, Iceland and Finland after the UEFA Women's EURO 2025 draw was made at the Swiss Tech Convention Centre in Lausanne, Switzerland.</p>
                <p class="body-content">Here is everything you need to know about next summer's tournament.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <div class="container-fluid mt-5">
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-light text-start w-100" >
                                <thead>
                                    <tr>
                                        <td scope="col" style="font-weight: bold; text-align:start;">Women's EURO 2025 final draw</td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="font-weight:bold; color:orange; text-align:start;"><a style="color: orange;text-decoration:none" href="https://www.uefa.com/womenseuro/news/0294-1c963640283c-373d2ea07309-1000--women-s-euro-2025-group-a-guide-switzerland-norway-icela/" target="_blank">Group A</a></td>
                                        <td style="text-align: end;"> Switzerland (hosts), Norway, Iceland, Finland</td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight:bold; color:orange; text-align:start;"><a style="color: orange;text-decoration:none" href="https://www.uefa.com/womenseuro/news/0294-1c9636948e7a-6b916ff09e24-1000--women-s-euro-2025-group-b-guide-spain-portugal-belgium-italy/" target="_blank">Group B</a></td>
                                        <td style="text-align: end;"> Spain, Portugal, Belgium, Italy</td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight:bold; text-align:start;">
                                            <a style="color: orange;text-decoration:none;" href="https://www.uefa.com/womenseuro/news/0294-1c9636d34b40-c1aae9da87fe-1000--women-s-euro-2025-group-c-guide-germany-poland-denmark-s/" target="_blank">Group C</a>
                                        </td>
                                        <td style="text-align: end;"> Germany, Poland, Denmark, Sweden</td>
                                    </tr>
                                    <tr>
                                       <td style="font-weight:bold; color:orange; text-align:start;">
                                        <a style="color:orange; text-decoration:none;" target="_blank" href="https://www.uefa.com/womenseuro/news/0294-1c96370c2f2e-6d1aee4bb6e9-1000--women-s-euro-2025-group-d-guide-france-england-wales-nether/">Group D</a></td>
                                        <td style="text-align: end;"> France, England, Wales, Netherlands</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <p class="body-content pt-3">Not only will Sarina Wiegman's England side face her native Netherlands, who she led to victory in 2017, but the Lionesses also face old rivals France and debutant neighbours Wales. Switzerland will take on former world, European and Olympic champions Norway as well as Iceland and Finland, while current FIFA Women's World Cup holders Spain are up against Portugal, Belgium and two-time European runners-up Italy.</p>
                <p class="body-content">Record eight-time champions Germany are in a group with regular rivals and 1984 winners Sweden, as well as familiar opponents Denmark and the second of the final tournament newcomers, Poland.</p>
                <p class="body-content">The top two teams from each final tournament group will progress to the knockout phase.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content">Former Arsenal and England striker Ian Wright and Swiss sports presenter Annette Fetscherin anchored the broadcast of the draw, enlisting the help of a raft of players who represented their country at women's and men's EUROs – Leonardo Bonucci (Italy), Verónica Boquete (Spain), Lara Dickenmann (Switzerland), Sami Khedira (Germany), Jill Scott (England), Caroline Seger (Sweden), Xherdan Shaqiri (Switzerland) and Raphaël Varane (France).</p>
                <p class="body-content">The ceremony also featured a performance from Swiss artist Stress featuring Karolyn, an appearance from Women's EURO 2025 mascot Maddli and <a target="_blank" style="color: orange; text-decoration:none;" href="https://www.uefa.com/womenseuro/news/0294-1c952d26041f-e5cd312d854a-1000--uefa-and-adidas-unveil-konektis-the-official-match-ball-f/">the official unveiling of the tournament match ball.</a></p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; color:white">Match dates</p>
                <div class="body-content">
                    <a href="https://editorial.uefa.com/resources/0294-1c9602bd24e6-9ebedb173989-1000/weuro2025_match_schedule.pdf" target="_blank" class="btn btn-outline-danger btn-sm">Fixtures and match schedule</a>
                </div>
                <p class="body-content">
                    Group stage Matchday 1: 2–5 July <br>
                    Group stage Matchday 2: 6–9 July <br>
                    Group stage Matchday 3: 10–13 July <br>
                    Quarter-finals: 16–19 July <br>
                    Semi-finals: 22–23 July <br>
                    Final: 27 July
                </p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size:20px">Knockout bracket</p>
                <p class="body-content pt-0" style="font-style:italic; font-weight:lighter">All times CET</p>
                <p class="body-content" style="font-weight: bold;">Quarter-finals</p>
                <p class="body-content">
                    <span style="font-weight: bold;">Wednesday 16 July</span> <br>
                    Match 25: Winners Group A vs Runners-up Group B (Geneva, 21:00)
                </p>
                <p class="body-content">
                    <span style="font-weight: bold;">Thursday 17 July</span> <br>
                    Match 26: Winners Group C vs Runners-up Group D (Zurich, 21:00)
                </p>
                <p class="body-content">
                    <span style="font-weight: bold;">Friday 18 July</span> <br>
                    Match 27: Winners Group B vs Runners-up Group A (Bern, 21:00)
                </p>
                <p class="body-content">
                    <span style="font-weight: bold;">Saturday 19 July</span> <br>
                    Match 28: Winners Group D vs Runners-up Group C (Basel, 21:00)
                </p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold;">Semi-finals</p>
                <p class="body-content">
                    <span style="font-weight: bold;">Tuesday 22 July</span> <br>
                    Match 29: Winners Match 26 vs Winners Match 25 (Geneva, 21:00)
                </p>
                <p class="body-content">
                    <span style="font-weight: bold;">Wednesday 23 July</span> <br>
                    Match 30: Winners Match 28 vs Winners Match 27 (Zurich, 21:00)
                </p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold;">Finals</p>
                <p class="body-content">
                    <span style="font-weight: bold;">Sunday 27 July</span> <br>
                    Winners Match 29 vs Winners Match 30 (Basel, 18:00)
                </p>
                <hr style="border: solid 1px black; max-width: 300px">
                <div class="container-fluid mt-5">
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-light text-start w-100" >
                                <thead>
                                    <tr>
                                        <td scope="col" style="font-weight: bold; text-align:start;">
                                            <a target="_blank" href="https://www.uefa.com/womenseuro/news/0281-1804b9425ba6-45b4809c7e84-1000--women-s-euro-2025-host-cities/" style="color:orange; text-decoration:none">Women's EURO 2025 in Switzerland: Venues</a>
                                        </td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="text-align: start;">St. Jakob-Park, Basel</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: start;">Stadion Wankdorf, Bern</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: start;">Stade de Genève, Geneva</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: start;">Stadion Letzigrund, Zurich</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: start;">Arena St.Gallen, St.Gallen</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: start;">Allmend Stadion Luzern, Lucerne</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: start;">Arena Thun, Thun</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: start;">Stade de Tourbillon, Sion</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ml-4 my-2">
        <p class="">Comments section~</p>
    </div>
    <div class="comments-sec">
        <a href="#" class="btn btn-sm- btn-success ml-2 my-2" role="button">Comment your feelings here!~ <i class="bi bi-pencil-square"></i></a>
    </div>
    <div class="card-footer text-muted text-center py-3 justify-content-center">
        <h5 class="card-footer text-center display-5 bg-light text-dark py-4 mt-3 pacifico-font">
            <i class="bi bi-heart-fill mr-2 text-danger"></i>
            Thank you for reading!~
            <i class="bi bi-dice-6 ml-2"><i class="bi bi-dice-6"><i class="bi bi-dice-6"></i></i></i>
        </h5>
    </div>
</div>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Pacifico&display=swap" rel="stylesheet">
<style>
    .gideon-font{
        font-family: "Gideon Roman", serif;
        font-weight: 400;
        font-style: normal;
    }
    .pacifico-font {
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
    }
    .body-content {
        text-align: start;
        padding-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .starting-lineup {
        font-weight: bold; 
        color: dodgerblack;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .list {
        flex: 1;
        margin-right: 20px;
    }
    .image {
        max-width: 350px;
        height: auto;
        padding-right: 50px;
    }
</style>