<div class="card mt-2">
    <div class="card shadow-lg mx-auto mt-4 mb-1" style="max-width: 800px">
        <h5 class="card-header text-center fw-bold display-3 text-success py-4 my-3 gideon-font">
            HEALTH
        </h5>   
    </div>
    <div class="text-muted text-start my-4 mx-5">
      <p class="mb-1" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-calendar-check mr-2"></i>Publish Date: </strong>17/12/2024</p>
      <p class="mb-0" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-file-person mr-2" ></i>Author: </strong>hoaglee666</p>
    </div>
    <div class="card-body">
        <div class="card-body text-center bg-secondary text-white pt-1 mb-2">  
            <div class="mb-3 display-4" style="font-weight: bold;">9 of the world’s best soups</div>
            <div class="bg-dark text-white pb-1">
                <img src="/static/imgs/news/food2.jpg" style="max-width: 800px" alt="Suchir Balaji" class="mb-3 mt-3">
                <p class="body-content">If a steaming bowl of soup strikes you as the ultimate in old-fashioned comfort, you’ve got plenty of company.</p>
                <p class="body-content">Soup is one of the world’s oldest and most universal foods, said Janet Clarkson, author of the book “Soup: A Global History.”</p>
                <p class="body-content">“Every culture has some kind of soup,” she said. “It’s got very ancient roots.” Early people simmered it in everything from turtle shells to lengths of bamboo, she writes in the book, turning out metal soup pots starting in the Bronze Age.</p>
                <p class="body-content">That’s true no matter what you call it. Today, soup leans brothy while stews are more substantial, but the world’s spoonable foods have never fit neatly into the two English-language categories.</p>
                <p class="body-content">It’s a definition that leaves room for the world’s tremendous culinary diversity. These are nominations for 20 of the best soups around the world:</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold;font-size: 30px">
                    Banga | Nigeria
                </p>
                <img src="/static/imgs/news/food3.jpg" style="max-width: 800px" alt="Suchir Balaji" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >Banga is so popular in Nigeria that shops sell ready-mixed packets of spice. <span style="font-style: italic;">Shutterstock</span></p>
                <p class="body-content">Fruits from the oil palm tree lend both fat and flavor to this soup from the Niger Delta, which also features fresh catfish, beef and dried seafood.</p>
                <p class="body-content">It’s so popular that packets of ready-mixed banga spice are sold in shops. Most blends include African nutmeg, castor seed, orima, jansa and beletete leaves.</p>
                <p class="body-content">These spices infuse a rich, red sauce that’s the soup’s main draw: Soak it up with eba or a ball of starch, two Nigerian staples made from cassava but prepared with different methods.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold;font-size: 30px">
                    Beef pho (phở bò) | Vietnam
                </p>
                <img src="/static/imgs/news/food4.jpg" style="max-width: 800px" alt="Suchir Balaji" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >Beef is simmered for hours with cinnamon, star anise and other warm spices to create a wonderfully aromatic base for this rice noodle soup.<span style="font-style: italic;"> Leisa Tyler/LightRocket/Getty Images</span></p>
                <p class="body-content">Broth is simmered for hours with cinnamon, star anise and other warm spices to create a wonderfully aromatic base for this rice noodle soup. Pho is among Vietnam’s most recognized culinary exports, but the soup is a relatively new food, wrote Andrea Nguyen, author of “The Pho Cookbook.”</p>
                <p class="body-content">And while today’s pho restaurants serve a wide range of flavors, beef is the original. By 1930, Nguyen explained, the soup was served with slices of raw beef cooked gently in the broth.</p>
                <p class="body-content">Today, beef pho remains the most beloved version in Vietnam, with options that include the original raw beef, a mix of raw and cooked beef, brisket and tendon.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold;font-size: 30px">
                    Borscht | Ukraine
                </p>
                <img src="/static/imgs/news/food5.jpg" style="max-width: 800px" alt="Suchir Balaji" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >Borscht is beloved in Ukraine and across Eastern Europe.<span style="font-style: italic;">Shutterstock</span></p>
                <p class="body-content">Chunks of tender beets swim in brilliant red broth for a soup that’s beloved in Ukraine and across Eastern Europe. Often topped with a rich dollop of sour cream, borscht is anything but basic beet soup. It gets a tangy kick from kvass, a lacto-fermented beet juice that’s another regional specialty.</p>
                <p class="body-content">And while the soup is sometimes attributed to Russian cuisine, that claim is contested.</p>
                <p class="body-content">In 2022, UNESCO declared that borscht in Ukraine “unites people of all ages, genders and backgrounds at the table” and placed the soup on its list of Intangible Cultural Heritage in Need of Urgent Safeguarding. And individual Ukrainian chefs are doing their part to make the soup a symbol of the nation.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold;font-size: 30px">
                    Gazpacho | Spain
                </p>
                <img src="/static/imgs/news/food1.jpg" style="max-width: 800px" alt="Suchir Balaji" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >Gazpacho is a great way to enjoy a cold treat on a hot day.<span style="font-style: italic;">Shutterstock</span></p>
                <p class="body-content">Summer in Andalusia brings searing weather, ideal for cooling down with a bowl of this chilled vegetable soup. Today’s most classic version includes tomatoes, cucumbers, garlic and olive oil, with a handful of stale breadcrumbs added for body.</p>
                <p class="body-content">Arabs brought the dish to the Iberian Peninsula centuries before Spaniards tasted tomatoes, a New World ingredient. The original was a blend of bread, garlic and olive oil, pounded in a mortar and seasoned with vinegar.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold;font-size: 30px">
                    Groundnut soup | West Africa
                </p>
                <img src="/static/imgs/news/food6.jpg" style="max-width: 800px" alt="Suchir Balaji" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >Sweet potatoes and okra are stars in this particular version of groundnut soup, popular throughout West Africa.<span style="font-style: italic;">Shutterstock</span></p>
                <p class="body-content">As with so many culinary treats, groundnut soup ignores international boundaries: Meat, fish or chicken simmered into a thick peanut soup is pure comfort food in countries across West Africa. Versions range from Gambian domoda — the national dish — to a Nigerian take cooked with bitter, leafy greens.</p>
                <p class="body-content">No matter the country, such soups and stews are creamy, rich and salty, a satisfying combination that often gets a fiery jolt from the addition of Scotch bonnet peppers.</p>
                <p class="body-content">These spices infuse a rich, red sauce that’s the soup’s main draw: Soak it up with eba or a ball of starch, two Nigerian staples made from cassava but prepared with different methods.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold;font-size: 30px">
                    Harira | Morocco
                </p>
                <img src="/static/imgs/news/food7.jpg" style="max-width: 800px" alt="Suchir Balaji" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >Moroccan harira uses chickpeas in a savory tomato broth to superb effect.<span style="font-style: italic;">Shutterstock</span></p>
                <p class="body-content">When the sun sets during the month of Ramadan, many Moroccans break their fasts with a hot bowl of this comforting chickpea stew. Cinnamon, ginger, turmeric and pepper lend warming spice to the savory tomato broth, which soaks into tender chickpeas. It’s also widely enjoyed in Algeria.</p>
                <p class="body-content">While vegetarian recipes are popular, the most classic version is simmered with tender chunks of lamb or other meat. It’s not just fasting fare for Muslims; some North African Jews also prepare harira to break the annual fast of Yom Kippur.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold;font-size: 30px">
                    Lanzhou beef noodle soup | China
                </p>
                <img src="/static/imgs/news/food8.jpg" style="max-width: 800px" alt="Suchir Balaji" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >Of course a Chinese soup makes the best 20 list -- one taste of lanzhou beef noodle soup will tell you why. <span style="font-style: italic;">Shutterstock</span></p>
                <p class="body-content">Shaping — or pulling — la mian noodles by hand for this traditional soup is an art in itself. Artisans use a finely milled, high-gluten flour and alkaline powder to mix a stretchy dough, then pull and fold a single piece of dough to make enough noodles for a bowl of soup.</p>
                <p class="body-content">Slip them into a bowl of beef broth for a world-class soup that includes tender beef, pale slices of radish, chili oil and fresh herbs. (At some shops, diners may even ask for noodles of a preferred thickness and shape.)</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold;font-size: 30px">
                    Tonkotsu ramen | Japan
                </p>
                <img src="/static/imgs/news/food9.jpg" style="max-width: 800px" alt="Suchir Balaji" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >This classic ramen soup is flavored with pork bones. <span style="font-style: italic;">Shutterstock</span></p>
                <p class="body-content">Long-simmered pork bones impart intense flavor to this classic ramen, whose broth is cloudy with marrow and fat. It’s a signature of Fukuoka Prefecture on the southerly island of Kyushu, but the rich soup is now served in ramen shops across the country (and world).</p>
                <p class="body-content">While the indulgent broth is the star of tonkotsu ramen, a bowl isn’t complete without slices of pork belly and a tangle of noodles that are hard in the center. Eat with a pair of chopsticks and a flat-bottomed spoon, and don’t forget to slurp — it’s believed to enhance the flavor.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold;font-size: 30px">
                    Yayla çorbasi | Turkey
                </p>
                <img src="/static/imgs/news/food10.jpg" style="max-width: 800px" alt="Suchir Balaji" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >Yayla çorbasi speaks to a time when soup and medicine weren't considered such separate things. <span style="font-style: italic;">Shutterstock</span></p>
                <p class="body-content">Boiled rice or barley adds grainy sweetness to this creamy yogurt soup. It’s believed to ward off colds during winter; some Turkish hospitals even serve yogurt soup to recovering patients.</p>
                <p class="body-content">A crumble of dried mint helps balance the yogurt’s slight tang. Serve with a pillowy round of fresh pita bread.</p>
                <p class="body-content" style="font-style:italic">Jen Rose Smith is a writer based in Vermont. Find her work at <a href="https://www.jenrosesmith.com/" target="_blank" style="color: white;font-style:italic">jenrosesmith.com</a>, or follow her on Twitter @jenrosesmithvt.</p>
                <hr style="border: solid 1px black; max-width: 300px">
            </div>
        </div>
    </div>
    <div class="ml-4 my-2">
        <p class="">Comments section~</p>
    </div>
    <div class="comments-sec">
        <a href="#" class="btn btn-sm- btn-success ml-2 my-2" role="button">Comment your feelings here!~ <i class="bi bi-pencil-square"></i></a>
    </div>
    <div class="card-footer text-muted text-center py-3 justify-content-center">
        <h5 class="card-footer text-center display-5 bg-light text-dark py-4 mt-3 pacifico-font">
            <i class="bi bi-heart-fill mr-2 text-danger"></i>
            Thank you for reading!~
            <i class="bi bi-dice-6 ml-2"><i class="bi bi-dice-6"><i class="bi bi-dice-6"></i></i></i>
        </h5>
    </div>
</div>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Pacifico&display=swap" rel="stylesheet">
<style>
    .gideon-font{
        font-family: "Gideon Roman", serif;
        font-weight: 400;
        font-style: normal;
    }
    .pacifico-font {
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
    }
    .body-content {
        text-align: start;
        padding-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .starting-lineup {
        font-weight: bold; 
        color: dodgerblack;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .list {
        flex: 1;
        margin-right: 20px;
    }
    .image {
        max-width: 350px;
        height: auto;
        padding-right: 50px;
    }
</style>