<div class="card mt-2">
    <div class="card shadow-lg mx-auto mt-4 mb-1" style="max-width: 800px">
        <a href="/articles/byCat?id=9" style="text-decoration: none;">
            <h5 class="card-header text-center fw-bold display-3 text-danger py-4 my-3 gideon-font">
                MIDDLE EAST
            </h5>   
        </a>    
    </div>
    <div class="text-muted text-start my-4 mx-5">
      <p class="mb-1" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-calendar-check mr-2"></i>Publish Date: </strong>17/12/2024</p>
      <p class="mb-0" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-file-person mr-2" ></i>Author: </strong>hoaglee666</p>
    </div>
    <div class="card-body">
        <div class="card-body text-center bg-secondary text-white pt-1 mb-2">  
            <div class="mb-3 display-4" style="font-weight: bold;">Fear of a reckoning simmers in Assad's Alawite heartland</div>
            <div class="bg-dark text-white pb-1">
                <img src="/static/imgs/news/hts1.webp" style="max-width: 800px" alt="Suchir Balaji" class="mb-3 mt-3">
                <p class="body-content">Noor stands trembling in the chill afternoon light of the courtyard, not from the cold, but from fear.</p>
                <p class="body-content">Dressed in her thick winter coat, she has come to make a complaint to the men of Hayat Tahrir al-Sham (HTS), Syria's new de-facto rulers, and the new law in town.</p>
                <p class="body-content">She begins to cry as she explains that three days earlier, just before nine in the evening, armed men had arrived in a black van at her apartment in an upscale neighbourhood of the city of Latakia. Along with her children and her husband, an army officer, she was forced out onto the street in her pyjamas. The leader of the armed men then moved his own family into her home.</p>
                <img src="/static/imgs/news/hts2.webp" style="max-width: 800px" alt="Suchir Balaji" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >Noor (left) had her home taken over by armed men</p>
                <p class="body-content">Noor - not her real name - is Alawite, the minority sect from which the Assad family originates, and to which many of the former regime's political and military elite belonged. Alawites, whose sect is an offshoot of Shia Islam, make up around 10% of Syria's population, which is majority Sunni. Latakia, on Syria's north-west Mediterranean coast is their heartland.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content">As with other cities, an array of different rebel groups have rushed into the power vacuum left after Assad's soldiers abandoned their posts. The regime had exploited sectarian divisions to maintain its grip on power, now the Sunni Islamist HTS has pledged to respect all religions in Syria. But Latakia's Alawite population is fearful.</p>
                <p class="body-content">Some people haven't even left their homes since the regime change because they worry that there will be a reckoning, and that they will have to pay a heavy price for the support of the old regime.</p>
                <p class="body-content">Noor shows CCTV footage from her apartment, to 34-year-old Abu Ayoub, HTS general security commander. In the film, a group of bearded fighters, some wearing baseball caps and others in military fatigues, is pictured on her doorstep.</p>
                <img src="/static/imgs/news/hts3.webp" style="max-width: 800px" alt="openai" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >HTS commander Abou Ayoub</p>
                <p class="body-content">"They broke down the door. There were 10 militants at our door and 16 others waiting down the street with three cars," Noor tells Abu Ayoub. His men are mostly from Idlib and Aleppo, where the HTS and allied rebel factions were based before launching the offensive that overthew Assad three weeks ago. They stand around in combat fatigues, holding their rifles and listening intently as she describes how the family's belongings were thrown into the street.</p>
                <p class="body-content">HTS was once aligned with al-Qaeda and is still proscribed as a terror organisation by most Western countries, although the UK and US say they have been in contact with the group. In a matter of weeks, it has gone from enemy of the state to the law of the land. Abu Ayoub and his men are adjusting to the change in roles from revolutionaries to policemen.</p>
                <p class="body-content">Noor is only one of a long line of complainants who have come to their general security station with grievances. The base, the city's former military intelligence headquarters, was perhaps the most feared place in Latakia. Now it is a shambles, with broken radios and equipment scattered across the courtyard. Torn portraits of Bashar al-Assad lie in the dirt.</p>
                <p class="body-content">A man joins the queue of those making complaints. He has a black eye, broken ribs, and his shirt is torn and bloodied. He says men from Idlib had broken into his apartment.</p>
                <img src="/static/imgs/news/hts4.webp" style="max-width: 800px" alt="openai" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >An injured man petitions HTS forces for help</p>
                <p class="body-content">"Some of them were civilians, some wore military clothes and were masked," he says. "They hit my daughter and aimed weapons at my son's head. They stole money, they stole gold."</p>
                <p class="body-content">The armed police take up positions along the street and at the doorway of the apartment. They bring two suspects back to the station for questioning.</p>
                <p class="body-content">But they barely have time to clear their weapons when there is another complaint, a dispute over gas bottles that left another man beaten.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <img src="/static/imgs/news/hts5.webp" style="max-width: 800px" alt="openai" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >HTS grab a suspect from the street</p>
                <p class="body-content">Another race in the cars to a crowded commercial and residential neighbourhood. When the police pull a suspect out into the street - his face still bloody from the earlier fight - local women come to their balconies and shout "Shabiha! Shabiha!". They are accusing the suspect of being a member of the shadowy militia force, mostly made of Alawite men, who did the Assad regime's dirty work.</p>
                <p class="body-content">Since its lightning-fast sweep to victory across Syria, Islamist HTS has pledged to keep the peace and protect all of the country's minorities. And every day Abu Ayoub has to make good on that pledge.</p>
                <p class="body-content">Abu Ayoub admits the situation in the city was "a bit chaotic" but turns his attention to Noor. "We are here now, we weren't here when the army left. We were initially in Damascus and then we came. They are thugs, and we will evict them from your house. We will return your belongings. You have my word," he said. And with that he orders his men into their pickup trucks and with sirens blaring they head for the apartment.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <img src="/static/imgs/news/hts6.webp" style="max-width: 800px" alt="openai" class="mb-3 mt-3">
                <p class="body-content">Latakia is a city liberated. Last Friday, tens of thousands of people from all sects, gathered on the streets to celebrate the downfall of the Assad dynasty. In a city square, they sat atop the plinth where the statue of Hafez al-Assad, Bashar's father - who ruled for 29 years before his death in 2000 - once stood, and joyfully waved the flag of a free Syria.</p>
                <p class="body-content">The message that day was unity, of one Syria, without sectarian division. But after half a century of tyrannical rule from a regime which fanned sectarian hatred and warned that Alawites would be massacred if they ever lost power, it is an adjustment to say the least.</p>
                <p class="body-content">On the way to Noor's apartment, the HTS convoy speed through the streets and passersby cheer them and flash the peace sign.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <img src="/static/imgs/news/hts7.webp" style="max-width: 800px" alt="openai" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >HTS drive through the busy streets of Latakia</p>
                <p class="body-content">The new Syrian flag, with its green instead of red stripe, and three red stars instead of two green, is commonplace on shop shutters and hanging from balconies. But in Alawite areas, people mostly watch in silence as the convoy moves along. There are fewer new flags in evidence.</p>
                <p class="body-content">Azam al-Ali, 28, an HTS security officer from Deir al-Sour in eastern Syria sits in the front seat. After so much oppression, he says, it will take time for people to trust authority again.</p>
                <p class="body-content">"Most of the oppressed that come with complaints are from two sects, the Sunni and the Alawite. We do not differentiate. But the extreme poverty that this regime left behind caused this vast chaos," he tells me as the traffic parts for the convoy.</p>
                <p class="body-content">We arrive at Noor's apartment and half a dozen armed HTS men hurry up the stairs.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <img src="/static/imgs/news/hts8.webp" style="max-width: 800px" alt="openai" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >HTS commander at the door of the apartment</p>
                <p class="body-content">The woman behind the door refuses to open up, but after some negotiation the door opens, and she and her family are ordered to leave. Noor goes in to retrieve some clothes and books for her daughter who is studying for exams. Weapons and ammunition belonging to the rebel squatters are confiscated.</p>
                <p class="body-content">"When I went to HTS today I was terrified," says Noor. "Their appearance was so intimidating and frightening. Honestly, though, they were very nice."</p>
                <p class="body-content">But she won't be returning to the apartment. One nightmare has ended in Syria, and for Alawites, another has begun, she says. As she clutches her belongings, Noor says she no longer feels safe in her home.</p>
                <p class="body-content">"It's impossible for me to live here again. I do have hope, but not in the near future. At the moment I don't dare."</p>
                <hr style="border: solid 1px black; max-width: 300px">
            </div>
        </div>
    </div>
    <div class="ml-4 my-2">
        <p class="">Comments section~</p>
    </div>
    <div class="comments-sec">
        <a href="#" class="btn btn-sm- btn-success ml-2 my-2" role="button">Comment your feelings here!~ <i class="bi bi-pencil-square"></i></a>
    </div>
    <div class="card-footer text-muted text-center py-3 justify-content-center">
        <h5 class="card-footer text-center display-5 bg-light text-dark py-4 mt-3 pacifico-font">
            <i class="bi bi-heart-fill mr-2 text-danger"></i>
            Thank you for reading!~
            <i class="bi bi-dice-6 ml-2"><i class="bi bi-dice-6"><i class="bi bi-dice-6"></i></i></i>
        </h5>
    </div>
</div>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Pacifico&display=swap" rel="stylesheet">
<style>
    .gideon-font{
        font-family: "Gideon Roman", serif;
        font-weight: 400;
        font-style: normal;
    }
    .pacifico-font {
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
    }
    .body-content {
        text-align: start;
        padding-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .starting-lineup {
        font-weight: bold; 
        color: dodgerblack;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .list {
        flex: 1;
        margin-right: 20px;
    }
    .image {
        max-width: 350px;
        height: auto;
        padding-right: 50px;
    }
</style>