<div class="card mt-2">
    <div class="card shadow-lg mx-auto mt-4 mb-1" style="max-width: 800px">
        <h5 class="card-header text-center fw-bold display-3 text-danger py-4 my-3 gideon-font">
            ASIA
        </h5>   
    </div>
    <div class="text-muted text-start my-4 mx-5">
      <p class="mb-1" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-calendar-check mr-2"></i>Publish Date: </strong>17/12/2024</p>
      <p class="mb-0" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-file-person mr-2" ></i>Author: </strong>hoaglee666</p>
    </div>
    <div class="card-body">
        <div class="card-body text-center bg-secondary text-white pt-1 mb-2">  
            <div class="mb-3 display-4" style="font-weight: bold;">'We thought it was a ball' - the bombs killing and maiming Indian children</div>
            <div class="bg-dark text-white pb-1">
                <img src="/static/imgs/news/ind1.webp" style="max-width: 800px" alt="Suchir Balaji" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >Puchu was nine when he struck what he thought was a ball, causing a deadly explosion</p>
                <p class="body-content" style="font-weight: bold;">Over the last three decades, at least 565 children in the Indian state of West Bengal have been injured or killed by home-made bombs, a BBC Eye investigation has found.</p>
                <p class="body-content">On a bright summer morning in May 1996, six boys from a slum in Kolkata, the capital of India's West Bengal state, stepped out to play cricket in a narrow alley.</p>
                <p class="body-content">Nine-year-old Puchu Sardar, one of the boys, grabbed a cricket bat and quietly slipped past his sleeping father. Soon, the cracking noise of bat meeting ball echoed through the alley.</p>
                <p class="body-content">A ball batted out of the boundaries of their makeshift pitch sent the boys searching for it in a small garden nearby. There, in a black plastic bag, they found six round objects. They looked like cricket balls someone had left behind, and the boys returned to the game with their spoils.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content pt-0">One of the "balls" from the bag was bowled at Puchu who struck it with his bat.</p>
                <p class="body-content">A deafening explosion tore through the alley. It was a bomb.</p>
                <p class="body-content">As the smoke lifted and neighbours rushed outside, they found Puchu and five of his friends sprawled on the street, their skin blackened, clothes scorched, bodies torn.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content">Seven-year-old Raju Das, an orphan raised by his aunt, and seven-year-old Gopal Biswas died of their injuries. Four other boys were wounded.</p>
                <p class="body-content">Puchu narrowly survived, having suffered serious burns and shrapnel wounds to his chest, face and abdomen. He spent over a month in hospital. When he came home he had to use kitchen tongs to remove shrapnel still lodged in his body because his family had run out of money to pay for any more medical care.</p>
                <p class="body-content">Puchu and his friends are part of a long, tragic list of children killed or maimed by crude bombs, which have been used in West Bengal for decades in a bloody battle for dominance in the state's violent politics.</p>
                <p class="body-content">So we went through every edition of two prominent state newspapers - Anandabazar Patrika and Bartaman Patrika - from 1996 to 2024, looking for reports of children injured or killed by these devices.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold;">We found at least 565 child casualties - 94 deaths and 471 injuries - as of 10 November. This means a child has fallen victim to bomb violence, on average, every 18 days.</p>
                <p class="body-content">More than <strong>60%</strong> of these incidents involved children playing outdoors - gardens, streets, farms, even near schools - where bombs, typically used during elections to terrorise opponents, were hidden.</p>
                <p class="body-content">But they barely have time to clear their weapons when there is another complaint, a dispute over gas bottles that left another man beaten.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bolder; font-size:50px">The revolutionary history of bombs in West Bengal</p>
                <p class="body-content">West Bengal, India's fourth-largest state with a population of more than 100 million, has long struggled with political violence.</p>
                <p class="body-content">Over the years, since India's independence in 1947, the state has cycled through different rulers - the Congress party for two decades, the Communist-led Left Front for three, and the current Trinamool Congress since 2011.</p>
                <p class="body-content">In the late 1960s, the state was wracked by armed conflict between Maoist rebels – also called Naxalites – and government forces. A common thread across all governments and rebel conflicts since then has been the use of bombs as tools of intimidation by political parties to silence opponents, especially during elections.</p>
                <p class="body-content">"Bombs have been [used to settle scores]. This has been happening in Bengal for a long time, more than 100 years," Pankaj Dutta, a former Inspector General of West Bengal police, told us.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <img src="/static/imgs/news/ind2.webp" style="max-width: 800px" alt="openai" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >Today's crude bombs in West Bengal are bound with jute strings and stuffed with shrapnel-like nails, nuts and glass</p>
                <p class="body-content">Bomb-making in Bengal has its roots in the rebellion against British rule in the early 1900s.</p>
                <p class="body-content">Early efforts were crude and accidents were common: One rebel lost a hand and another died testing a bomb.
                <br class="body-content">
                Then a rebel returned from France armed with bomb-making skills.
                <br class="body-content">
                His book bomb - a legal tome loaded with explosives hidden in a Cadbury cocoa tin - would have killed its target, a British magistrate, if he had opened it.</p>
                <p class="body-content">The first explosion rocked Midnapore district in 1907, when revolutionaries derailed a train carrying a senior British official by planting a bomb on the tracks.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content">Bal Gangadhar Tilak, a nationalist leader, wrote in 1908 that bombs were not just weapons but a new kind of "magical lore," a "witchcraft" spreading from Bengal to the rest of India.</p>
                <p class="body-content">Today, Bengal's crude bombs are known locally as peto. They are bound with jute strings and stuffed with shrapnel-like nails, nuts and glass.</p>
                <p class="body-content">Political activists, particularly in rural areas, use these bombs to intimidate opponents, disrupt voting stations, or retaliate against perceived enemies.</p>
                <p class="body-content">We arrive at Noor's apartment and half a dozen armed HTS men hurry up the stairs.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <img src="/static/imgs/news/ind3.webp" style="max-width: 800px" alt="openai" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >Poulami Halder had been picking flowers when she found what she thought was a ball</p>
                <p class="body-content">Children like Poulami Halder bear the brunt of such violence.</p>
                <p class="body-content">On an April morning in 2018, the-then seven-year-old was picking flowers for morning prayers in Gopalpur, a village in the North 24 Parganas district dotted with ponds, paddy fields, and coconut trees. Village council elections were barely a month away.</p>
                <p class="body-content">Poulami saw a ball lying near a neighbour's water pump. "I picked it up and brought it home," she recalls.</p>
                <p class="body-content">As she stepped inside, her grandfather, sipping tea, froze at the sight of the object in her hand. "He said, 'It's not a ball - it's a bomb! Throw it away!' Before I could react, it exploded in my hand."</p>
                <p class="body-content">The blast shattered the quiet of the village. Poulami was struck in the "eyes, face, and hands" and fainted, as chaos erupted around her.</p>
                <p class="body-content">Her injuries were devastating – her left hand was amputated, and she spent nearly a month in hospital.</p>
                <p class="body-content">An ordinary morning routine had turned into a nightmare, forever altering Poulami's life in a single, shattering moment.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bolder; font-size:30px">In the Indian state of West Bengal, children are routinely maimed, blinded, or killed by home-made bombs. BBC Eye investigates the political violence that underlies this tragedy and asks why the carnage is allowed to continue.</p>
                <p class="body-content">Poulami, now 13, received an artificial hand but couldn't use it - too heavy and quickly outgrown. Sabina, 14, struggles with failing eyesight. Her family says she needs another operation to remove bomb debris from her eyes, but they cannot afford it.</p>
                <p class="body-content">Puchu, now 37, was pulled out of school by his fearful parents and spent years refusing to step outside, often hiding under his bed at the slightest noise. He never picked up a cricket bat again. His childhood stolen, he's now scraping by with odd construction jobs and bears the scars of his past.</p>
                <p class="body-content">But all hope is not lost.</p>
                <p class="body-content">Poulami and Sabina have both learned to ride a bicycle with one hand and continue to go to school. Both dream of becoming teachers. Puchu hopes for a brighter future for his son, Rudra, five, - a future in uniform as a policeman.</p>
                <img src="/static/imgs/news/ind4.webp" style="max-width: 800px" alt="openai" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >Sabina, like Poulami, has learned to ride a bike one-handed and dreams of becoming a teacher</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content">Despite the terrible toll it inflicts, there is no sign of crude bomb violence in West Bengal ending.</p>
                <p class="body-content">None of the political parties admit to using bombs for political gain.</p>
                <p class="body-content">When the BBC asked the four main political parties in West Bengal whether they were involved, directly or through intermediaries, in manufacturing or using crude bombs, the ruling Trinamool Congress (TMC) and the opposition Bharatiya Janata Party (BJP) did not respond.</p>
                <p class="body-content">The Communist Party of India (Marxist) (CPI-M) strongly denied being involved, saying it was "committed to upholding the rule of law…and that when it comes to protecting rights and lives, children are of the utmost concern".</p>
                <p class="body-content">The Indian National Congress (INC) also strongly denied using crude bombs for electoral advantage, and said it had "never engaged in any violence for political or personal gain".</p>
                <p class="body-content">"During any major election here you will see the rampant use of bombs," Pankaj Dutta told us. "Extreme abuse of childhood is going on. It is a lack of care on the part of the society." Mr Dutta passed away in November.</p>
                <p class="body-content">Poulami adds: "Those who planted the bombs are still free. No one should leave bombs lying around. No child should ever be harmed like this again."</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bolder; font-size:50px">'Look what they have done to my son'</p>
                <p class="body-content">But the tragedy continues.</p>
                <p class="body-content">In May this year in the Hooghly district, three boys playing near a pond unknowingly stumbled upon a cache of bombs. The explosion killed Raj Biswas, nine, and left his friend maimed, missing an arm. The other boy escaped with leg fractures.</p>
                <p class="body-content">"Look what they have done to my son," Raj's grieving father sobbed as he caressed the forehead of his dead child.</p>
                <p class="body-content">As Raj's body was lowered into a grave, political slogans crackled through the air from a nearby election rally: "Hail Bengal!" the crowd chanted, "Hail Bengal!"</p>
                <p class="body-content">It was election time. And once again, children were paying the price.</p>
                <hr style="border: solid 1px black; max-width: 300px">
            </div>
        </div>
    </div>
    <div class="ml-4 my-2">
        <p class="">Comments section~</p>
    </div>
    <div class="comments-sec">
        <a href="#" class="btn btn-sm- btn-success ml-2 my-2" role="button">Comment your feelings here!~ <i class="bi bi-pencil-square"></i></a>
    </div>
    <div class="card-footer text-muted text-center py-3 justify-content-center">
        <h5 class="card-footer text-center display-5 bg-light text-dark py-4 mt-3 pacifico-font">
            <i class="bi bi-heart-fill mr-2 text-danger"></i>
            Thank you for reading!~
            <i class="bi bi-dice-6 ml-2"><i class="bi bi-dice-6"><i class="bi bi-dice-6"></i></i></i>
        </h5>
    </div>
</div>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Pacifico&display=swap" rel="stylesheet">
<style>
    .gideon-font{
        font-family: "Gideon Roman", serif;
        font-weight: 400;
        font-style: normal;
    }
    .pacifico-font {
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
    }
    .body-content {
        text-align: start;
        padding-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .starting-lineup {
        font-weight: bold; 
        color: dodgerblack;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .list {
        flex: 1;
        margin-right: 20px;
    }
    .image {
        max-width: 350px;
        height: auto;
        padding-right: 50px;
    }
</style>