<div class="card mt-2">
    <div class="card shadow-lg mx-auto mt-4 mb-1" style="max-width: 800px">
        <h5 class="card-header text-center fw-bold display-3 text-primary py-4 my-3 gideon-font">
            Technology
        </h5>   
    </div>
    <div class="text-muted text-start my-4 mx-5">
      <p class="mb-1" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-calendar-check mr-2"></i>Publish Date: </strong>17/12/2024</p>
      <p class="mb-0" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-file-person mr-2" ></i>Author: </strong>hoaglee666</p>
    </div>
    <div class="card-body">
        <div class="card-body text-center bg-secondary text-white pt-1 mb-2">  
            <div class="mb-3 display-4" style="font-weight: bold;">Could mouse sperm orbiting Earth be the future of humanity?</div>
            <div class="bg-dark text-white pb-1">
                <img src="/static/imgs/news/mouse1.jpg" style="max-width: 800px" alt="Suchir Balaji" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >This photo taken in September 2020 shows a mouse (middle) born from sperm preserved for six years in space, or a "space mouse." The slightly smaller mice in the front and back are the offspring of space mice bred together. <span style="font-style:italic;">Teruhiko Wakayama/University of Yamanashi</span></p>
                <p class="body-content">It’s been a tough few years on planet Earth, with a pandemic ripping across the globe, and an onslaught of record-breaking heatwaves and natural disasters.</p>
                <p class="body-content">Events like these are good examples of why humans need to find a new place to live, according to proponents of the futuristic idea. Outposts on the moon or Mars could act as an insurance policy against extinction due to catastrophe or self-destruction, they say.</p>
                <p class="body-content">But there’s a lot we don’t know about our ability to survive and thrive in space – including if we can reproduce. Now, freeze-dried mouse sperm, stored aboard the International Space Station (ISS) in a radiation protection box, could help give us a better understanding of mammals’ ability to procreate off Earth.</p>
                <p class="body-content">When the specimens get back to terra firma next year, Teruhiko Wakayama, a professor at the University of Yamanashi’s Advanced Biotechnology Centre, will study them to determine the impact of the space environment, and if they can be used to create healthy offspring.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content">Back in his laboratory in Japan, Wakayama is developing a device that will allow astronauts to conduct rodent in vitro fertilization (IVF) aboard the ISS in the coming years. Ultimately, the experiments could help save humankind, he says.</p>
                <p class="body-content">“Our aim is to establish a system for safely and permanently preserving Earth’s genetic resources somewhere in space – whether on the moon or elsewhere – so that life can be revived even if Earth faces catastrophic destruction.”</p>
                <p class="body-content">It may sound straight out of a sci-fi movie, but Wakayama has long been pushing the boundaries with his reproductive studies. In 1997, he and another academic developed a novel method that they used to clone the world’s first mouse from adult cells.</p>
                <p class="body-content">He led a study on the development of mouse embryos in space – something that had previously only been done with creatures like amphibians and fish. And he and his team pioneered a freeze-drying method used to send mouse sperm to the ISS, where it was stored in a freezer for up to six years. When the samples got back to Earth, the researchers rehydrated them and produced healthy baby mice.</p>
                <p class="body-content">From that study, they determined that freeze-dried sperm could stay viable for 200 years in space. Although that’s impressive, Wakayama says it’s “absolutely not long enough for our future.” With his latest space specimens, he’s using a new device to protect sperm stored at room temperature, from radiation, to see if it might be possible to store samples in space indefinitely.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size:30px">From “Chix in Space” to cosmic cockroaches</p>
                <p class="body-content">For decades, scientists have been launching Earthly creatures into space to study how microgravity and cosmic radiation impact biological processes – including reproduction.</p>
                <p class="body-content">In 1989, for example, 32 fertilized chicken eggs were sent into orbit to study how they’d develop without gravity, in an experiment sponsored by the American fast-food chain KFC, and nicknamed “Chix in Space.”</p>
                <p class="body-content">Tadpoles born on the Space Shuttle Endeavour in 1992 became the first vertebrates to spend the first few days of life in space. There, they swam erratically and struggled to find air bubbles to breathe.</p>
                <img src="/static/imgs/news/mouse2.jpg" style="max-width: 800px" alt="openai" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >The Spacelab-J (SL-J) was launched aboard the Space Shuttle Orbiter Endeavour in 1992. This photo shows one of the female frogs carried aboard. It was induced to ovulate and shed eggs. These eggs were then fertilized in the microgravity environment. The mission also examined the swimming behavior of tadpoles grown in the absence of gravity. <span style="font-style: italic;">NASA</span></p>
                <p class="body-content">And in 2007, a cockroach named Nadezhda (which means “Hope” in Russian) gave birth to 33 offspring conceived in orbit. They were mostly normal, aside from abnormally dark exoskeletons.</p>
                <p class="body-content">“We have seen that most of the specific phases of the reproductive cycle can occur in space, at least in a species or two, not always completely successfully,” said Virginia Wotring, a professor at the International Space University, a private non-profit institution in Strasbourg, France, devoted to space education.</p>
                <p class="body-content">Medaka fish, a small fish native to rice paddies, marshes and ponds in Japan, and snails, have completed the entire cycle of reproduction in space, Wotring said. “Going to mammals is the next natural step, to see what parts of it will work,” she added.</p>
                <p class="body-content">When it comes to mice, the freeze-dried mouse sperm Wakayama is currently storing aboard the ISS will return to Earth in 2025 for study. “Our goal is to preserve [reproductive cells] at room temperature forever,” he says.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content">Humans are a long way from becoming a multi-planet species, but we are making progress. In late 2026, the NASA-led Artemis program will return astronauts to the moon for the first time since 1972, where it hopes to develop an ongoing presence. And if SpaceX founder Elon Musk’s predictions are accurate, the first crewed mission to Mars could be on its way in the next four years.</p>
                <p class="body-content">Scientists already know that space travel can wreak havoc on the human body. Cosmic radiation can cause mutations in DNA that increases the risk of cancer and causes other ailments. Microgravity can cause vision problems, a weakened immune system, and muscle and bone loss.</p>
                <p class="body-content">That means that there are more pressing concerns than reproduction, says Wotring. “There is other information that we need right now in order to care of the astronauts we’re sending to space now,” she says. “That has to take priority.”</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <img src="/static/imgs/news/mouse3.jpg" style="max-width: 800px" alt="openai" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >Commander Akihiko Hoshide of the Japan Aerospace Exploration Agency (JAXA) thaws mouse embryo samples aboard the ISS, as part of a 2021 mission, to learn how the space environment affects key phases of reproduction. <span style="font-style: italic;">NASA</span></p>
                <p class="body-content">But Wakayama believes his work will be crucial as humans spend more time in space. Damaged DNA in sperm and eggs, for example, could pass genetic abnormalities on to the next generation, he says.</p>
                <p class="body-content">And without the directional pull of gravity, a fertilized embryo might not be able to develop properly. “The formation of the nervous system and the development of limbs … we don’t know if this will happen properly in microgravity, where there is no up or down,” he says.</p>
                <p class="body-content">He adds that the work could be replicated and built upon for other species, which could be helpful for transporting animals like dogs for companionship and livestock like cattle for food, to other planets.</p>
                <p class="body-content">Wakayama plans to stick to studying mice. His IVF project has been accepted by Japan’s space agency, but the device that will be used to complete the IVF is still under development. He hopes that it will be ready for launch to the ISS within two years.</p>
                <p class="body-content">“In sci-fi movies, people live on other planets and babies are born, but we don’t even know if that’s possible yet,” he says.</p>
                <p class="body-content">He hopes his experiments can help shed light on whether humans can reproduce and develop normally in the harsh environment of space.</p>
                <p class="body-content">“If we can confirm that, it will bring reassurance,” says Wakayama. “And if it doesn’t work, we need to understand how to address that challenge.”</p>
                <hr style="border: solid 1px black; max-width: 300px">
            </div>
        </div>
    </div>
    <div class="card-footer text-muted text-center py-3 justify-content-center">
        <h5 class="card-footer text-center display-5 bg-light text-dark py-4 mt-3 pacifico-font">
            <i class="bi bi-heart-fill mr-2 text-danger"></i>
            Thank you for reading!~
            <i class="bi bi-dice-6 ml-2"><i class="bi bi-dice-6"><i class="bi bi-dice-6"></i></i></i>
        </h5>
    </div>
</div>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Pacifico&display=swap" rel="stylesheet">
<style>
    .gideon-font{
        font-family: "Gideon Roman", serif;
        font-weight: 400;
        font-style: normal;
    }
    .pacifico-font {
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
    }
    .body-content {
        text-align: start;
        padding-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .starting-lineup {
        font-weight: bold; 
        color: dodgerblack;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .list {
        flex: 1;
        margin-right: 20px;
    }
    .image {
        max-width: 350px;
        height: auto;
        padding-right: 50px;
    }
</style>