<div class="card mt-2">
    <div class="card shadow-lg mx-auto mt-4 mb-1" style="max-width: 800px">
        <h5 class="card-header text-center fw-bold display-3 text-danger py-4 my-3 gideon-font">
            MIDDLE EAST
        </h5>   
    </div>
    <div class="text-muted text-start my-4 mx-5">
      <p class="mb-1" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-calendar-check mr-2"></i>Publish Date: </strong>17/12/2024</p>
      <p class="mb-0" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-file-person mr-2" ></i>Author: </strong>hoaglee666</p>
    </div>
    <div class="card-body">
        <div class="card-body text-center bg-secondary text-white pt-1 mb-2">  
            <div class="mb-3 display-4" style="font-weight: bold;">Gaza ceasefire talks in final stage, Palestinian negotiator tells BBC</div>
            <div class="bg-dark text-white pb-1">
                <img src="/static/imgs/news/pal1.webp" style="max-width: 800px" alt="Suchir Balaji" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >The plan would see hostages released in step with Israeli withdrawals in Gaza</p>
                <p class="body-content">After months of deadlock, there are new signs that Israel and Hamas could be moving closer to a Gaza ceasefire and hostage release deal.</p>
                <p class="body-content">A senior Palestinian official involved in the indirect negotiations told the BBC that talks were in a "decisive and final phase". Israel's defence minister, Israel Katz, has also said an agreement is closer than ever.</p>
                <p class="body-content">The Palestinian official outlined a three-phase plan which would see civilians and women soldiers held hostage in Gaza released in the first 45 days, with Israeli forces pulling out of city centres, the coastal road and the strategic strip of land along the border with Egypt.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content pt-0">There would be a mechanism for displaced Gazans to be able to return to the north of the territory, the official said. A second stage would see remaining hostages freed and troops withdrawn before the third stage ending the war. Of 96 hostages still held in Gaza, 62 are assumed by Israel to still be alive.</p>
                <p class="body-content">The plan appears to be based on the deal US President Joe Biden outlined on 31 May and reports from all sides stress there are key details to work out.</p>
                <p class="body-content">According to his spokesman, Katz told members of the Israeli parliament's foreign affairs committee on Monday: "We have not been this close to an agreement on the hostages since the previous deal," referring to an exchange of hostages and Palestinian prisoners in Israel in November 2023.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content">He has since written on X: "My position on Gaza is clear. After we defeat Hamas's military and governmental power in Gaza, Israel will have security control over Gaza with full freedom of action," comparing this to the situation in the occupied West Bank.</p>
                <p class="body-content">"We will not allow any terrorist activity against Israeli communities and Israeli citizens from Gaza. We will not allow a return to the reality of before 7 October."</p>
                <p class="body-content">Such comments are likely to be seen as problematic by negotiators trying to bridge gaps with Hamas. However, in Israel, they are seen as vital to guarantee the support of far-right Israeli cabinet ministers who have previously warned they would not agree to what they have described as a "reckless" deal in Gaza.</p>
                <p class="body-content">The Palestinian Islamist armed group Hamas, which governed Gaza, carried out an unprecedented cross-border attack in southern Israel on 7 October 2023. About 1,200 people were killed and 253 others abducted.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content">More than 100 hostages have been freed through negotiations or Israeli military rescue operations.</p>
                <p class="body-content">On 7 December, it is understood from Palestinian sources that Israel stopped aircraft movement and drone surveillance over the territory for six hours at the request of mediators, allowing Hamas to collect information about the hostages.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content">Pro-Qatari newspaper al-Araby al-Jadeed then reported that Hamas had handed a list of sick and elderly Israeli hostages as well as those with US citizenship to Egyptian intelligence officials. The paper said there were also the names of Palestinian prisoners that the group was demanding as part of the deal.</p>
                <p class="body-content">At the outset of the war in Gaza, Israel pledged to destroy Hamas's governing and military capabilities. More than 45,000 Palestinians have since been killed according to figures from the Hamas-run Ministry of Health, which are seen as reliable by the UN and others.</p>
                <p class="body-content">Most of the 2.3 million population of Gaza has been displaced, there has been widespread destruction and amid an ongoing struggle to get aid to those in need, there is now mass hunger.</p>
                <p class="body-content">"Donald Trump's victory in November's US presidential election has given a new push to diplomatic efforts.</p>
                <p class="body-content">At a news conference on Monday, he again warned that a ceasefire deal should be reached before he takes office, saying otherwise, "it's not going to be pleasant."</p>
                <hr style="border: solid 1px black; max-width: 300px">
            </div>
        </div>
    </div>
    <div class="ml-4 my-2">
        <p class="">Comments section~</p>
    </div>
    <div class="comments-sec">
        <a href="#" class="btn btn-sm- btn-success ml-2 my-2" role="button">Comment your feelings here!~ <i class="bi bi-pencil-square"></i></a>
    </div>
    <div class="card-footer text-muted text-center py-3 justify-content-center">
        <h5 class="card-footer text-center display-5 bg-light text-dark py-4 mt-3 pacifico-font">
            <i class="bi bi-heart-fill mr-2 text-danger"></i>
            Thank you for reading!~
            <i class="bi bi-dice-6 ml-2"><i class="bi bi-dice-6"><i class="bi bi-dice-6"></i></i></i>
        </h5>
    </div>
</div>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Pacifico&display=swap" rel="stylesheet">
<style>
    .gideon-font{
        font-family: "Gideon Roman", serif;
        font-weight: 400;
        font-style: normal;
    }
    .pacifico-font {
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
    }
    .body-content {
        text-align: start;
        padding-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .starting-lineup {
        font-weight: bold; 
        color: dodgerblack;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .list {
        flex: 1;
        margin-right: 20px;
    }
    .image {
        max-width: 350px;
        height: auto;
        padding-right: 50px;
    }
</style>