<div class="card mt-2">
    <div class="card shadow-lg mx-auto mt-4 mb-1" style="max-width: 800px">
        <a href="/articles/byCat?id=2" style="text-decoration: none;">
            <h5 class="card-header text-center fw-bold display-3 text-danger py-4 my-3 gideon-font">
                POLITICS
            </h5>   
        </a>   
    </div>
    <div class="text-muted text-start my-4 mx-5">
      <p class="mb-1" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-calendar-check mr-2"></i>Publish Date: </strong>17/11/2024</p>
      <p class="mb-0" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-file-person mr-2" ></i>Author: </strong>hoaglee666</p>
    </div>
    <div class="card-body">
        <div class="card-body text-center bg-secondary text-white pt-1 mb-2">  
            <div class="mb-3 display-4" style="font-weight: bold;">Senior Russian general killed by bomb hidden on scooter in Moscow</div>
            <div class="bg-dark text-white pb-1">
                <img src="/static/imgs/news/rus2.jpg" style="max-width: 800px" alt="Suchir Balaji" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >Crime scene at Russian's capital, Moscow</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <div class="body-content pt-0" style="background-color:grey;">
                    <p class="body-content" style="background-color: red; color:white; padding: 5px; margin:0   ">13:19<span style="font-weight:bold; margin-left: 5px;">BREAKING</span></p>
                    <img src="/static/imgs/news/rus3.webp" style="max-width: 500px; margin-left:350px" alt="Suchir Balaji" class="mb-3 mt-3">
                    <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >Igor Kirillov</p>
                    <p class="body-content" style="font-weight: bold;">High-ranking Russian general killed in explosion in Moscow</p>
                    <p class="body-content">A senior general in the Russian armed forces <span style="font-weight: bold;">has been killed in an explosion in the country’s capital, Moscow.</span></p>
                    <p class="body-content">Lt Gen Igor Kirillov was leaving an apartment building early on Tuesday when a device hidden in a scooter was detonated, Russia’s investigative committee said.</p>
                    <p class="body-content">His assistant was also reportedly killed.</p>
                    <p class="body-content pb-3" >Gen Kirillov was in charge of Russia’s nuclear protection forces - the Nuclear, Biological, Chemical Defence Forces.</p>
                </div>
                <hr style="border: solid 1px black; max-width: 300px">
                <div class="body-content pt-0" style="background-color:grey;">
                    <p class="body-content" style="background-color: red; color:white; padding: 5px; margin:0   ">13:25<span style="font-weight:bold; margin-left: 5px;">BREAKING</span></p>
                    <p class="body-content" style="font-weight: bold;">First pictures from Moscow street where Kirillov was killed</p>
                    <img src="/static/imgs/news/rus4.webp" style="max-width: 500px; margin-left:350px" alt="Suchir Balaji" class="mb-3 mt-3">
                    <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >The explosion happened on Ryazansky Street, about 4 miles (7km) south of the Kremlin</p>
                    <img src="/static/imgs/news/rus5.webp" style="max-width: 500px; margin-left:350px" alt="Suchir Balaji" class="mb-3 mt-3">
                    <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >Photographs showed the damaged entrance to the residential building</p>
                </div>
                <hr style="border: solid 1px black; max-width: 300px">
                <div class="body-content pt-0" style="background-color:grey;">
                    <p class="body-content" style="background-color: red; color:white; padding: 5px; margin:0   ">13:21<span style="font-weight:bold; margin-left: 5px;">BREAKING</span></p>
                    <p class="body-content" style="font-weight: bold;">Who was Igor Kirillov?</p>
                    <p class="body-content">Igor Kirillov was a senior Russian general and the head of the country’s Nuclear, Biological, Chemical Defence Forces (NBC).</p>
                    <p class="body-content">Kirillov was appointed to head the force in April 2017. According to Russian state-run media outlet Tass, he attended the Kostroma Higher Military Command School of Chemical Defence.</p>
                    <p class="body-content">The general served in different roles in Russia’s military associated with hazardous materials, including the Directorate of the Chief of the Radiation, Chemical and Biological Defence Troops.</p>
                    <p class="body-content">The SBU has claimed that Russia used chemical weapons nearly 5,000 times under Kirillov’s leadership.</p>
                    <p class="body-content">Kirillov was sanctioned by the UK , externaland Canada, among others, for his role in Russia’s war in Ukraine.</p>
                    <p class="body-content pb-3" >Yesterday, Ukraine’s Security Service (SBU) sentenced Kirillov in absentia for using banned chemical weapons in Ukraine, the Kyiv Independent reported.</p>
                </div>
                <hr style="border: solid 1px black; max-width: 300px">
                <div class="body-content pt-0" style="background-color:grey;">
                    <p class="body-content" style="background-color: red; color:white; padding: 5px; margin:0   ">13:59<span style="font-weight:bold; margin-left: 5px;">BREAKING</span></p>
                    <p class="body-content" style="font-weight: bold;">Kirillov killed a day after being charged in Ukraine</p>
                    <p class="body-content">Yesterday, Ukraine's Security Service (SBU) charged Kirillov in absentia (meaning he wasn't in the country) for using chemical weapons in Ukraine.</p>
                    <p class="body-content">The SBU alleges that chemical weapons have been used in the country more than 4,800 times since Russia's full-scale invasion in February 2022.</p>
                    <p class="body-content">They have charged him with committing a war crime. "The pre-trial investigation is ongoing to document other facts of violations of international humanitarian law," the SBU said on Monday.</p>
                    <p class="body-content pb-3">Ukrainian Col Artem Vlasiuk says that more than 2,000 Ukrainian service members have been hospitalised from chemical poisoning over the course of the war, and three people have died.</p>
                    <p class="body-content">According to the SBU, Russian forces drop chemical weapons on Ukrainian soldiers with drones. The "chemical grenades" release poison gases that irritate eyes and the respiratory system.</p>
                    <img src="/static/imgs/news/rus6.webp" style="max-width: 500px; margin-left:350px" alt="Suchir Balaji" class="mb-3 mt-3">
                    <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >The latest scene on the street where Kirillov was killed this morning</p>
                </div>
                <hr style="border: solid 1px black; max-width: 300px">
                <div class="body-content pt-0" style="background-color:grey;">
                    <p class="body-content" style="background-color: red; color:white; padding: 5px; margin:0   ">14:20<span style="font-weight:bold; margin-left: 5px;">BREAKING</span></p>
                    <p class="body-content" style="font-weight: bold;">Bomb contained 300g of explosive and was 'remotely operated' - reports</p>
                    <p class="body-content">The device that killed Lt Gen Kirillov was remotely operated, Russia's state news agency Tass reports.</p>
                    <p class="body-content">It also says the bomb could have contained about 300g of explosive material. It quotes a law enforcement official as saying: "The improvised explosive device had a capacity of some 300 grams in TNT equivalent."</p>
                    <p class="body-content">To cause a death, the same amount of TNT would need to explode about 1.55m away from a person, the UN tool estimates.</p>
                    <p class="body-content pb-3">According to a UN tool to estimate damage from blasts,, external 300g of TNT equivalent explosive can break small windows from of a distance of about 17m (55ft) away, or cause damage to brick houses from 1.3m away.</p>
                </div>
                <hr style="border: solid 1px black; max-width: 300px">
                <div class="body-content pt-0" style="background-color:grey;">
                    <p class="body-content" style="background-color: red; color:white; padding: 5px; margin:0   ">14:30<span style="font-weight:bold; margin-left: 5px;">BREAKING</span></p>
                    <p class="body-content" style="font-weight: bold;">What we know so far</p>
                    <ul class="body-content" style="list-style-type: disc;">
                        <li>Senior Russian general Igor Kirillov – who was in charge of the country's Nuclear, Biological, Chemical Defence Forces – has been killed in Moscow</li>
                        <li>Kirillov and an assistant were killed by a bomb planted in a scooter which exploded while the pair were leaving an apartment building early on Tuesday</li>
                        <li>The explosion took place in south-east Moscow, around four miles (6.5km) east of the Kremlin</li>
                        <li>The device was remotely operated and could have contained around 300g of TNT equivalent material, Russia media reports</li>
                        <li class="">Images from the scene show the building's entrance badly damaged with scorch marks and broken windows, with rubble across the floor</li>
                        <li>Yesterday, Ukraine’s Security Service (SBU) charged Kirillov in absentia for using banned chemical weapons in Ukraine</li>
                        <li class="pb-3">He has previously been sanctioned by Western nations for his role in the Ukraine war - the UK said he was responsible for "helping deploy... barbaric weapons"</li>
                    </ul>
                    <img src="/static/imgs/news/rus7.webp" style="max-width: 500px; margin-left:350px" alt="Suchir Balaji" class="mb-3 mt-3">
                </div>
                <hr style="border: solid 1px black; max-width: 300px">
                <div class="body-content pt-0" style="background-color:grey;">
                    <p class="body-content" style="background-color: red; color:white; padding: 5px; margin:0   ">14:58<span style="font-weight:bold; margin-left: 5px;">BREAKING</span></p>
                    <p class="body-content" style="font-weight: bold;">Kirillov's killing appears carefully timed – Russia expert</p>
                    <p class="body-content">"Somebody was certainly keen to make it look like this was a form of vigilante justice."</p>
                    <p class="body-content">That's the view of Pulitzer prize-winning historian and journalist Anne Applebaum, who has been speaking to our colleagues on BBC Radio 4's Today programme.</p>
                    <p class="body-content">She says that given Kirillov was charged by the Ukrainians yesterday for using chemical weapons, her first thought was the timing looks like it was set up "very carefully".</p>
                    <p class="body-content">Asked if she suspects Ukrainian involvement in the killing, Applebaum says she has no evidence to link it to them or anyone else.</p>
                    <p class="body-content pb-3">But "the people who would have a motive would be either the Ukrainians or some of their allies inside Russia", she adds - saying there are Russians known to be collaborating with the Ukrainians.</p>
                </div>
                <hr style="border: solid 1px black; max-width: 300px">
                <div class="body-content pt-0" style="background-color:grey;">
                    <p class="body-content" style="background-color: red; color:white; padding: 5px; margin:0   ">15:11<span style="font-weight:bold; margin-left: 5px;">BREAKING</span></p>
                    <p class="body-content" style="font-weight: bold;">Kirillov claimed Ukraine was developing 'dirty bomb'</p>
                    <p class="body-content">He said the goal was to blame Russia for its use. There is no evidence Kyiv was working to develop such a weapon.</p>
                    <p class="body-content">Kirillov also claimed the US was going to provide biological weapons to Ukraine, and claimed that this would include targeting Russian troops with malaria-infected mosquitos.</p>
                    <p class="body-content">And, back in 2018, he suggested, external the UK was involved in the poisoning of the former Russian spy Sergei Skripal in Salisbury.</p>
                    <p class="body-content pb-3" >As a reminder, the UK sanctioned Kirillov in October - and described him as a "significant mouthpiece for Russian disinformation".</p>
                </div>
                <hr style="border: solid 1px black; max-width: 300px">
                <div class="body-content pt-0" style="background-color:grey;">
                    <p class="body-content" style="background-color: red; color:white; padding: 5px; margin:0   ">15:41<span style="font-weight:bold; margin-left: 5px;">BREAKING</span></p>
                    <p class="body-content" style="font-weight: bold;">Ukraine claims it killed Kirillov</p>
                    <p class="body-content">Ukraine was behind the killing of Lt Gen Kirillov in Moscow, a Ukrainian security source has said, according to both Reuters and AFP news agency.</p>
                    <p class="body-content">Ukrainian media is also reporting that Lt Gen Kirillov was killed by the Ukrainian security services.</p>
                    <p class="body-content">The Kyiv Independent and news agency RBC Ukraine say he was killed by the Security Service of Ukraine (SBU), citing an unnamed source from the agency.</p>
                    <p class="body-content">This is an ordinary residential area in south-east Moscow – a typical apartment block. Residents are completely shocked by what happened.</p>
                    <p class="body-content">The considerable blast came from a bomb that was hidden, investigators say, in a scooter outside the entrance to this apartment block.</p>
                    <p class="body-content">A lot of police and investigators are on the scene now looking for clues to try to work out what exactly happened.</p>
                    <p class="body-content pb-3" >As a reminder, the UK sanctioned Kirillov in October - and described him as a "significant mouthpiece for Russian disinformation".</p>
                </div>
                <hr style="border: solid 1px black; max-width: 300px">
                <div class="body-content pt-0" style="background-color:grey;">
                    <p class="body-content" style="background-color: red; color:white; padding: 5px; margin:0   ">15:59<span style="font-weight:bold; margin-left: 5px;">BREAKING</span></p>
                    <p class="body-content" style="font-weight: bold;">Kirillov a 'legitimate target' says Ukrainian security service</p>
                    <p class="body-content">The BBC's sources in Ukraine's security services claim they were behind the operation to kill Igor Kirillov in Moscow.</p>
                    <p class="body-content">According to a source, a scooter with explosives was detonated when Kirillov and his assistant approached the building in Moscow this morning.</p>
                    <p class="body-content">The source claims that Kirillov was "a legitimate target" since he was a war criminal who gave orders to use banned chemical weapons against the Ukrainian military.</p>
                    <img src="/static/imgs/news/rus8.webp" style="max-width: 500px; margin-left:350px" alt="Suchir Balaji" class="mb-3 mt-3">
                    <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >Image from the scene shows burned out scooter</p>
                    <p class="body-content">As we've been reporting, multiple sources say Kirillov was killed by an explosive device hidden in an electric scooter.</p>
                    <p class="body-content">This image, provided by the European Pressphoto Agency, shows a burned out scooter at the scene.</p>
                    <p class="body-content pb-3">Still not verified its connection to the killing of Lt Gen Kirillov.</p>
                </div>
                <hr style="border: solid 1px black; max-width: 300px">
                <div class="body-content pt-0" style="background-color:grey;">
                    <p class="body-content" style="background-color: red; color:white; padding: 5px; margin:0   ">16:08<span style="font-weight:bold; margin-left: 5px;">BREAKING</span></p>
                    <p class="body-content" style="font-weight: bold;">Russia calls killing of Kirillov a 'terrorist act'</p>
                    <p class="body-content">Russia's investigative committee has described the killing of Lt Gen Kirillov a "terrorist act".</p>
                    <p class="body-content pb-3">Spokeswoman Svetlana Petrenko says: "The incident has been classified as a terrorist act, murder, illegal trafficking of weapons, and ammunition."</p>
                </div>
                <hr style="border: solid 1px black; max-width: 300px">
            </div>
        </div>
    </div>
    <div class="ml-4 my-2">
        <p class="">Comments section~</p>
    </div>
    <div class="comments-sec">
        <a href="#" class="btn btn-sm- btn-success ml-2 my-2" role="button">Comment your feelings here!~ <i class="bi bi-pencil-square"></i></a>
    </div>
    <div class="card-footer text-muted text-center py-3 justify-content-center">
        <h5 class="card-footer text-center display-5 bg-light text-dark py-4 mt-3 pacifico-font">
            <i class="bi bi-heart-fill mr-2 text-danger"></i>
            Thank you for reading!~
            <i class="bi bi-dice-6 ml-2"><i class="bi bi-dice-6"><i class="bi bi-dice-6"></i></i></i>
        </h5>
    </div>
</div>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Pacifico&display=swap" rel="stylesheet">
<style>
    .gideon-font{
        font-family: "Gideon Roman", serif;
        font-weight: 400;
        font-style: normal;
    }
    .pacifico-font {
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
    }
    .body-content {
        text-align: start;
        padding-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .starting-lineup {
        font-weight: bold; 
        color: dodgerblack;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .list {
        flex: 1;
        margin-right: 20px;
    }
    .image {
        max-width: 350px;
        height: auto;
        padding-right: 50px;
    }
</style>