<div class="card mt-2">
    <div class="card shadow-lg mx-auto mt-4 mb-1" style="max-width: 800px">
        <h5 class="card-header text-center fw-bold display-3 text-danger py-4 my-3 gideon-font">
            LIVE
        </h5>   
    </div>
    <div class="text-muted text-start my-4 mx-5">
      <p class="mb-1" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-calendar-check mr-2"></i>Publish Date: </strong>16/11/2024</p>
      <p class="mb-0" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-file-person mr-2" ></i>Author: </strong>hoaglee666</p>
    </div>
    <div class="card-body">
        <div class="card-body text-center bg-secondary text-white pt-1 mb-2">  
            <div class="mb-3 display-4" style="font-weight: bold;">Teacher and student killed in US school shooting</div>
            <div class="bg-dark text-white pb-1">
                <img src="/static/imgs/news/us1.webp" style="max-width: 800px" alt="Suchir Balaji" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >Tragedy at Abundant Life Christian School in Madison, Wisconsin, United States.</p>
                <div class="body-content pt-0" style="background-color:grey;">
                    <p class="body-content" style="background-color: red; color:white; padding: 5px; margin:0   ">01:20<span style="font-weight:bold; margin-left: 5px;">BREAKING</span></p>
                    <p class="body-content" style="font-weight: bold;">Multiple injured in school shooting, police say</p>
                    <p class="body-content">TA shooting at a school in Wisconsin has left multiple people injured, police say.</p>
                    <p class="body-content">Officers are responding to a shooting at Abundant Life Christian School in the state's capital, Madison.</p>
                    <p class="body-content">"Multiple injuries have been reported," the Madison Police Department wrote on social media. "This remains an active and ongoing investigation. More information will be released as it is available."</p>
                    <p class="body-content pb-3" >Residents have been asked to avoid the area and roads are closed close to the school.</p>
                </div>
                <hr style="border: solid 1px black; max-width: 300px">
                <img src="/static/imgs/news/us2.webp" style="max-width: 800px" alt="Suchir Balaji" class="mb-3 mt-3">
                <div class="body-content pt-0" style="background-color:grey;">
                    <p class="body-content" style="background-color: red; color:white; padding: 5px; margin:0   ">01:44<span style="font-weight:bold; margin-left: 5px;">BREAKING</span></p>
                    <p class="body-content" style="font-weight: bold;">Suspect among five dead, police say</p>
                    <p class="body-content">If you're just joining us, here's what we just learned about the shooting from Madison Police Chief Shon Barnes:</p>
                    <ul class="body-content" style="list-style-type: disc;">
                        <li>Five people have died, including the suspect, after a shooting this morning at Abundant Life Christian Academy in Madison, Wisconsin</li>
                        <li>Five other people are injured, ranging from minor to critical</li>
                        <li>Police arrived on the scene at about 11:00 local time (17:00 GMT) and began administering first aid</li>
                        <li>They also found a juvenile suspect, believed to be a student, already dead</li>
                        <li>Officers did not fire their weapons, but the attack took place near a police training centre</li>
                    </ul>
                    <p class="body-content pb-3">Barnes also said there will be another update in about two hours, we'll bring you any developments here.</p>
                </div>
                <hr style="border: solid 1px black; max-width: 300px">
                <div class="body-content pt-0" style="background-color:grey;">
                    <p class="body-content" style="background-color: red; color:white; padding: 5px; margin:0   ">02:13<span style="font-weight:bold; margin-left: 5px;">BREAKING</span></p>
                    <p class="body-content" style="font-weight: bold;">Three dead during shooting, not five, say police</p>
                    <p class="body-content">The Madison Police Department has just shared a correction on the number of people who died during the shooting, saying the actual number is three, including the attacker.</p>
                    <p class="body-content">During a media briefing earlier they had said five people were killed in the shooting at Abundant Life Christian School.</p>
                    <p class="body-content">"During the media briefing earlier this afternoon, it was erroneously shared 5 were deceased," the department said in a statement.</p>
                    <p class="body-content pb-3" >"Again, three people are deceased. Nine in total were injured, including the three deceased."</p>
                </div>
                <hr style="border: solid 1px black; max-width: 300px">
                <div class="body-content pt-0" style="background-color:grey;">
                    <p class="body-content" style="background-color: red; color:white; padding: 5px; margin:0   ">03:00<span style="font-weight:bold; margin-left: 5px;">BREAKING</span></p>
                    <p class="body-content" style="font-weight: bold;">What we know so far</p>
                    <ul class="body-content" style="list-style-type: disc;">
                        <li>Police have clarified that <span style="font-weight: bold;">three people</span> have died following the attack in the city of Madison - a revision after a figure of five was mistakenly briefed to reporters earlier on</li>
                        <li>A <span style="font-weight: bold;">further six </span>were injured and police say these injuries range from minor to life-threatening</li>
                        <li>The juvenile suspect is <span style="font-weight: bold;">among the dead</span> - officers didn't fire any shots after arriving at the school at around 11:00 local time (17:00 GMT)</li>
                        <li>Residents have been asked to <span style="font-weight: bold;">avoid the area</span> and roads remain blocked nearby</li>
                        <li class="pb-3">President Joe Biden is yet to respond personally, but the White House says the <span style="font-weight: bold;">president is aware</span> of the shooting</li>
                    </ul>
                </div>
                <hr style="border: solid 1px black; max-width: 300px">
                <div class="body-content pt-0" style="background-color:grey;">
                    <p class="body-content" style="background-color: red; color:white; padding: 5px; margin:0   ">03:43<span style="font-weight:bold; margin-left: 5px;">BREAKING</span></p>
                    <p class="body-content" style="font-weight: bold;">Police say suspect was a student at Abundant Life Christian School</p>
                    <p class="body-content">"Today truly is a sad day for Madison and our country," Madison Police Chief Shon Barnes says.</p>
                    <p class="body-content">He says that the suspected teenage shooter - who was found dead at the scene - was a student at the school.</p>
                    <p class="body-content pb-3">He adds that they will not be releasing the name or gender of the suspect.</p>
                </div>
                <hr style="border: solid 1px black; max-width: 300px">
                <div class="body-content pt-0" style="background-color:grey;">
                    <p class="body-content" style="background-color: red; color:white; padding: 5px; margin:0   ">03:52<span style="font-weight:bold; margin-left: 5px;">BREAKING</span></p>
                    <img src="/static/imgs/news/us3.webp" style="max-width: 500px;margin-left:325px" alt="Suchir Balaji" class="mb-3 mt-3">
                    <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >Madison Fire Chief Chris Carbon.</p>
                    <p class="body-content" style="font-weight: bold;">More than a dozen ambulances sent to school, Madison fire chief says</p>
                    <p class="body-content">We're now hearing from Madison Fire Chief Chris Carbon, who begins by thanking first respondents for their work during the response to the shooting at Abundant Life Christian School earlier today.</p>
                    <p class="body-content">"I can't believe I'm standing here today talking about this incident," he says.</p>
                    <p class="body-content pb-3">"Within the course of 15 minutes, from first transport to the last transport, all patients were on their way to the hospital."</p>
                </div>
                <hr style="border: solid 1px black; max-width: 300px">
                <div class="body-content pt-0" style="background-color:grey;">
                    <p class="body-content" style="background-color: red; color:white; padding: 5px; margin:0   ">04:00<span style="font-weight:bold; margin-left: 5px;">BREAKING</span></p>
                    <p class="body-content" style="font-weight: bold;">Handgun recovered from scene of shooting, police say</p>
                    <p class="body-content">Madison Police Chief Shon Barnes is now back up and taking questions from the media.</p>
                    <p class="body-content">He reiterates that authorities are not yet sharing the identity of the suspected shooter but tells reporters that police earlier recovered a handgun from the scene.</p>
                    <p class="body-content">Barnes adds that the attack took place within "one space" in the school, but doesn't elaborate on the exact location.</p>
                </div>
                <hr style="border: solid 1px black; max-width: 300px">
                <div class="body-content pt-0" style="background-color:grey;">
                    <p class="body-content" style="background-color: red; color:white; padding: 5px; margin:0   ">04:07<span style="font-weight:bold; margin-left: 5px;">BREAKING</span></p>
                    <p class="body-content" style="font-weight: bold;">Police chief: 'If you see something, say something'</p>
                    <img src="/static/imgs/news/us4.webp" style="max-width: 500px;margin-left:325px" alt="Suchir Balaji" class="mb-3 mt-3">
                    <p class="body-content">“I think you’re asking me, ‘How can I say 100% that no child will never be harmed in school?’ I can’t,” he says.</p>
                    <p class="body-content">He says that police have procedures in place to respond to emergencies – like they did today – and teachers and staff members are committed to safety.</p>
                    <p class="body-content">“My reassurance to the public is, if you see something, say something,” he says.</p>
                    <p class="body-content pb-3" >“If you know someone who may be going through a difficult time, please reach out to someone.”</p>
                </div>
                <hr style="border: solid 1px black; max-width: 300px">
                <div class="body-content pt-0" style="background-color:grey;">
                    <p class="body-content" style="background-color: red; color:white; padding: 5px; margin:0   ">04:35<span style="font-weight:bold; margin-left: 5px;">BREAKING</span></p>
                    <p class="body-content" style="font-weight: bold;">What we know about the Wisconsin school shooting</p>
                    <ul class="body-content" style="list-style-type: disc;">
                        <li><span style="font-weight: bold;">Three people have died</span> at a school shooting in Madison, Wisconsin</li>
                        <li>The death toll includesthe suspected shooter, who police say was <span style="font-weight: bold;">a teenage student attending Abundant Life Christian School </span></li>
                        <li>The two other victims <span style="font-weight: bold;">were a teacher and a teenage student</span></li>
                        <li><span style="font-weight: bold;">Six others are injured</span> and being treated at hospital - two of these victims are in a life-threatening condition, while the other four suffered non-life threatening injuries</li>
                        <li class="">Officers arrived at the Abundant Life Christian School at 11:00 local time (17:00 GMT) along <span style="font-weight: bold;">with 15 ambulances</span> and local fire department staff</li>
                        <li>Police Chief Shon Barnes says at <span style="font-weight: bold;"> handgun was recovered</span> the school and that the suspected shooter's family has been contacted and <span style="font-weight: bold;">is "co-operating"</span></li>
                        <li class="pb-3">Police do not yet know why the shooting took place, but say<span style="font-weight: bold;"> there is no ongoing threat to the community</span></li>
                    </ul>
                </div>
                <hr style="border: solid 1px black; max-width: 300px">
            </div>
        </div>
    </div>
    <div class="ml-4 my-2">
        <p class="">Comments section~</p>
    </div>
    <div class="comments-sec">
        <a href="#" class="btn btn-sm- btn-success ml-2 my-2" role="button">Comment your feelings here!~ <i class="bi bi-pencil-square"></i></a>
    </div>
    <div class="card-footer text-muted text-center py-3 justify-content-center">
        <h5 class="card-footer text-center display-5 bg-light text-dark py-4 mt-3 pacifico-font">
            <i class="bi bi-heart-fill mr-2 text-danger"></i>
            Thank you for reading!~
            <i class="bi bi-dice-6 ml-2"><i class="bi bi-dice-6"><i class="bi bi-dice-6"></i></i></i>
        </h5>
    </div>
</div>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Pacifico&display=swap" rel="stylesheet">
<style>
    .gideon-font{
        font-family: "Gideon Roman", serif;
        font-weight: 400;
        font-style: normal;
    }
    .pacifico-font {
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
    }
    .body-content {
        text-align: start;
        padding-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .starting-lineup {
        font-weight: bold; 
        color: dodgerblack;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .list {
        flex: 1;
        margin-right: 20px;
    }
    .image {
        max-width: 350px;
        height: auto;
        padding-right: 50px;
    }
</style>