<div class="card mt-2">
    <div class="card shadow-lg mx-auto mt-4 mb-1" style="max-width: 800px">
        <h5 class="card-header text-center fw-bold display-3 text-danger py-4 my-3 gideon-font">
            INFORMATION
        </h5>   
    </div>
    <div class="text-muted text-start my-4 mx-5">
      <p class="mb-1" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-calendar-check mr-2"></i>Update Date: </strong>23/12/2024</p>
    </div>
    <div class="card-body">
        <div class="card-body text-center bg-secondary text-white pt-1 mb-2">  
            <div class="mb-3 display-4" style="font-weight: bold;">VnExpress Cookies Policy</div>
            <p class="text-center mb-3" style="font-size:15px; font-style:italic;">When you visit our websites or use our applications, we may automatically collect personal data from you using cookies or similar technologies.</p>
                <div class="bg-dark text-white pb-1">
                <p class="body-content" style="font-weight: bold; font-size:30px">1. Cookies are small files that can be placed on your device that allow us to recognize and remember you.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size:30px">2. We collect and use Cookies to improve your experience on our websites and applications, including:</p>
                <p class="body-content">Keeping you logged in</p>
                <p class="body-content">
                    Understanding how you operate and use our websites/applications
                </p>
                <p class="body-content">Showing you content that is relevant to you</p>
                <p class="body-content">Showing you VnExpress products and services that are relevant to you</p>
                <p class="body-content">Working with partners to provide relevant advertising to you.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size:30px">3. Information we collect:</p>
                <p class="body-content">IP ​​address information, browser, device used, access time</p>
                <p class="body-content">Information about content reading time</p>
                <p class="body-content">
                    Interactions on articles such as comments, emoticons, suggestions for content improvement...
                </p>
                <p class="body-content">Article sharing information</p>
                <p class="body-content">Search keywords.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size:30px">4. Cookies will be saved by default according to the access session. You have the right to manage Cookies to block, delete, or disable these technologies in your browser or in your device settings.</p>
                <hr style="border: solid 1px black; max-width: 300px">
            </div>
        </div>
    </div>
    <div class="card-footer text-muted text-center py-3 justify-content-center">
        <h5 class="card-footer text-center display-5 bg-light text-dark py-4 mt-3 pacifico-font">
            <i class="bi bi-heart-fill mr-2 text-danger"></i>
            Thank you for reading!~
            <i class="bi bi-dice-6 ml-2"><i class="bi bi-dice-6"><i class="bi bi-dice-6"></i></i></i>
        </h5>
    </div>
</div>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Pacifico&display=swap" rel="stylesheet">
<style>
    .gideon-font{
        font-family: "Gideon Roman", serif;
        font-weight: 400;
        font-style: normal;
    }
    .pacifico-font {
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
    }
    .body-content {
        text-align: start;
        padding-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .starting-lineup {
        font-weight: bold; 
        color: dodgerblack;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .list {
        flex: 1;
        margin-right: 20px;
    }
    .image {
        max-width: 350px;
        height: auto;
        padding-right: 50px;
    }
</style>