<div class="card mt-2">
    <div class="card shadow-lg mx-auto mt-4 mb-1" style="max-width: 800px">
        <h5 class="card-header text-center fw-bold display-3 text-danger py-4 my-3 gideon-font">
            INFORMATION
        </h5>   
    </div>
    <div class="text-muted text-start my-4 mx-5">
      <p class="mb-1" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-calendar-check mr-2"></i>Update Date: </strong>23/12/2024</p>
    </div>
    <div class="card-body">
        <div class="card-body text-center bg-secondary text-white pt-1 mb-2">  
            <div class="mb-3 display-4" style="font-weight: bold;">Personal Data Privacy Policy</div>
                <p class="text-center mb-3" style="font-size:15px; font-style:italic;">The Personal Data Privacy Policy (“Policy”) describes the activities related to the processing of personal data of Users when accessing the E-News Newspaper website or application (“E-News”).</p>
                <div class="bg-dark text-white pb-1">
                <p class="body-content" style="font-weight: bold; font-size:30px">1. Subjects and scope of application</p>
                <p class="body-content">This Policy governs the way in which E-News collects, processes, and stores personal data of Users who use or interact with E-News products, websites, applications, or services</p>
                <p class="body-contetn">To avoid confusion, this Data Privacy Policy only applies to individual users. E-News encourages users to read this Policy carefully and regularly check the website for updates on any changes that E-News may make under the terms of the Policy.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size:30px">2. Definition of terms</p>
                <p class="body-content" style="font-weight: bold; font-size:30px">2.1 "User"</p>
                <p class="body-content">Is an individual who accesses, learns about, registers, uses or is involved in the process of operating and providing products and services of E-News.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size:30px">2.2. “Personal data” or “DLCN”</p>
                <p class="body-content">Is information in the form of symbols, letters, numbers, images, sounds or similar forms in the electronic environment that are associated with a specific person or help identify a specific person.</p>
                <p class="body-content">Personal data includes basic personal data and sensitive personal data.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size: 30px">2.3. Basic personal data includes:</p>
                <p class="body-content">(a) Surname, middle name and birth name, other names (if any)</p>
                <p class="body-content">(b) Date of birth; date of death or disappearance;</p>
                <p class="body-content">(c) Gender</p>
                <p class="body-content">(d) Place of birth, place of birth registration, permanent residence, temporary residence, current residence, hometown, contact address</p>
                <p class="body-content">(e) Nationality</p>
                <p class="body-content">(f) Personal image</p>
                <p class="body-content">(g) Telephone number, identity card number, personal identification number, passport number, driver's license number, vehicle license plate number, personal tax code number, social insurance number, health insurance card number</p>
                <p class="body-content">(h) Marital status</p>
                <p class="body-content">(i) Information about family relationships (parents, children)</p>
                <p class="body-content">(j) Information about the individual's digital account; personal data reflecting activities and history of activities on the Internet</p>
                <p class="body-content">(k) Other information associated with a specific person or helping to identify a specific person that is not Sensitive Personal Data.</p>
                <p class="body-content">(l) Other data according to current legal regulations</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size: 30px">2.4. Sensitive personal data</p>
                <p class="body-content">
                    Personal data related to the privacy of individuals that, when violated, will directly affect the legitimate rights and interests of individuals, including:
                </p>
                <p class="body-content">(a) Political views, religious views</p>
                <p class="body-content">(b) Health status and privacy recorded in medical records, excluding information on blood type</p>
                <p class="body-content">(c) Information related to racial origin, ethnic origin</p>
                <p class="body-content">(d) Information on inherited or acquired genetic characteristics of individuals</p>
                <p class="body-content">(e) Information on physical attributes, biological characteristics of individuals</p>
                <p class="body-content">(f) Information on sexual life, sexual orientation of individuals</p>
                <p class="body-content">(g) Data on crimes, criminal acts collected and stored by law enforcement agencies</p>
                <p class="body-content">(h) User information of credit institutions, foreign bank branches, payment intermediary service providers, other authorized organizations, including: User identification information used in accordance with the provisions of law, information on accounts, information on deposits, information on deposited assets, information on transactions, information on organizations and individuals who are guarantors at credit institutions, bank branches, and payment intermediary service providers</p>
                <p class="body-content">(i) Data on the location of individuals identified through location services</p>
                <p class="body-content">(j) Other personal data prescribed by law as specific and requiring necessary security measures.</p>
                <p class="body-content">Please see details of our Privacy Policy here.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size: 30px">2.5. Protection of personal data</p>
                <p class="body-content">
                    Is the activity of preventing, detecting, stopping, and handling violations related to personal data in accordance with the provisions of law.
                </p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size: 30px">2.6. Personal data processing</p>
                <p class="body-content">
                    Is one or more activities affecting personal data, such as: collecting, recording, analyzing, confirming, storing, editing, publicizing, combining, accessing, retrieving, recalling, encrypting, decrypting, copying, sharing, transmitting, providing, transferring, deleting, destroying personal data or other related actions.
                </p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size: 30px">2.7. Third party</p>
                <p class="body-content">
                    Is an organization or individual other than E-News and users that have been explained in this Policy.
                </p>
                <p class="body-content">For clarity, any terms that have not been explained in this Article will be understood and applied according to Vietnamese law.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size: 30px">3. Purpose of personal data processing</p>
                <p class="body-content" style="font-weight: bold; font-size: 30px">3.1. E-News may process Users' personal data for one or more of the following purposes:</p>
                <p class="body-content">(a) Providing E-News products or services</p>
                <p class="body-content">(b) Adjusting, updating, securing and improving the products, services and applications that E-News is providing to users</p>
                <p class="body-content">(c) Verifying the identity and ensuring the confidentiality of Users' personal information;</p>
                <p class="body-content">(d) Responding to Users' service requests and support needs</p>
                <p class="body-content">(e) Notifying Users of changes to policies and promotions of products and services that E-News is providing</p>
                <p class="body-content">(f) Measuring, analyzing internal data and other processing to improve and enhance the quality of E-News's services/products or to carry out marketing communications activities</p>
                <p class="body-content">(g) Preventing and combating fraud, identity theft and other illegal activities</p>
                <p class="body-content">(h) To establish, exercise legal rights or defend legal claims of E-News, the User or any individual. These purposes may include exchanging data with E-News and other organizations for fraud prevention and detection, credit risk reduction</p>
                <p class="body-content">(i) Compliance with applicable laws, relevant industry standards and other applicable policies of E-News</p>
                <p class="body-content">(j) Any other purpose specific to the operation of E-News</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size: 30px">3.2. E-News will request the User's consent before using the User's personal data for any purpose other than the purposes set out in Article 3.1 above, at the time of collecting the User's personal data or before commencing the relevant processing or as otherwise required or permitted by applicable law.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size: 30px">4. Security of User Personal Data</p>
                <p class="body-content" style="font-weight: bold; font-size: 30px">4.1. The User's Personal Data is committed to maximum confidentiality according to E-News's regulations and the provisions of law. The processing of each User's Personal Data is only carried out with the User's consent, unless otherwise provided by law.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size: 30px">4.2. E-News does not use, transfer, provide or share with any third party any User's Personal Data without the User's consent, unless otherwise provided by law.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size: 30px">4.3. E-News will comply with other personal data security principles according to current law.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size: 30px">4.4. E-News uses various information security technologies to protect the User's Personal Data from being accessed, used or shared unintentionally. However, no data can be 100% secure. Therefore, E-News is committed to maximum confidentiality of the User's Personal Data. Some unexpected consequences and damages that may occur include but are not limited to:</p>
                <p class="body-content">(a) Hardware and software errors during data processing that cause loss of User data</p>
                <p class="body-content">(b) Security vulnerabilities beyond the control of E-News, related systems are hacked and data is leaked</p>
                <p class="body-content">(c) Users expose personal data due to: carelessness or fraud; accessing websites/downloading applications containing malware...</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size: 30px">4.5. Users should protect electronic devices during use; Users should lock, log out, or exit their accounts on E-News's website or application when not in use.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size: 30px">5. Types of personal data that E-News collects and processes</p>
                <p class="body-content">
                    In order for E-News to provide products and services to Users and/or process User requests, E-News may need and/or be required to collect personal data, including
                </p>
                <p class="body-content">(a) Basic personal data of Users and related individuals of Users</p>
                <p class="body-content">(b) Sensitive personal data of Users and related individuals of Users</p>
                <p class="body-content">(c) Data related to websites or applications: technical data (as stated above, including device type, operating system, browser type, browser settings, IP address, language settings, date and time of connection to the website, application usage statistics, application settings, date and time of connection to the application, location data and other technical communications); security login details; usage data, ...</p>
                <p class="body-content">(d) Marketing data: advertising preferences; cookie data; clickstream data; browsing history; responses to direct marketing; and opt-out of direct marketing.</p>
                <hr style="border: solid 1px black; max-width: 300px">

                <p class="body-content" style="font-weight: bold; font-size: 30px">6. How personal data is collected</p>
                <p class="body-content">
                    E-News collects personal data from Users in the following ways:
                </p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size: 30px">6.1. Directly from Users by various means</p>
                <p class="body-content">(a) When Users submit a registration request or any other form related to E-News products and services;</p>
                <p class="body-content">(b) When the User interacts with E-News's User service staff, for example through phone calls, letters, face-to-face meetings, email or social media interactions</p>
                <p class="body-content">(c) When the User uses E-News's websites and applications</p>
                <p class="body-content">(d) When the User is contacted by and responds to E-News's marketing representatives and User service staff</p>
                <p class="body-content">(e) When the User submits his/her personal information to E-News for any other reason, including when the User registers for a free trial of any products and services or when the User expresses interest in any of E-News's products and services</p>
                <hr style="border: solid 1px black; max-width: 300px">

                <p class="body-content" style="font-weight: bold; font-size: 30px">6.2. From other third parties:</p>
                <p class="body-content">(a) If the User interacts with third party content or advertising on the website or in the application, E-News may receive the User's personal information from the relevant third party, in accordance with the legally applicable privacy policy of that third party.</p>
                <p class="body-content">(b) If the User chooses to make electronic payments directly to E-News or through the website or application, E-News may receive the User's personal data from third parties, such as payment service providers, for the purpose of such payment.</p>
                <p class="body-content">(c) In accordance with current laws, E-News may receive personal data about Users from law enforcement agencies and public authorities as prescribed by law.</p>
                <p class="body-content">(d) E-News may receive personal data about Users from public sources (such as telephone directories, advertising information/leaflets, information published on electronic news sites).</p>
                <p class="body-contetn">Whenever collecting such personal data, E-News will ensure that data is received from relevant third parties in lawful ways, and at the same time require such third parties to be responsible for complying with the provisions of the law on personal data protection.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size: 30px">7. Organizations Processing Personal Data</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size: 30px">7.1. E-News will share or jointly process personal data with the following organizations and individuals:</p>
                <p class="body-content">(a) Contractors, agents, partners, and service providers of E-News.</p>
                <p class="body-content">(b) Branches, business units and staff working at branches, business units and agents of E-News.</p>
                <p class="body-content">(c) Telecommunications businesses in case the User violates the obligation to pay service fees.</p>
                <p class="body-content">(d) E-News's professional advisors such as auditors, lawyers, etc. as prescribed by law.</p>
                <p class="body-content">(e) Courts, competent state agencies in accordance with the provisions of law and/or when required and permitted by law.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size: 30px">7.2. E-News commits to sharing or jointly processing personal data only when necessary to carry out the Processing Purposes stated in this Policy or as prescribed by law. Organizations and individuals receiving personal data of Users must comply with the provisions of this Policy and relevant provisions of law on personal data protection.</p>
                <p class="body-content">
                    Although E-News will make every effort to ensure that User information is anonymized/encrypted, it is impossible to completely eliminate the risk that this data may be disclosed in cases of force majeure.
                </p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size: 30px">7.3. In the event of the participation of other personal data processing organizations as stated in this Article, the User agrees that E-News will notify the User before E-News does so.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size: 30px">8. Processing personal data in some special cases</p>
                <p class="body-content">
                    E-News ensures that the processing of User personal data fully meets the requirements of the Law in the following special cases:
                </p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size: 30px">8.1 E-News always respects and protects children's personal data. In addition to the personal data protection measures prescribed by law, before processing children's personal data, E-News will verify the age of the child and request the consent of (i) the child and/or (ii) the child's parents or guardians as prescribed by law.y</p>
                <hr style="border: solid 1px black; max-width: 300px">
                                <p class="body-content" style="font-weight: bold; font-size: 30px">8.2 In addition to complying with other relevant legal provisions, for the processing of personal data related to the personal data of a person declared missing/deceased, E-News will have to obtain the consent of one of the relevant persons as prescribed by current law.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size: 30px">9. Rights and obligations of users related to personal data provided to E-News</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size: 30px">9.1. Users have the right to know about the processing of their personal data, unless otherwise provided by law.</p>
                <p class="body-content">(a) Users have the right to consent or not to the processing of their personal data, unless otherwise provided by law.</p>
                <p class="body-content">(b) Users have the right to access, view, edit or request the editing of their Personal Data in writing to E-News, unless otherwise provided by law.</p>
                <p class="body-content">(c) Users have the right to withdraw their consent in writing to E-News, unless otherwise provided by law. Withdrawal of consent does not affect the lawfulness of the processing of data that the User has agreed to with E-News before withdrawing consent.</p>
                <p class="body-content">(d) Users have the right to delete or request the deletion of their personal data in writing to E-News, unless otherwise provided by law.</p>
                <p class="body-content">(e) Users have the right to request the restriction of the processing of their Personal Data in writing to E-News, unless otherwise provided by law. Restriction of data processing will be implemented by E-News within 72 hours of the User's request, with all Personal Data that the User requests to be restricted, unless otherwise provided by law.</p>
                <p class="body-content">(f) Users have the right to request E-News to provide them with their Personal Data in writing to E-News, unless otherwise provided by law.</p>
                <p class="body-content">(g) Users have the right to object to E-News, the Organization Processing Personal Data as prescribed in this Policy, processing their personal data in writing to E-News to prevent or restrict the disclosure of DLCN or the use of DLCN for advertising and marketing purposes, unless otherwise provided by law. E-News will implement the User's request within 72 hours of receiving the request, unless otherwise provided by law.</p>
                <p class="body-content">(h) Users have the right to complain, denounce or initiate a lawsuit in accordance with the provisions of law.</p>
                <p class="body-content">(i) The User has the right to claim compensation for actual damages as provided by law if E-News violates the provisions on the protection of its Personal Data, unless otherwise agreed by the parties or otherwise provided by law.</p>
                <p class="body-content">(j) Users have the right to self-protection in accordance with the provisions of the Civil Code, other relevant laws, or request competent agencies and organizations to implement methods to protect civil rights in accordance with the provisions of Article 11 of the Civil Code.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size: 30px">9.2. Obligations of users</p>
                <p class="body-content">(a) Comply with the provisions of law, regulations, and instructions of E-News related to the processing of Users' Personal Data.</p>
                <p class="body-content">(b) Provide complete, truthful, and accurate Personal Data and other information as required by E-News when registering and using E-News's services and when there are changes to this information. E-News will secure the User's Personal Data based on the information the User has registered, therefore, if there is any incorrect information, E-News will not be responsible in case that information affects or limits the User's rights. In case of no notification, if there is any risk or loss, the User is responsible for any errors or acts of exploitation or fraud when using the service due to his/her fault or failure to provide correct, complete, accurate, and timely information changes; including financial losses and costs arising from incorrect or inconsistent information provided.</p>
                <p class="body-content">(c) Cooperate with E-News, competent state agencies or third parties in case of problems arising that affect the security of the User's Personal Data.</p>
                <p class="body-content">(d) Self-protect your personal data; proactively apply measures to protect your Personal Data during the use of E-News's services; promptly notify E-News when discovering errors or mistakes in your Personal Data or suspecting that your Personal Data is being violated.</p>
                <p class="body-content">(e) Be responsible for the information, data, and consents that you create and provide on the network environment; be responsible in case your personal data is leaked or violated due to your fault.</p>
                <p class="body-content">(f) Regularly update E-News's Regulations and Policies in each period that are notified to Users or posted on E-News's websites and/or other transaction channels in each period. Take actions according to E-News's instructions to clearly show your approval or disapproval for the purposes of processing Personal Data that E-News notifies Users in each period.</p>
                <p class="body-content">(g) Respect and protect the personal data of others.</p>
                <p class="body-content">(h) Other responsibilities as prescribed by law.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size: 30px">10. Storage of personal data</p>
                <p class="body-content">
                    E-News commits to only store the User's personal data in cases related to the purposes stated in this Policy. E-News may also need to store your personal data for a period of time, such as when required by applicable law.
                </p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size: 30px">11. Processing personal data with foreign elements</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size: 30px">11.1. In order to carry out the purpose of processing personal data in this Policy, E-News may have to provide/share the User's personal data to E-News's related third parties and these third parties may be in Vietnam or any other location outside of Vietnam.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size: 30px">11.2. When providing/sharing personal data abroad, E-News will require the recipient to ensure that the User's personal data transferred to them will be confidential and secure. E-News ensures compliance with legal and regulatory obligations regarding the transfer of User personal data.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size: 30px">11.3 Users in the European Union (EU): User personal data may be accessed, transferred and/or stored outside the European Economic Area (EEA), including to countries that may have a lower level of data protection under EU data protection laws. E-News must comply with specific rules when transferring Personal Data from within the EEA to outside the EEA. In such cases, E-News will use appropriate safeguards to protect any Personal Data transferred.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                                <p class="body-content" style="font-weight: bold; font-size: 30px">12. Cookies</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size: 30px">12.1. When Users use or access E-News's websites and online news sites (hereinafter collectively referred to as "electronic news sites"), E-News may place one or more cookies on the User's device. A “cookie” is a small file placed on a User’s device when the User visits a website, which records information about the User’s device, browser, and in some cases, the User’s browsing preferences and habits.</p>
                <p class="body-content">
                    E-News may use this information to recognize the User when the User returns to E-News websites, to provide personalized services on E-News websites, to compile analytics to better understand the website’s performance, and to improve E-News websites. Users may use their browser settings to delete or block cookies on their device. However, if the User decides not to accept or block cookies from E-News's websites, the User may not be able to take full advantage of all the features of E-News's websites.
                </p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size: 30px">12.2. E-News may process the User's personal information through cookie technology, in accordance with the provisions of these Terms. E-News may also use remarketing to serve advertisements to individuals whom E-News knows have previously visited its websites.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size: 30px">12.3. To the extent that third parties have placed content on E-News's websites (e.g., social media features), those third parties may collect the User's personal information (e.g., cookie data) if the User chooses to interact with that third party's content or use the third party's services.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size: 30px">13. Contact information for processing personal data</p>
                <p class="body-content">In case the User has any questions regarding this Policy or issues related to the rights of data subjects or the processing of the User's personal data, the User can use the following contact forms:</p>
                <p class="body-content">Send an email to E-News at: nghimegamede55@gmai.com</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size: 30px">14. General Terms</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size: 30px">14.1. This Policy is effective from August 1, 2023. The User understands and agrees that this Policy may be amended from time to time and will be notified to the User through E-News's Transaction Channels before being applied. Changes and effective dates will be updated and announced on the Transaction Channels and other channels of E-News. The User's continued use of the service after the notice of amendments and supplements in each period means that the User has accepted such amendments and supplements.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size: 30px">14.2. The User has clearly understood and agreed that this Policy is also the Notice of Personal Data Processing stipulated in Article 13 of Decree 13/ND-CP/2023 and is amended and supplemented in each period before E-News proceeds to Process Personal Data. Accordingly, E-News does not need to take any other measures for the purpose of notifying the User of Personal Data Processing.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size: 30px">14.3. The User commits to strictly comply with the provisions of this Policy. For matters not yet regulated, the Parties agree to comply with the provisions of law, instructions of competent State agencies and/or amendments and supplements to this Policy notified to the User by E-News in each period.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size: 30px">14.4. Users may see advertisements or other content on any website, application or device that may link to websites or services of partners, advertisers, sponsors or other third parties. E-News does not control the content or links that appear on third-party websites or services and is not responsible or/and liable for the practices employed by third-party websites or services linked to or from any website, application or device. These websites and services may be subject to the privacy policies and terms of use of the third party.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size: 30px">14.5. This policy is entered into on the basis of goodwill between E-News and the User. During the implementation process, if a dispute arises, the Parties will proactively resolve it through negotiation and conciliation. In case of unsuccessful conciliation, the dispute will be brought to the competent People's Court for settlement in accordance with the provisions of law.</p>
                <hr style="border: solid 1px black; max-width: 300px">
            </div>
        </div>
    </div>
    <div class="card-footer text-muted text-center py-3 justify-content-center">
        <h5 class="card-footer text-center display-5 bg-light text-dark py-4 mt-3 pacifico-font">
            <i class="bi bi-heart-fill mr-2 text-danger"></i>
            Thank you for reading!~
            <i class="bi bi-dice-6 ml-2"><i class="bi bi-dice-6"><i class="bi bi-dice-6"></i></i></i>
        </h5>
    </div>
</div>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Pacifico&display=swap" rel="stylesheet">
<style>
    .gideon-font{
        font-family: "Gideon Roman", serif;
        font-weight: 400;
        font-style: normal;
    }
    .pacifico-font {
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
    }
    .body-content {
        text-align: start;
        padding-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .starting-lineup {
        font-weight: bold; 
        color: dodgerblack;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .list {
        flex: 1;
        margin-right: 20px;
    }
    .image {
        max-width: 350px;
        height: auto;
        padding-right: 50px;
    }
</style>