<div class="card mt-2">
    <div class="card shadow-lg mx-auto mt-4 mb-1" style="max-width: 800px">
        <h5 class="card-header text-center fw-bold display-3 text-danger py-4 my-3 gideon-font">
            INFORMATION
        </h5>   
    </div>
    <div class="text-muted text-start my-4 mx-5">
      <p class="mb-1" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-calendar-check mr-2"></i>Update Date: </strong>23/12/2024</p>
    </div>
    <div class="card-body">
        <div class="card-body text-center bg-secondary text-white pt-1 mb-2">  
            <div class="mb-3 display-4" style="font-weight: bold;">Terms of Use</div>
                <div class="bg-dark text-white pb-1">
                <p class="body-content" style="font-weight: bold; font-size:30px">1.Privacy Policy</p>
                <p class="body-content">This privacy policy explains how we use and protect personal data with the services provided on E-News. Personal data is information in the form of symbols, letters, numbers, images, sounds or similar in the electronic environment that is associated with a specific person or helps identify a specific person.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size:30px">1.1.Data collection</p>
                <p class="body-content">Personal data collected is information that you have publicly disclosed or actively provided to us.</p>
                <p class="body-content">
                    Data collection ensures compliance with current laws.
                </p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size:30px">1.2.Data use</p>
                <p class="body-content">We may use the data we collect for the purpose of optimizing user experience, distributing display advertising and sending emails introducing information about E-News events.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size: 30px">1.3. Data security</p>
                <p class="body-content">All personal information collected will be kept confidential by necessary measures and will not be provided to any third party, except in cases prescribed by law.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size: 30px">1.4. Updating/correcting and deleting data</p>
                <p class="body-content">
                    You have the right to update/correct and delete your personal data; send a request to process your personal data, by contacting the email address: nghimegamede55@gmail.com
                </p>
                <p class="body-content">Please see details of our Privacy Policy here.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size: 30px">2. Copyright and trademark</p>
                <p class="body-content">
                    All content and images displayed on the website and application of E-News are owned by E-News Newspaper and are protected under the provisions of the Law on Intellectual Property and other relevant documents.
                </p>
                <p class="body-content">Any act of copying, distributing, publishing... any content or image of E-News for commercial purposes in any form without prior written consent of E-News Newspaper is an infringement of the ownership rights of E-News Newspaper. E-News Newspaper has the right to request users to stop using and compensate for damages (if any).</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size: 30px">3. Disclaimer</p>
                <p class="body-content">
                    E-News websites and applications may link to many other websites. We are not responsible for the content of the information as well as any problems that occur related to the use of these links.
                </p>
                <p class="body-content">Users may see third-party advertising materials on E-News. Each advertiser is solely responsible for the content of their advertising materials. We are not responsible for the content of advertising materials, including but not limited to any errors or omissions.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size: 30px">4. User Content</p>
                <p class="body-content">
                    When you submit articles, comments or any other content to us, you grant us an unconditional, royalty-free, fully transferable, perpetual, worldwide license to use, publish and/or transmit it; and to allow third parties to use, publish and/or transmit your content in any format and on any platform, now known or hereafter invented.
                </p>
                <p class="body-content">We or authorized third parties may edit or refuse to publish your content at our or their sole discretion. We may remove your content at any time. We are not liable for any content submitted by users and published by us or authorized third parties.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size: 30px">5. Applications</p>
                <p class="body-content">
                    These "Terms of Use" will apply to all E-News applications.
                </p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size: 30px">6. Changes to these terms and conditions of use</p>
                <p class="body-content">
                    E-News Newspaper has the right to modify, supplement, replace and/or remove part of these regulations, and has the right to change and/or terminate the content and features of part or all of the E-News websites and applications without prior notice to users. Please check back regularly because any changes will take effect after being posted on our websites and applications.
                </p>
                <p class="body-content">Continuing to access the E-News websites and applications indicates your continued acceptance of these terms.</p>
                <p class="body-content">Please send any comments to the email address: nghimegamede55@gmail.com</p>
                <hr style="border: solid 1px black; max-width: 300px">
            </div>
        </div>
    </div>
    <div class="card-footer text-muted text-center py-3 justify-content-center">
        <h5 class="card-footer text-center display-5 bg-light text-dark py-4 mt-3 pacifico-font">
            <i class="bi bi-heart-fill mr-2 text-danger"></i>
            Thank you for reading!~
            <i class="bi bi-dice-6 ml-2"><i class="bi bi-dice-6"><i class="bi bi-dice-6"></i></i></i>
        </h5>
    </div>
</div>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Pacifico&display=swap" rel="stylesheet">
<style>
    .gideon-font{
        font-family: "Gideon Roman", serif;
        font-weight: 400;
        font-style: normal;
    }
    .pacifico-font {
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
    }
    .body-content {
        text-align: start;
        padding-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .starting-lineup {
        font-weight: bold; 
        color: dodgerblack;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .list {
        flex: 1;
        margin-right: 20px;
    }
    .image {
        max-width: 350px;
        height: auto;
        padding-right: 50px;
    }
</style>