<div class="card mt-2">
    <div class="card shadow-lg mx-auto mt-4 mb-1" style="max-width: 800px">
        <h5 class="card-header text-center fw-bold display-3 text-danger py-4 my-3 gideon-font">
            MIDDLE EAST
        </h5>   
    </div>
    <div class="text-muted text-start my-4 mx-5">
      <p class="mb-1" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-calendar-check mr-2"></i>Publish Date: </strong>20/12/2024</p>
      <p class="mb-0" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-file-person mr-2" ></i>Author: </strong>hoaglee666</p>
    </div>
    <div class="card-body">
        <div class="card-body text-center bg-secondary text-white pt-1 mb-2">  
            <div class="mb-3 display-4" style="font-weight: bold;">Former Assad security forces hand in weapons to new Syrian government</div>
                <div class="bg-dark text-white pb-1">
                <img src="/static/imgs/news/assad1.jpg" style="max-width: 800px" alt="Suchir Balaji" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;">Syrian soldiers and police officers line up to register at a center in Daraa, southern Syria, and surrender their weapons on December 17. <span style="font-style:italic;">Aris Messinis/AFP via Getty Images</span></p>
                <p class="body-content">Former Syrian regime security forces have been handing in their weapons to the rebel-linked transitional government in the southern Syrian city of Latakia, according to video filmed by Agence France-Presse.</p>
                <p class="body-content">The footage, filmed earlier this week, shows long lines of men dressed in plain clothes as they wait to hand in their personal firearms to officials with the new Syrian government’s Ministry of Interior.</p>
                <p class="body-content">Officials are seen informally interviewing the men and taking their mugshots as they hand their weapons in, the AFP footage shows. Hundreds of various handguns and ammo can be seen piled high in the corners of the government office.</p>
                <p class="body-content">It comes as Syria’s new leadership, led by the group Hayat Tahrir al Sham (HTS), has been working to transfer power peacefully and gain international legitimacy.</p>
                <p class="body-content">
                    A Syrian rebel-linked government leader, Mohammad Al-Bashir, has been appointed as the country’s caretaker prime minister for the next three months, during which his government will oversee Syria’s transition to a new government, he announced in a televised address last week.
                </p>
                <p class="body-content">Ministers of the former HTS-linked Salvation Government, as well as Assad-era civil servants, will continue to serve as ministers in the caretaker government until March 1, 2025, Al-Bashir said.</p>
                <p class="body-content">
                    Meanwhile, HTS leader Abu Mohammad al-Jolani – the de facto leader of the country – said on Thursday that Syria is not a threat to the world and called for the lifting of international sanctions.
                </p>
                <p class="body-content">In an interview with the BBC in Damascus, Jolani said the “sanctions must be lifted because they were targeted at the old regime. The victim and the oppressor should not be treated in the same way.”</p>
                <p class="body-content">
                    Jolani, who now goes by his real name Ahmad al-Sharaa, is an internationally sanctioned former jihadist, and HTS is designated as a terrorist organization by the United States, the United Nations and other governments.
                </p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content">“We have not committed any crimes that justify calling us a terrorist group. in the last 14 years, we haven’t targeted any civilians, or civilian areas, or civilian targets.” Jolani claimed in the BBC interview. “I understand some countries will be worried by that designation, but it’s not true.”</p>
                <p class="body-content">
                    Jolani also sought to alleviate concerns that Syria’s new government could replicate the Taliban’s model in Afghanistan. He highlighted the differences between the culture and societies of Afghanistan and Syria, and he stressed that the new government in Damascus would respect Syrian culture.
                </p>
                <p class="body-content">He pointed to his support of women in education and stressed the importance to “have dialogues and make sure everyone is represented.”</p>
                <p class="body-content">Earlier this week, Jolani secured a meeting in Damascus with Geir Otto Pedersen, the UN special envoy for Syria, who said the international community will “hopefully see a quick end to sanctions, so that we can see really a rallying around building up Syria again.”</p>
                <p class="body-content">
                    The US, the European Union and the UK have also established contact with the rebel groups ruling the country, along with Qatar and Turkey.
                </p>
                <hr style="border: solid 1px black; max-width: 300px">
                <img src="/static/imgs/news/assad2.jpg" style="max-width: 800px" alt="Suchir Balaji" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;">A long line of Syrian regime soldiers and police officers forms at a center in Daraa, as they hand in their weapons to Syria's new government. <span style="font-style:italic;">Aris Messinis/AFP via Getty Images</span></p>
                <p class="body-content">“While happy to play a role in negotiations, the reality is they lack real coercive power in the region and remain primarily interested in trade and diplomatic initiatives. They are aware of this and not eager to overextend themselves the way they believe the US has done.”</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size: 30px">No condemnation for Iranian strikes</p>
                <p class="body-content">Syrian state media has reported that other cities in Syria, such as Daraa, have implemented similar schemes for returning weapons.  </p>
                <p class="body-content">Upon receiving the firearms, the new authorities issued former Syrian regime forces a temporary card that will give them freedom to circulate in Syria’s “liberated” areas, while their “legal proceedings are completed,” according to a notice posted outside the government office, which can be seen in the AFP video. The notice gave no further details about the “legal proceedings.”</p>
                <p class="body-content">The Assad regime, and the Syrian forces that served his government, were responsible for many atrocities as it cracked down on political dissent, including torture and ill-treatment of prisoners. Assad infamously used chemical weapons in rebel areas, killing dozens of civilians, to the horror of the international community.</p>
                <p class="body-content">More than 306,000 civilians in Syria were killed between the outbreak of the civil war in 2011 and March 2021, according to the most recent estimate by UN Human Rights.</p>
                <hr style="border: solid 1px black; max-width: 300px">
            </div>
        </div>
    </div>
    <div class="card-footer text-muted text-center py-3 justify-content-center">
        <h5 class="card-footer text-center display-5 bg-light text-dark py-4 mt-3 pacifico-font">
            <i class="bi bi-heart-fill mr-2 text-danger"></i>
            Thank you for reading!~
            <i class="bi bi-dice-6 ml-2"><i class="bi bi-dice-6"><i class="bi bi-dice-6"></i></i></i>
        </h5>
    </div>
</div>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Pacifico&display=swap" rel="stylesheet">
<style>
    .gideon-font{
        font-family: "Gideon Roman", serif;
        font-weight: 400;
        font-style: normal;
    }
    .pacifico-font {
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
    }
    .body-content {
        text-align: start;
        padding-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .starting-lineup {
        font-weight: bold; 
        color: dodgerblack;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .list {
        flex: 1;
        margin-right: 20px;
    }
    .image {
        max-width: 350px;
        height: auto;
        padding-right: 50px;
    }
</style>