<div class="card mt-2">
    <div class="card shadow-lg mx-auto mt-4 mb-1" style="max-width: 800px">
        <a href="/articles/byCat?id=7" style="text-decoration: none;">
            <h5 class="card-header text-center fw-bold display-3 text-danger py-4 my-3 gideon-font">
                ASIA
            </h5>   
        </a>
    </div>
    <div class="text-muted text-start my-4 mx-5">
      <p class="mb-1" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-calendar-check mr-2"></i>Publish Date: </strong>20/12/2024</p>
      <p class="mb-0" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-file-person mr-2" ></i>Author: </strong>hoaglee666</p>
    </div>
    <div class="card-body">
        <div class="card-body text-center bg-secondary text-white pt-1 mb-2">  
            <div class="mb-3 display-4" style="font-weight: bold;">Can China play a role in avoiding an all-out war in the Middle East?</div>
                <div class="bg-dark text-white pb-1">
                <img src="/static/imgs/news/cn1.jpg" style="max-width: 800px" alt="Suchir Balaji" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;">An anti-missile system operates after Iran launched drones and missiles towards Israel, as seen from Ashkelon, Israel, on April 14, 2024. <span style="font-style:italic;">Amir Cohen/Reuters</span></p>
                <p class="body-content">China has voiced “deep concern” over escalating tensions in the Middle East after Iran launched hundreds of drones and missiles in an unprecedented attack on Israel, raising the prospect of a wider conflagration in a region where Beijing has pledged to play peacemaker and promote its own security vision.</p>
                <p class="body-content">“(China) calls on relevant parties to exercise calm and restraint to prevent further escalation,” the Chinese Foreign Ministry said in a statement on Sunday, framing the latest tensions as “a spillover from the Gaza conflict” – which it said should be put to an end as soon as possible.</p>
                <p class="body-content">The Iranian strikes, which Tehran said were retaliation for the bombing of an Iranian diplomatic building in Damascus on April 1 that it attributed to Israel, marked the first time the Islamic Republic has launched a direct assault on Israel from its soil.</p>
                <p class="body-content">In a call with his Iranian counterpart Hossein Amir-Abdollahian Monday, Chinese Foreign Minister Wang Yi reiterated that Beijing “strongly condemns and firmly opposes” the April 1 attack, a readout from China’s Foreign Ministry said.</p>
                <p class="body-content">
                   Wang did not condemn Iran’s retaliation. China noted Iran’s statement that its action was limited and an “act of self-defense” and appreciated Tehran’s stress on “not targeting regional and neighboring countries,” Wang said, according to the readout.
                </p>
                <p class="body-content">Separately, China’s special envoy on the Middle East, Zhai Jun, met Monday with Irit Ben-Abba Vitale, Israel’s ambassador to China, and reiterated Beijing’s call for an “immediate ceasefire and cessation of hostilities” in Gaza and “deep concern” about escalating regional tensions.</p>
                <p class="body-content">
                    The decision by Iran’s leaders to strike at Israel directly has pushed the shadow war between the two regional foes into the open. Israel is being urged by Western allies to de-escalate, as fears grow of an all-out regional war – a scenario Washington has sought to enlist Beijing’s help to avoid. The bulk of the weapons launched by Iran in the highly choreographed attack were intercepted by Israel and its allies.
                </p>
                <p class="body-content">Following the Damascus strike, which Iran said killed seven people, including two top Iranian military commanders, US Secretary of State Antony Blinken spoke to Wang – and other counterparts in Turkey and Saudi Arabia – to “make clear that escalation is not in anyone’s interest, and that countries should urge Iran not to escalate,” according to a US State Department spokesperson.</p>
                <p class="body-content">
                    That was not the first time the US had asked China to influence Iran since the war between Israel and Palestinian militant group Hamas broke out last October.
                </p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size:30px">Strained relations</p>
                <p class="body-content">The latest flare-up of tensions has again raised questions over how much leverage China wields over Iran – and whether Beijing is willing to turn its political capital into influence.</p>
                <p class="body-content">
                    “On paper, China has a great deal of potential leverage over Iran,” said William Figueroa, an assistant professor at the University of Groningen in the Netherlands.
                </p>
                <p class="body-content">China has been Iran’s biggest trading partner for the past decade and buys 90% of Iran’s oil exports, providing a lifeline to Tehran against US sanctions. Chinese companies also provide Iran with security and surveillance equipment.</p>
                <p class="body-content">In Russia, their training has included artillery, operating unmanned aerial vehicles and basic infantry operations including trench-clearing, “which are critical skills for frontline operations,” according to the US State Department.</p>
                <p class="body-content">
                    “Weaponizing these trade relations, especially in such a high-profile way, would undermine its greater regional strategy of developing close economic ties throughout the Global South,” Figueroa said.
                </p>
                <p class="body-content">China has greatly expanded its economic and political footprint in the Middle East. In recent years, Chinese leader Xi Jinping has vowed to “contribute Chinese wisdom to promoting peace and tranquility in the Middle East” as part of his Global Security Initiative to offer an alternative to the Western-led security order.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content">Last year, Beijing brokered a historic rapprochement between Saudi Arabia and Iran, two longtime regional rivals, but reining in Tehran in the ongoing conflict could prove a thornier task for China, analysts say.</p>
                <p class="body-content">Relations between Beijing and Tehran are already strained by China’s “chronic underinvestment in Iran” despite repeated promises, and previous attempts to influence Iranian policy over the Houthi attacks, Figueroa said.</p>
                <p class="body-content">“While happy to play a role in negotiations, the reality is they lack real coercive power in the region and remain primarily interested in trade and diplomatic initiatives. They are aware of this and not eager to overextend themselves the way they believe the US has done.”</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size: 30px">No condemnation for Iranian strikes</p>
                <p class="body-content">China’s lack of condemnation for Iran’s weekend’s attack stands in contrast to the US and other Western allies, as well as Beijing’s own response following what Tehran says was an Israeli strike on its diplomatic compound in Syria earlier this month.</p>
                <p class="body-content">Israel did not claim responsibility for that airstrike. However, a military spokesperson told CNN that Israel believes the Iranian building hit in the attack is a “military building of Quds forces” and not a consulate.</p>
                <p class="body-content">“The security of diplomatic institutions must not be violated, and the sovereignty and independence of Syria must be respected,” Chinese Foreign Ministry spokesperson Wang Wenbin said at a regular news conference the day after the attack.</p>
                <p class="body-content">Beijing relayed that message to Washington last week, when Wang stressed in his phone call with Blinken that “China strongly condemns the attack on the Iranian embassy in Syria,” according to the Chinese Foreign Ministry.</p>
                <p class="body-content">Yun Sun, director of the China program at the Washington-based Stimson Center think tank, said China is reluctant to condemn Iran for its retaliatory strikes because it sees Tehran as a victim.</p>
                <p class="body-content">“I think the Chinese are particularly sympathetic to Iran given their own experience of the US bombing of Chinese embassy in Belgrade. That’s why China does not condemn Iran,” Sun said.</p>
                <p class="body-content">During a NATO air raid on the former Yugoslavia in 1999, pilots attacked the Chinese Embassy in Belgrade, killing three Chinese journalists.</p>
                <p class="body-content">Bill Clinton, US President at the time, apologized to then Chinese leader Jiang Zemin and called the bombing a “tragic accident” resulting from faulty intelligence. Beijing meanwhile denounced that strike as a “barbarian act,” with protests erupting outside US diplomatic compounds across China.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size: 30px">Reactions from Asia</p>
                <p class="body-content">
                    The drastic escalation of tensions has drawn stern responses from other countries in Asia.
                </p>
                <p class="body-content">Japan’s Prime Minister Fumio Kishida said he “strongly condemns” Iran’s attack, which “further aggravates the current situation in the Middle East,” and pledged to continue diplomatic efforts to “prevent the situation from worsening and to calm the situation down.”</p>
                <p class="body-content">India said it was “seriously concerned” about the escalation of hostilities between Iran and Israel and closely monitoring the evolving situation.</p>
                <p class="body-content">“We call for immediate de-escalation, exercise of restraint, stepping back from violence and return to the path of diplomacy,” India’s Foreign Ministry said in a statement Sunday.</p>
                <p class="body-content">
                    India’s External Affairs Minister S. Jaishankar spoke with Israeli Foreign Minister Israel Katz on Sunday to share New Delhi’s “concern” after the attacks and to discuss the “larger regional situation.” He also “stressed the importance of avoiding escalation, exercising restraint and returning to diplomacy” in a call with his Iranian counterpart, according to his post on social platform X.
                </p>
                <p class="body-content">The Philippines, Malaysia and Indonesia also called for restraint.</p>
                <hr style="border: solid 1px black; max-width: 300px">
            </div>
        </div>
    </div>
    <div class="card-footer text-muted text-center py-3 justify-content-center">
        <h5 class="card-footer text-center display-5 bg-light text-dark py-4 mt-3 pacifico-font">
            <i class="bi bi-heart-fill mr-2 text-danger"></i>
            Thank you for reading!~
            <i class="bi bi-dice-6 ml-2"><i class="bi bi-dice-6"><i class="bi bi-dice-6"></i></i></i>
        </h5>
    </div>
</div>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Pacifico&display=swap" rel="stylesheet">
<style>
    .gideon-font{
        font-family: "Gideon Roman", serif;
        font-weight: 400;
        font-style: normal;
    }
    .pacifico-font {
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
    }
    .body-content {
        text-align: start;
        padding-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .starting-lineup {
        font-weight: bold; 
        color: dodgerblack;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .list {
        flex: 1;
        margin-right: 20px;
    }
    .image {
        max-width: 350px;
        height: auto;
        padding-right: 50px;
    }
</style>