<div class="card mt-2">
    <div class="card shadow-lg mx-auto mt-4 mb-1" style="max-width: 800px">
        <a href="/articles/byCat?id=3" style="text-decoration: none;">
            <h5 class="card-header text-center fw-bold display-3 text-primary py-4 my-3 gideon-font">
                SPORTS
            </h5>   
        </a>  
    </div>
    <div class="text-muted text-start my-4 mx-5">
      <p class="mb-1" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-calendar-check mr-2"></i>Publish Date: </strong>20/12/2024</p>
      <p class="mb-0" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-file-person mr-2" ></i>Author: </strong>hoaglee666</p>
    </div>
    <div class="card-body">
        <div class="card-body text-center bg-secondary text-white pt-1 mb-2">  
            <div class="mb-3 display-4" style="font-weight: bold;">The ‘Trump dance’ takes the sports world by storm</div>
                <div class="bg-dark text-white pb-1">
                <img src="/static/imgs/news/dance1.jpg" style="max-width: 800px" alt="Suchir Balaji" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;">Nick Bosa (right) does the 'Trump dance' with teammates after a sack during the San Francisco 49ers' Week 10 win over the Tampa Bay Buccaneers. <span style="font-style:italic;">Kevin Sabitus/Getty Images</span></p>
                <p class="body-content">A dance popularized by President-elect Donald Trump appears to have taken the sporting world by storm, after multiple US athletes across the country brought it out to celebrate plays this weekend</p>
                <p class="body-content">The dance was first seen years ago during Trump’s rallies, during which he would play up to his supporters by pumping his fists and moving them alongside his body. Last month, it went even more viral when he decided to stop a campaign town hall and instead play some of his favorite music for more than 40 minutes, swaying and dancing to rally staples like “YMCA” by The Village People.</p>
                <p class="body-content">And in the weeks after Trump’s historic reelection to the White House, that dance is being used as celebration for big plays, shots and wins for American athletes – an unusual public celebration of the once-and-future president by sports stars that didn’t happen much during his first term in office.</p>
                <p class="body-content">It first began the weekend after Trump’s reelection when San Francisco 49ers defensive end Nick Bosa – a public Trump supporter – celebrated a sack with the dance in the Niners’ Week 10 win over the Tampa Bay Buccaneers.</p>
                <p class="body-content">
                   Bosa, who typically shrugs after sacks, was joined by a few teammates in the dance and when asked about what inspired it, he said: “I think you know the answer to that question.”
                </p>
                <p class="body-content">“All the guys wanted me to do it. I wasn’t even going to do it, but the boys reminded me. And it was fun,” Bosa told reporters, per the San Francisco Chronicle.</p>
                <p class="body-content">
                    It came just a few weeks after Bosa crashed his teammates’ postgame interview to show his support for Trump in the 2024 presidential election with a hat emblazoned with the Make America Great Again slogan – an act for which was fined $11,255 by the NFL for making political statements on the field.
                </p>
                <p class="body-content">At UFC 309 on Saturday, with Trump in attendance, Jon Jones commemorated retaining his heavyweight title by busting out the dance before acknowledging Trump at ringside.</p>
                <p class="body-content">
                    Afterward, Jones made his way over to the president-elect, with the pair shaking hands and Jones allowing Trump to hold his heavyweight title belt.
                </p>
                <hr style="border: solid 1px black; max-width: 300px">
                <img src="/static/imgs/news/dance2.jpg" style="max-width: 800px" alt="Suchir Balaji" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;">Jones (right) and Trump (left) celebrated after Jones retained his UFC heavyweight title. <span style="font-style:italic;">Chris Unger/Zuffa LLC/Getty Images</span></p>
                <p class="body-content">
                    Bowers was asked by USA Today writer Safid Deen about doing the dance after the game, saying, “I’ve seen everyone do it. I watched the UFC fight last night and Jon Jones did it. I like watching UFC so I saw it, and thought it was cool.”
                </p>
                <p class="body-content">And then in St. Louis on Monday, US men’s soccer national team star Christian Pulisic pulled out the dance in celebration after he scored the opening goal of his team’s 4-2 win over Jamaica in the CONCACAF Nations League quarterfinal.</p>
                <p class="body-content">But afterwards, Pulisic stressed that the celebration was “not a political dance.”</p>
                <p class="body-content">
                    He added, per The Athletic: “I saw everyone doing it yesterday in the NFL, I saw Jon Jones do it, and we were just having a bit of fun. I thought it was a pretty fun dance.
                </p>
                <p class="body-content">“It’s not a political dance. It was just for fun. I saw a bunch of people do it and thought it was funny, so I enjoyed it.”</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <img src="/static/imgs/news/dance3.jpg" style="max-width: 800px" alt="Suchir Balaji" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;">Pulisic (No. 10) said his 'Trump dance' was 'not a political dance' and was 'just for fun.' <span style="font-style:italic;">Jamie Squire/Getty Images</span></p>
                <p class="body-content" style="font-weight: bold; font-size: 30px">Double standards?</p>
                <p class="body-content">The use of the dance by athletes is a marked change from previous years when use of political iconography from professional sportsmen and women were often criticized by many.</p>
                <p class="body-content">In the past, athletes such as Colin Kaepernick, LeBron James and others were railed against for their public stances on social or political issues, whereas the burgeoning popularity of the Trump dance suggests a change in the winds.</p>
                <p class="body-content">And, according to conservative columnist Scott Jennings speaking on CNN, “Why shouldn’t they? Trump is back, America is back and once again, it’s cool to be Republican again.”</p>
                <p class="body-content">Conversely, Fox News contributor Jessica Tarlov said it might be a sense of double standards.</p>
                <p class="body-content">“I guess we’ve gotten to the portion of the Trump era where we have moved past ‘shut up and dribble’ and now it is fantastic for athletes to talk about their politics,” Tarlov said on Fox News.</p>
                <hr style="border: solid 1px black; max-width: 300px">
            </div>
        </div>
    </div>
    <div class="card-footer text-muted text-center py-3 justify-content-center">
        <h5 class="card-footer text-center display-5 bg-light text-dark py-4 mt-3 pacifico-font">
            <i class="bi bi-heart-fill mr-2 text-danger"></i>
            Thank you for reading!~
            <i class="bi bi-dice-6 ml-2"><i class="bi bi-dice-6"><i class="bi bi-dice-6"></i></i></i>
        </h5>
    </div>
</div>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Pacifico&display=swap" rel="stylesheet">
<style>
    .gideon-font{
        font-family: "Gideon Roman", serif;
        font-weight: 400;
        font-style: normal;
    }
    .pacifico-font {
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
    }
    .body-content {
        text-align: start;
        padding-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .starting-lineup {
        font-weight: bold; 
        color: dodgerblack;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .list {
        flex: 1;
        margin-right: 20px;
    }
    .image {
        max-width: 350px;
        height: auto;
        padding-right: 50px;
    }
</style>