<div class="card mt-2">
    <div class="card shadow-lg mx-auto mt-4 mb-1" style="max-width: 800px">
        <a href="/articles/byCat?id=11" style="text-decoration: none;">
            <h5 class="card-header text-center fw-bold display-3 text-success py-4 my-3 gideon-font">
                HEALTH
            </h5>   
        </a>   
    </div>
    <div class="text-muted text-start my-4 mx-5">
      <p class="mb-1" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-calendar-check mr-2"></i>Publish Date: </strong>20/12/2024</p>
      <p class="mb-0" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-file-person mr-2" ></i>Author: </strong>hoaglee666</p>
    </div>
    <div class="card-body">
        <div class="card-body text-center bg-secondary text-white pt-1 mb-2">  
            <div class="mb-3 display-4" style="font-weight: bold;">Which foods are ‘healthy’? FDA has new requirements for food labels</div>
                <div class="bg-dark text-white pb-1">
                <img src="/static/imgs/news/f1.jpg" style="max-width: 800px" alt="Suchir Balaji" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;">Nuts and seeds, salmon, olive oil, and canned fruits and vegetables are among those that will newly qualify for a "healthy" label. <span style="font-style:italic;">fcafotodigital/E+/Getty Images</span></p>
                <p class="body-content">The US Food and Drug Administration has finalized new standards that foods must meet before they can be labeled as “healthy.”</p>
                <p class="body-content">Requirements now include limits on saturated fat, sodium and added sugars. “Healthy” foods must also contain a certain amount of food from at least one of the key food groups outlined in the current Dietary Guidelines for Americans, such as fruits, vegetables and low-fat dairy.</p>
                <p class="body-content">Some foods that could previously carry the healthy label — such as white bread and heavily sweetened cereal and yogurt — will no longer qualify. But nuts and seeds, salmon and olive oil and some peanut butters and canned fruits and vegetables are among those that will newly qualify.</p>
                <p class="body-content">The final rule, announced Thursday, is the first major change to the standards since they were introduced 30 years ago. The agency says that the updates better align with the latest science on nutrition and can help consumers make better food choices.</p>
                <p class="body-content">
                   “It’s critical for the future of our country that food be a vehicle for wellness. Improving access to nutrition information is an important public health effort the FDA can undertake to help people build healthy eating patterns,” FDA Commissioner Dr. Robert Califf said in a statement. “It is vital that we focus on the key drivers to combat chronic disease, like healthy eating. Now, people will be able to look for the ‘healthy’ claim to help them find foundational, nutritious foods for themselves and their families.”
                </p>
                <p class="body-content">Most people in the US have diets that exceed dietary recommendations for saturated fat, added sugars and sodium, according to the FDA, and most individual diets are low in fruits and vegetables.</p>
                <p class="body-content">
                    “The FDA recognizes that diet-related diseases, including heart disease, cancer and diabetes, are the leading cause of disability and disease in the United States and contribute to America’s status as having the lowest life expectancy amongst large, high-income countries,” Jim Jones, the FDA’s deputy commissioner for human foods, said Thursday. “Food labeling can be a powerful tool for change.”
                </p>
                <p class="body-content">Use of “healthy” labeling is voluntary for food manufacturers. Foods that meet the new requirements can start using the label early next year, while those that don’t currently meet the standards of the new rule have three years to conform.</p>
                <p class="body-content">
                    “The updated claim could also result in a healthier food supply if manufacturers choose to reformulate their products to meet the new definition,” Jones said. “We are hopeful that industry and others join us in our efforts to make use of the term ‘healthy’ on food packaging a ubiquitous, quick signal to help people build nutritious diets.”
                </p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content">The FDA is also working on a symbol that can be put on packages to help consumers more easily identify foods that are considered healthy and developing a plan for nutrition labeling that would go on the front of food packaging to complement the more in-depth labels on the back.</p>
                <p class="body-content">
                    These nutrition initiatives were part of a national strategy outlined by the Biden Administration at the Conference on Hunger, Nutrition, and Health in 2022.
                </p>
                <p class="body-content">“The updated definition should give consumers more confidence when they see the ‘healthy’ claim while grocery shopping, and we hope it will motivate food manufacturers to develop new, healthier products that qualify to use the ’healthy’ claim,” Nancy Brown, chief executive officer of the American Heart Association, said in a statement.</p>
                <p class="body-content">However, the language may only appear on a small number of packages, Brown said.</p>
                <p class="body-content">
                    “That’s why the FDA’s work on front-of-pack nutrition labeling is so important. A front-of-pack labeling system based on the best available science and consumer research would give consumers valuable information about the nutritional value of foods and beverages and help them quickly and easily identify healthier options,” Brown said. “We urge the administration to move forward with a proposed rule for a front-of-pack nutrition labeling system.”
                </p>
                <hr style="border: solid 1px black; max-width: 300px">
            </div>
        </div>
    </div>
    <div class="card-footer text-muted text-center py-3 justify-content-center">
        <h5 class="card-footer text-center display-5 bg-light text-dark py-4 mt-3 pacifico-font">
            <i class="bi bi-heart-fill mr-2 text-danger"></i>
            Thank you for reading!~
            <i class="bi bi-dice-6 ml-2"><i class="bi bi-dice-6"><i class="bi bi-dice-6"></i></i></i>
        </h5>
    </div>
</div>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Pacifico&display=swap" rel="stylesheet">
<style>
    .gideon-font{
        font-family: "Gideon Roman", serif;
        font-weight: 400;
        font-style: normal;
    }
    .pacifico-font {
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
    }
    .body-content {
        text-align: start;
        padding-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .starting-lineup {
        font-weight: bold; 
        color: dodgerblack;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .list {
        flex: 1;
        margin-right: 20px;
    }
    .image {
        max-width: 350px;
        height: auto;
        padding-right: 50px;
    }
</style>