<div class="card mt-2">
    <div class="card shadow-lg mx-auto mt-4 mb-1" style="max-width: 800px;">
        <h5 class="card-header text-center fw-bold display-3 bg-transparent text-danger py-4 my-3 gideon-font">
            <i class="bi bi-stars py-1 px-auto"></i>
            GAMES
            <i class="bi bi-stars py-1 px-auto"></i>
        </h5>   
    </div>
    <div class="text-muted text-start my-4 mx-5">
      <p class="mb-1" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-calendar-check mr-2"></i>Publish Date: </strong>20/12/2024</p>
      <p class="mb-0" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-file-person mr-2" ></i>Author: </strong>hoaglee666</p>
    </div>
    <div class="card-body">
        <div class="card-body text-center bg-secondary text-white pt-1 mb-2">  
            <div class="mb-3 display-4" style="font-weight: bold;">The full list of winners and nominees at the Oscars 2024</div>
            <div class="bg-dark text-white pb-1">
                <img src="/static/imgs/news/game1.webp" style="max-width: 800px" alt="Tuesday's Matchday 6" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;" >Astro Bot</p>
                <p class="body-content" style="font-weight: bold;">
                    Six games were nominated for the top prize of Game of the Year: Astro Bot, Balatro, Black Myth: Wukong, Final Fantasy VII Rebirth, Metaphor: ReFantazio, and Elden Ring: Shadow of the Erdtree, with Astro Bot taking home the top prize and three additional wins. Balatro also won big, taking home three awards total.
                </p>
                <p class="body-content">Below is the full list of winners and nominees:</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="margin-bottom: 0; font-weight: bold;">Game of the Year</p>
                <div class="container">
                    <ul class="body-content list" style="list-style-type: hiragana; padding-left: 15px">
                        <li style="font-weight:bold; list-style-type:katakana-iroha">Astro Bot - WINNER</li>
                        <li>Balatro</li>
                        <li>Black Myth: Wukong</li>
                        <li>Elden Ring Shadow of the Erdtree</li>
                        <li>Final Fantasy VII Rebirth</li>
                        <li>Metaphor: ReFantazio</li>
                    </ul>
                    <img src="/static/imgs/news/game2.jpg" alt="Oppenheimer Poster" class="image">
                </div>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="margin-bottom: 0; font-weight: bold;">Best Game Direction</p>
                <div class="container">
                    <ul class="body-content list" style="list-style-type: hiragana; padding-left: 15px">
                        <li style="font-weight:bold; list-style-type:katakana-iroha">Astro Bot - WINNER</li>
                        <li>Balatro</li>
                        <li>Black Myth: Wukong</li>
                        <li>Elden Ring Shadow of the Erdtree</li>
                        <li>Final Fantasy VII Rebirth</li>
                        <li>Metaphor: ReFantazio</li>
                    </ul>
                    <img src="/static/imgs/news/game1.webp" alt="Emma Stone" class="image">
                </div>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="margin-bottom: 0; font-weight: bold;">Best Narrative</p>
                <div class="container">
                    <ul class="body-content list" style="list-style-type: hiragana; padding-left: 15px">
                        <li style="font-weight:bold; list-style-type:katakana-iroha">Metaphor: ReFantanzio - WINNER</li>
                        <li>Final Fantasy VII Rebirth</li>
                        <li>Like a Dragon: Infinite Wealth</li>
                        <li>Senua’s Saga: Hellblade II</li>
                        <li>Silent Hill 2</li>
                    </ul>
                    <img src="/static/imgs/news/game3.jpg" alt="Cillian Murphy" class="image">
                </div>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="margin-bottom: 0; font-weight: bold;">Best Art Direction</p>
                <div class="container">
                    <ul class="body-content list" style="list-style-type: hiragana; padding-left: 15px">
                        <li style="font-weight:bold; list-style-type:katakana-iroha">Metaphor: ReFantazio - WINNER</li>
                        <li>Astro Bot</li>
                        <li>Black Myth: Wukong</li>
                        <li>Elden Ring Shadow of the Erdtree</li>
                        <li>Neva</li>
                    </ul>
                    <img src="/static/imgs/news/game3.jpg" alt="Da'Vine Joy Randolph" class="image">
                </div>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="margin-bottom: 0; font-weight: bold;">Best Score and Music</p>
                <div class="container">
                    <ul class="body-content list" style="list-style-type: hiragana; padding-left: 15px">
                        <li style="font-weight:bold; list-style-type:katakana-iroha">Final Fantasy VII Rebirth - WINNER</li>
                        <li>Astro Bot</li>
                        <li>Metaphor: ReFantazio</li>
                        <li>Silent Hill 2</li>
                        <li>Stellar Blade</li>
                    </ul>
                    <img src="/static/imgs/news/game10.jpg" alt="Da'Vine Joy Randolph" class="image">
                </div>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="margin-bottom: 0; font-weight: bold;">Best Audio Design</p>
                <div class="container">
                    <ul class="body-content list" style="list-style-type: hiragana; padding-left: 15px">
                        <li style="font-weight:bold; list-style-type:katakana-iroha">Senua’s Saga: Hellblade 2 - WINNER</li>
                        <li>Astro Bot</li>
                        <li>Call of Duty: Black Ops 6</li>
                        <li>Final Fantasy VII Rebirth</li>
                        <li>Silent Hill 2</li>
                    </ul>
                    <img src="/static/imgs/news/game4.jpg" alt="Da'Vine Joy Randolph" class="image">
                </div>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="margin-bottom: 0; font-weight: bold;">Best Performance</p>
                <div class="container">
                    <ul class="body-content list" style="list-style-type: hiragana; padding-left: 15px">
                        <li style="font-weight:bold; list-style-type:katakana-iroha">Melina Juergens, Senua’s Saga: Hellblade 2 - WINNER</li>
                        <li>Hannah Telle, Life is Strange: Double Exposure</li>
                        <li>Briana White, Final Fantasy VII Rebirth</li>
                        <li>Humberly González, Star Wars Outlaws</li>
                        <li>Luke Roberts, Silent Hill 2</li>
                    </ul>
                    <img src="/static/imgs/news/game4.jpg" alt="Da'Vine Joy Randolph" class="image">
                </div>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="margin-bottom: 0; font-weight: bold;">Innovation in Accessibility</p>
                <div class="container">
                    <ul class="body-content list" style="list-style-type: hiragana; padding-left: 15px">
                        <li style="font-weight:bold; list-style-type:katakana-iroha">Prince of Persia: The Lost Crown - WINNER</li>
                        <li>Call of Duty: Black Ops 6</li>
                        <li>Diablo IV</li>
                        <li>Dragon Age: The Veilguard</li>
                        <li>Star Wars Outlaws</li>
                    </ul>
                    <img src="/static/imgs/news/game5.jpg" alt="Da'Vine Joy Randolph" class="image">
                </div>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="margin-bottom: 0; font-weight: bold;">Games for Impact</p>
                <div class="container">
                    <ul class="body-content list" style="list-style-type: hiragana; padding-left: 15px">
                        <li style="font-weight:bold; list-style-type:katakana-iroha">Neva - WINNER</li>
                        <li>Closer the Distance</li>
                        <li>Indika</li>
                        <li>Life is Strange: Double Exposure</li>
                        <li>Senua’s Saga: Hellblade II</li>
                        <li>Tales of Kenzera: Zau</li>
                    </ul>
                    <img src="/static/imgs/news/game6.jpg" alt="Da'Vine Joy Randolph" class="image">
                </div>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="margin-bottom: 0; font-weight: bold;">Best Ongoing Game</p>
                <div class="container">
                    <ul class="body-content list" style="list-style-type: hiragana; padding-left: 15px">
                        <li style="font-weight:bold; list-style-type:katakana-iroha">Helldivers 2 - WINNER</li>
                        <li>Destiny 2</li>
                        <li>Diablo IV</li>
                        <li>Final Fantasy XIV</li>
                        <li>Fortnite</li>
                    </ul>
                    <img src="/static/imgs/news/game7.jpg" alt="Da'Vine Joy Randolph" class="image">
                </div>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="margin-bottom: 0; font-weight: bold;">Best Community Support</p>
                <div class="container">
                    <ul class="body-content list" style="list-style-type: hiragana; padding-left: 15px">
                        <li style="font-weight:bold; list-style-type:katakana-iroha">Baldur’s Gate 3 - WINNER</li>
                        <li>Final Fantasy XIV</li>
                        <li>Fortnite</li>
                        <li>Helldivers 2</li>
                        <li>No Man’s Sky</li>
                    </ul>
                    <img src="/static/imgs/news/game8.jpg" alt="Da'Vine Joy Randolph" class="image">
                </div>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="margin-bottom: 0; font-weight: bold;">Best Independent Game</p>
                <div class="container">
                    <ul class="body-content list" style="list-style-type: hiragana; padding-left: 15px">
                        <li style="font-weight:bold; list-style-type:katakana-iroha">Balatro - WINNER</li>
                        <li>Animal Well</li>
                        <li>Lorelei and the Laser Eyes</li>
                        <li>Neva</li>
                        <li>UFO 50</li>
                    </ul>
                    <img src="/static/imgs/news/game9.jpg" alt="Da'Vine Joy Randolph" class="image">
                </div>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="margin-bottom: 0; font-weight: bold;">Best Debut Indie Game</p>
                <div class="container">
                    <ul class="body-content list" style="list-style-type: hiragana; padding-left: 15px">
                        <li style="font-weight:bold; list-style-type:katakana-iroha">Balatro - WINNER</li>
                        <li>Animal Well</li>
                        <li>Manor Lords</li>
                        <li>Pacific Drive</li>
                        <li>The Plucky Squire</li>
                    </ul>
                    <img src="/static/imgs/news/game9.jpg" alt="Da'Vine Joy Randolph" class="image">
                </div>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="margin-bottom: 0; font-weight: bold;">Best Mobile Game</p>
                <div class="container">
                    <ul class="body-content list" style="list-style-type: hiragana; padding-left: 15px">
                        <li style="font-weight:bold; list-style-type:katakana-iroha">Balatro - WINNER</li>
                        <li>AFK Journey</li>
                        <li>Pokémon Trading Card Game Pocket</li>
                        <li>Wuthering Waves</li>
                        <li>Zenless Zone Zero</li>
                    </ul>
                    <img src="/static/imgs/news/game9.jpg" alt="Da'Vine Joy Randolph" class="image">
                </div>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="margin-bottom: 0; font-weight: bold;">Best VR/AR Game</p>
                <div class="container">
                    <ul class="body-content list" style="list-style-type: hiragana; padding-left: 15px">
                        <li style="font-weight:bold; list-style-type:katakana-iroha">Batman: Arkham Shadow - WINNER</li>
                        <li>Arizona Sunshine Remake</li>
                        <li>Asgard’s Wrath 2</li>
                        <li>Metal: Hellsinger VR</li>
                        <li>Metro Awakening</li>
                    </ul>
                    <img src="/static/imgs/news/game11.jpg" alt="Da'Vine Joy Randolph" class="image">
                </div>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="margin-bottom: 0; font-weight: bold;">Best Action Game</p>
                <div class="container">
                    <ul class="body-content list" style="list-style-type: hiragana; padding-left: 15px">
                        <li style="font-weight:bold; list-style-type:katakana-iroha">Black Myth: Wukong - WINNER</li>
                        <li>Call of Duty: Black Ops 6</li>
                        <li>Helldivers 2</li>
                        <li>Stellar Blade</li>
                        <li>Warhammer 40,000: Space Marine 2</li>
                    </ul>
                    <img src="/static/imgs/news/game12.jpg" alt="Da'Vine Joy Randolph" class="image">
                </div>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="margin-bottom: 0; font-weight: bold;">Best Action/Adventure Game</p>
                <div class="container">
                    <ul class="body-content list" style="list-style-type: hiragana; padding-left: 15px">
                        <li style="font-weight:bold; list-style-type:katakana-iroha">Astro Bot - WINNER</li>
                        <li>Prince of Persia: The Lost Crown</li>
                        <li>Silent Hill 2</li>
                        <li>Star Wars Outlaws</li>
                        <li>The Legend of Zelda: Echoes of Wisdom</li>
                    </ul>
                    <img src="/static/imgs/news/game2.jpg" alt="Da'Vine Joy Randolph" class="image">
                </div>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="margin-bottom: 0; font-weight: bold;">Best RPG</p>
                <div class="container">
                    <ul class="body-content list" style="list-style-type: hiragana; padding-left: 15px">
                        <li style="font-weight:bold; list-style-type:katakana-iroha">Metaphor: ReFantazio - WINNER</li>
                        <li>Dragon’s Dogma 2</li>
                        <li>Elden Ring Shadow of the Erdtree</li>
                        <li>Final Fantasy VII Rebirth</li>
                        <li>Like a Dragon: Infinite Wealth</li>
                    </ul>
                    <img src="/static/imgs/news/game3.jpg" alt="Da'Vine Joy Randolph" class="image">
                </div>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="margin-bottom: 0; font-weight: bold;">Best Fighting Game</p>
                <div class="container">
                    <ul class="body-content list" style="list-style-type: hiragana; padding-left: 15px">
                        <li style="font-weight:bold; list-style-type:katakana-iroha">Tekken 8 - WINNER</li>
                        <li>Granblue Fantasy Versus: Rising</li>
                        <li>Dragon Ball: Sparking! ZERO</li>
                        <li>Marvel vs Capcom Fighting Collection: Arcade Classics</li>
                        <li>MultiVersus</li>
                    </ul>
                    <img src="/static/imgs/news/game13.jpg" alt="Da'Vine Joy Randolph" class="image">
                </div>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="margin-bottom: 0; font-weight: bold;">Best Family Game</p>
                <div class="container">
                    <ul class="body-content list" style="list-style-type: hiragana; padding-left: 15px">
                        <li style="font-weight:bold; list-style-type:katakana-iroha">Astro Bot - WINNER</li>
                        <li>Princess Peach: Showtime!</li>
                        <li>Super Mario Party Jamboree</li>
                        <li>The Legend of Zelda: Echoes of Wisdom</li>
                        <li>The Plucky Squire</li>
                    </ul>
                    <img src="/static/imgs/news/game2.jpg" alt="Da'Vine Joy Randolph" class="image">
                </div>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="margin-bottom: 0; font-weight: bold;">Best Sim/Strategy Game</p>
                <div class="container">
                    <ul class="body-content list" style="list-style-type: hiragana; padding-left: 15px">
                        <li style="font-weight:bold; list-style-type:katakana-iroha">Frostpunk 2 (11 Bit Studios) - WINNER</li>
                        <li>Age of Mythology: Retold</li>
                        <li>Kunitsu-Gami: Path of the Goddess</li>
                        <li>Manor Lords</li>
                        <li>Unicorn Overlord</li>
                    </ul>
                    <img src="/static/imgs/news/game14.jpg" alt="Da'Vine Joy Randolph" class="image">
                </div>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="margin-bottom: 0; font-weight: bold;">Best Sports/Racing Game</p>
                <div class="container">
                    <ul class="body-content list" style="list-style-type: hiragana; padding-left: 15px">
                        <li style="font-weight:bold; list-style-type:katakana-iroha">EA Sports FC 25 - WINNER</li>
                        <li>F1 24</li>
                        <li>NBA 2K25</li>
                        <li>Top Spin 2K25</li>
                        <li>WWE 2K24</li>
                    </ul>
                    <img src="/static/imgs/news/game15.jpg" alt="Da'Vine Joy Randolph" class="image">
                </div>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="margin-bottom: 0; font-weight: bold;">Best Multiplayer Game</p>
                <div class="container">
                    <ul class="body-content list" style="list-style-type: hiragana; padding-left: 15px">
                        <li style="font-weight:bold; list-style-type:katakana-iroha">Helldivers 2 - WINNER</li>
                        <li>Call of Duty: Black Ops 6</li>
                        <li>Super Mario Party Jamboree</li>
                        <li>Tekken 8</li>   
                        <li>Warhammer 40K: Space Marine 2</li>
                    </ul>
                    <img src="/static/imgs/news/game7.jpg" alt="Da'Vine Joy Randolph" class="image">
                </div>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="margin-bottom: 0; font-weight: bold;">Best Adaptation</p>
                <div class="container">
                    <ul class="body-content list" style="list-style-type: hiragana; padding-left: 15px">
                        <li style="font-weight:bold; list-style-type:katakana-iroha">Fallout - WINNER</li>
                        <li>Arcane</li>
                        <li>Knuckles</li>
                        <li>Like a Dragon: Yakuza</li>
                        <li>Tomb Raider: The Legend of Lara Croft</li>
                    </ul>
                    <img src="/static/imgs/news/game16.jpg" alt="Da'Vine Joy Randolph" class="image">
                </div>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="margin-bottom: 0; font-weight: bold;">Most Anticipated Game</p>
                <div class="container">
                    <ul class="body-content list" style="list-style-type: hiragana; padding-left: 15px">
                        <li style="font-weight:bold; list-style-type:katakana-iroha">Grand Theft Auto VI - WINNER</li>
                        <li>Death Stranding 2: On the Beach</li>
                        <li>Ghost of Yotei</li>
                        <li>Metroid Prime 4: Beyond</li>
                        <li>Monster Hunter Wilds</li>
                    </ul>
                    <img src="/static/imgs/news/game17.jpg" alt="Da'Vine Joy Randolph" class="image">
                </div>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="margin-bottom: 0; font-weight: bold;">Content Creator of the Year</p>
                <div class="container">
                    <ul class="body-content list" style="list-style-type: hiragana; padding-left: 15px">
                        <li style="font-weight:bold; list-style-type:katakana-iroha">CaseOh - WINNER</li>
                        <li>IlloJuan</li>
                        <li>Techno Gamerz</li>
                        <li>TypicalGamer</li>
                        <li>Usada Pekora</li>
                    </ul>
                    <img src="/static/imgs/news/game18.jpg" alt="Da'Vine Joy Randolph" class="image">
                </div>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="margin-bottom: 0; font-weight: bold;">Best Esports Game</p>
                <div class="container">
                    <ul class="body-content list" style="list-style-type: hiragana; padding-left: 15px">
                        <li style="font-weight:bold; list-style-type:katakana-iroha">League of Legends - WINNER</li>
                        <li>DOTA 2</li>
                        <li>Counter-Strike 2</li>
                        <li>Mobile Legends: Bang Bang</li>
                        <li>Valorant</li>
                    </ul>
                    <img src="/static/imgs/news/game19.jpg" alt="Da'Vine Joy Randolph" class="image">
                </div>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="margin-bottom: 0; font-weight: bold;">Best Esports Athlete</p>
                <div class="container">
                    <ul class="body-content list" style="list-style-type: hiragana; padding-left: 15px">
                        <li style="font-weight:bold; list-style-type:katakana-iroha">Faker – Lee Sang-hyeok - WINNER</li>
                        <li>33 – Neta Shapira</li>
                        <li>Aleksib – Aleksi Virolainen</li>
                        <li>Chovy – Jeong Ji-hoon</li>
                        <li>ZyWoO – Mathieu Herbaut</li>
                        <li>ZmjjKk – Zheng Yongkang</li>
                    </ul>
                    <img src="/static/imgs/news/game20.jpg" alt="Da'Vine Joy Randolph" class="image">
                </div>
                <p class="body-content" style="margin-bottom: 0; font-weight: bold;">Best Esports Team</p>
                <div class="container">
                    <ul class="body-content list" style="list-style-type: hiragana; padding-left: 15px">
                        <li style="font-weight:bold; list-style-type:katakana-iroha">T1 (League of Legends) - WINNER</li>
                        <li>Bilibili Gaming (League of Legends)</li>
                        <li>Gen.G (League of Legends)</li>
                        <li>NAVI (Counter-Strike)</li>
                        <li>Team Liquid (DOTA 2)</li>
                    </ul>
                    <img src="/static/imgs/news/game21.jpg" alt="Da'Vine Joy Randolph" class="image">
                </div>
                <hr style="border: solid 1px black; max-width: 300px">
            </div>
        </div>
    </div>
    <div class="card-footer text-muted text-center py-3 justify-content-center">
        <h5 class="card-footer text-center display-5 bg-light text-dark py-4 mt-3 pacifico-font">
            <i class="bi bi-heart-fill mr-2 text-danger"></i>
            Thank you for reading!~
            <i class="bi bi-dice-6 ml-2"><i class="bi bi-dice-6"><i class="bi bi-dice-6"></i></i></i>
        </h5>
    </div>
</div>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Pacifico&display=swap" rel="stylesheet">
<style>
    .gideon-font{
        font-family: "Gideon Roman", serif;
        font-weight: 400;
        font-style: normal;
    }
    .pacifico-font {
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
    }
    .body-content {
        text-align: start;
        padding-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .starting-lineup {
        font-weight: bold; 
        color: dodgerblack;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .list {
        flex: 1;
        margin-right: 20px;
    }
    .image {
        max-width: 350px;
        height: auto;
        padding-right: 50px;
    }
</style>