<div class="card mt-2">
    <div class="card shadow-lg mx-auto mt-4 mb-1" style="max-width: 800px">
        <h5 class="card-header text-center fw-bold display-3 text-danger py-4 my-3 gideon-font">
            ENTERTAINMENT
        </h5>   
    </div>
    <div class="text-muted text-start my-4 mx-5">
      <p class="mb-1" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-calendar-check mr-2"></i>Publish Date: </strong>20/12/2024</p>
      <p class="mb-0" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-file-person mr-2" ></i>Author: </strong>hoaglee666</p>
    </div>
    <div class="card-body">
        <div class="card-body text-center bg-secondary text-white pt-1 mb-2">  
            <div class="mb-3 display-4" style="font-weight: bold;">How to make a movie night snack board</div>
                <div class="bg-dark text-white pb-1">
                <img src="/static/imgs/news/happy1.jpg" style="max-width: 800px" alt="Suchir Balaji" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;"><span style="font-style:italic;">Heather Baird SprinkleBakes.com/HGTV</span></p>
                <p class="body-content">Family movie night just got better with this spread of theater-inspired treats. Indulge in classic movie snacks such as buttered popcorn, soft pretzels, chocolate bars and fruity candies.</p>
                <p class="body-content">Most of the ingredients can be purchased ready-made from the grocery store. Look for candy labeled “theater box” or “movie size” in the candy aisle because they are boxed in smaller concession-stand-size portions.</p>
                <p class="body-content">While there’s almost nothing better than seeing a new movie on the big screen, eating popcorn in your pajamas with family in front of the TV is a close second.</p>
                <p class="body-content">Kids will love to be included in building this board. Let little ones help shop for candies and snacks, as well as help arrange them on the board with an adult’s supervision.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size:50px">1. Choose a Large Board</p>
                <p class="body-content">
                    Set the scene with a large wooden board, serving tray or platter. Red-and-white-striped paper napkins and plates are reminiscent of old-school popcorn boxes and will add to the movie theater theme. You can purchase them at party stores and online. A few of the plates can be used on the board to hold food. The remaining plates and napkins can be kept close by for guests to fill and use.
                </p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size:50px">2. Pop the Popcorn</p>
                <p class="body-content">
                    No movie night is complete without the quintessential bowl of popcorn. You can’t go wrong with classic buttered popcorn. Or, take it up a notch with sweet popcorn varieties such as caramel, toffee and chocolate-drizzled. Cheesy cheddar popcorn would also be a fun option. You can make your own at home (stove top-popped or microwave), but it’s easy to pick up a few ready-made bags at the grocery store in the potato chip aisle.
                </p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size:50px">3. Add Hardy Snacks</p>
                <p class="body-content">
                    Soft pretzels are a hardy addition to this board. Grab a package of prepared pretzels from the freezer section in the grocery store. They’re quick to heat up and easy to arrange around bowls of popcorn. Nachos, which are also a filling snack, are often served at theaters and would be a wonderful alternative (or addition) to soft pretzels.
                </p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size:50px">4. Include Fruit-Flavored Candies</p>
                <p class="body-content">
                    Inspired by concession stand favorites, chewy fruity candies should be on the menu. Add sour gummies, peach rings and chewy fruit drops to the board. Place them in small bowls or ramekins and group them for a fruity theme to one side of the arrangement.
                </p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size:50px">5. Chocolate is a Must</p>
                <p class="body-content">
                    Chocolate-covered raisins, malted milk balls and caramel pieces are all theater snack staples. They add a familiar charm to the board and also make wonderful popcorn toppings for salty-sweet lovers.
                </p>
                <img src="/static/imgs/news/happy2.jpg" style="max-width: 800px" alt="Suchir Balaji" class="mb-3 mt-3">
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size:50px">6. Rope In Some Retro Favorites</p>
                <p class="body-content">
                    Red licorice twists are a timeless movie theater candy that adds both color and chewy-twisty texture to the board. They are easily found in the candy aisle at most grocery stores. Pile them high in the center of the board for a pop of red color.
                </p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size:50px">7. Add Candy Bar Classics</p>
                <p class="body-content">
                    Classic chocolate bars, such as break-apart chocolate wafers, chocolate caramels and peanut butter cups are all familiar concession-style treats. Keep the selection fresh with fun imported snacks, such as Japanese chocolate-dipped biscuit sticks. All of these can be found at most grocery stores and online.
                </p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size:50px">8. Make It Themed</p>
                <p class="body-content">
                    Faux theater tickets and other movie decor will help elevate the theme and can be found for purchase at your local party store and online. Place them strategically around the snacks for an extra layer of fun and charm.
                </p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size:50px">9. Make It a New Tradition</p>
                <p class="body-content">
                    This movie-night snack board will allow you to experience theater snacking from the comfort of your own home. It’s easy to assemble and a great way to make new memories with your family and friends. It might even become a new tradition.
                </p>
                <hr style="border: solid 1px black; max-width: 300px">
            </div>
        </div>
    </div>
    <div class="card-footer text-muted text-center py-3 justify-content-center">
        <h5 class="card-footer text-center display-5 bg-light text-dark py-4 mt-3 pacifico-font">
            <i class="bi bi-heart-fill mr-2 text-danger"></i>
            Thank you for reading!~
            <i class="bi bi-dice-6 ml-2"><i class="bi bi-dice-6"><i class="bi bi-dice-6"></i></i></i>
        </h5>
    </div>
</div>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Pacifico&display=swap" rel="stylesheet">
<style>
    .gideon-font{
        font-family: "Gideon Roman", serif;
        font-weight: 400;
        font-style: normal;
    }
    .pacifico-font {
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
    }
    .body-content {
        text-align: start;
        padding-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .starting-lineup {
        font-weight: bold; 
        color: dodgerblack;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .list {
        flex: 1;
        margin-right: 20px;
    }
    .image {
        max-width: 350px;
        height: auto;
        padding-right: 50px;
    }
</style>