<div class="card mt-2">
    <div class="card shadow-lg mx-auto mt-4 mb-1" style="max-width: 800px">
        <h5 class="card-header text-center fw-bold display-3 text-primary py-4 my-3 gideon-font">
            TECHNOLOGY
        </h5>   
    </div>
    <div class="text-muted text-start my-4 mx-5">
      <p class="mb-1" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-calendar-check mr-2"></i>Publish Date: </strong>20/12/2024</p>
      <p class="mb-0" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-file-person mr-2" ></i>Author: </strong>hoaglee666</p>
    </div>
    <div class="card-body">
        <div class="card-body text-center bg-secondary text-white pt-1 mb-2">  
            <div class="mb-3 display-4" style="font-weight: bold;">‘We’re at this pivotal moment.’ These young innovators are tackling some of humanity’s biggest problems</div>
                <div class="bg-dark text-white pb-1">
                <img src="/static/imgs/news/tech1.jpg" style="max-width: 800px" alt="Suchir Balaji" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;">In November, guests from this season's Tech for Good gathered in London for a grand finale episode. <span style="font-style:italic;">CNN</span></p>
                <p class="body-content">Tech for Good is a series that highlights students and young people who are designing technology to make our world a better place. This season, CNN met people – from South Korea to Switzerland – who are using innovation to tackle some of the biggest problems facing humanity.</p>
                <p class="body-content">We documented their work in articles and TV segments. Along the way, we used QR codes and online polls to ask CNN’s audiences which Tech for Good stories they liked best. In November, we invited guests from some of the audience favorites to London for a grand finale episode, taped in front of a live audience.</p>
                <p class="body-content">Correspondent Anna Stewart spoke to the students and scientists about what they’ve been up to since appearing on CNN, what’s next for their technologies and why young people might change the world.</p>
                <p class="body-content">Here’s a look at the innovators who joined us in London, and the technologies they’ve got in the pipeline.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size:30px">‘A toolkit to help safeguard our reefs’</p>
                <p class="body-content">PhD candidate Taylor Whitman traveled from Australia to London to talk about the coral seeding devices she designed to deliver new baby corals to the Great Barrier Reef to help restore it.</p>
                <p class="body-content">
                    Like many reefs across the world, Australia’s awe-inspiring natural marvel is under threat from rising ocean temperatures, which can cause coral to bleach and potentially die. The marine ecologist’s devices, which CNN featured in the first episode of Tech for Good, provide a safe home for young corals to grow.
                </p>
                <p class="body-content">Whitman said she hopes to take her coral-restoration technology global, putting it in the hands of communities to use alongside other solutions to save coral reefs. “It’s building a toolkit to help safeguard our reefs,” she said.</p>
                <p class="body-content">She hopes the project will allow future generations to experience the ocean ecosystems she loves so much. “We’re at this pivotal moment,” she said. “We have to do something now before it’s too late.”</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size:30px">Gearing up for launch</p>
                <p class="body-content">A CNN team had a blast filming with Hannes Schatzmann earlier in the year in the Swiss Alps for the second episode of Tech for Good.</p>
                <p class="body-content">There, he and his classmates from ETH Zurich tested a custom-developed space rocket recovery system by dropping it from a helicopter. The AI-powered system steers a parachute back to a predetermined landing site, so they can pick up the rocket and use it again.</p>
                <p class="body-content">On the London stage, Schatzmann told Stewart that his team are gearing up for a “proper launch” soon, in which they’ll launch a rocket, instead of lifting it with a helicopter before guiding it down.</p>
                <p class="body-content">Reusable rockets are becoming the norm, but not everyone has the technology to recover them easily and sustainably. He hopes that one day systems like his become the standard – making the space industry more sustainable.</p>
                <p class="body-content">“I also hope that we can keep enabling students and inspiring them to chase these far-out ideas and keep at it until they’ve actually become a reality,” he added.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size: 30px">‘Young people think differently’</p>
                <p class="body-content">One of our most read Tech for Good stories this year covered SharkEye, an initiative which uses drones and artificial intelligence to detect the great white sharks that like to hang out by a local surf beach near Santa Barbara, California.</p>
                <p class="body-content">Project scientist Neil Nathan told CNN that he hopes the technology can help address misconceptions about the animals. “Shark attacks are incredibly rare … I was more likely be injured on the taxi ride over here than a shark attack,” he said.</p>
                <p class="body-content">Today, the team is focusing on detecting great white sharks in California. Nathan hopes to advance their technology to be able to use it for new species, like tiger sharks, in other locations. “There’s a lot of need to put a tool like this in the hands of other communities,” he said.</p>
                <p class="body-content">And as the show wrapped up, Nathan shared an insight that perfectly captured the spirit of Tech for Good.</p>
                <p class="body-content">“Young people think differently to how people have thought before,” he said. “For some of these huge problems – climate change, plastic pollution, wildlife crises, space exploration – we need new minds thinking of new solutions.”</p>
                <hr style="border: solid 1px black; max-width: 300px">
            </div>
        </div>
    </div>
    <div class="card-footer text-muted text-center py-3 justify-content-center">
        <h5 class="card-footer text-center display-5 bg-light text-dark py-4 mt-3 pacifico-font">
            <i class="bi bi-heart-fill mr-2 text-danger"></i>
            Thank you for reading!~
            <i class="bi bi-dice-6 ml-2"><i class="bi bi-dice-6"><i class="bi bi-dice-6"></i></i></i>
        </h5>
    </div>
</div>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Pacifico&display=swap" rel="stylesheet">
<style>
    .gideon-font{
        font-family: "Gideon Roman", serif;
        font-weight: 400;
        font-style: normal;
    }
    .pacifico-font {
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
    }
    .body-content {
        text-align: start;
        padding-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .starting-lineup {
        font-weight: bold; 
        color: dodgerblack;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .list {
        flex: 1;
        margin-right: 20px;
    }
    .image {
        max-width: 350px;
        height: auto;
        padding-right: 50px;
    }
</style>