<div class="card mt-2">
    <div class="card shadow-lg mx-auto mt-4 mb-1" style="max-width: 800px">
        <a href="/articles/byCat?id=2" style="text-decoration: none;">
            <h5 class="card-header text-center fw-bold display-3 text-danger py-4 my-3 gideon-font">
                POLITICS
            </h5>   
        </a>  
    </div>
    <div class="text-muted text-start my-4 mx-5">
      <p class="mb-1" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-calendar-check mr-2"></i>Publish Date: </strong>20/12/2024</p>
      <p class="mb-0" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-file-person mr-2" ></i>Author: </strong>hoaglee666</p>
    </div>
    <div class="card-body">
        <div class="card-body text-center bg-secondary text-white pt-1 mb-2">  
            <div class="mb-3 display-4" style="font-weight: bold;">What’s at risk if Congress doesn’t fund the government by Friday night</div>
                <div class="bg-dark text-white pb-1">
                <img src="/static/imgs/news/cog1.jpg" style="max-width: 800px" alt="Suchir Balaji" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;">United States Congress <span style="font-style:italic;">Amir Cohen/Reuters</span></p>
                <p class="body-content">Facing intense pressure of the federal government potentially shutting down within days and disaster aid coffers that need replenishment, lawmakers are racing to cobble together a temporary government funding plan after President-elect Donald Trump torpedoed their last package on Wednesday.</p>
                <p class="body-content">The now-dead agreement would have kept the federal government operating through March 14, as well as provided nearly $100 billion in disaster aid and economic relief for farmers in rural communities. The deal would have also provided lawmakers with their first pay raise since 2009.</p>
                <p class="body-content">Here’s what Americans could soon face if Congress doesn’t reach a deal by midnight on Friday:</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size:30px">Aid for disasters and farmers</p>
                <p class="body-content">The bipartisan deal struck earlier in the week would have provided nearly $100 billion to help Americans trying to recover from multiple natural disasters in 2023 and 2024.</p>
                <p class="body-content">
                    Every state in the nation was set to get a portion of the funds. States like North Carolina and Florida, which were hit hard by Hurricanes Helene and Milton earlier this year, were expected to get some largest amount of funding, according to a breakdown provided by Rep. Rosa DeLauro of Connecticut, the top Democrat on the House Appropriations Committee.
                </p>
                <p class="body-content">Some $29 billion would help replenish the Federal Emergency Management Agency’s Disaster Relief Fund, which has dwindled after contending with the two hurricanes, as well as other disasters.</p>
                <p class="body-content">The package also included $21 billion in disaster relief for farmers – a big sticking point in negotiations earlier this week. Lawmakers from agricultural-focused states have argued that the help is desperately needed as America’s farmers are facing lower commodity prices and higher costs for supplies.</p>
                <p class="body-content">
                    The spending agreement would have also extended the farm bill – a sweeping package that governs many agricultural and nutrition assistance programs. Typically, the bill is renewed every five years, but the most recent version was passed in 2018 and the extension lapsed at the end of September.
                </p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size:30px">Government shutdown looms</p>
                <p class="body-content">Lawmakers have until midnight Friday to fund the federal government – at least temporarily – to avoid a shutdown. Since Congress has not approved appropriations for any agencies, all would be affected.</p>
                <p class="body-content">The White House Office of Management and Budget is sending additional guidance to federal agencies on shutdown preparations, an administration official told CNN.</p>
                <p class="body-content">Every department and agency has its own set of plans and procedures for a shutdown. The plans include how many employees would be furloughed, which employees are considered essential and would work without pay, how long it would take to wind down operations in the hours before a shutdown and which activities would come to a halt. Those plans can vary from shutdown to shutdown.</p>
                <p class="body-content">The impact of a shutdown differs each time, but the consequences could be felt early. About 875,000 civilian federal workers will be furloughed, while another 1.4 million employees are considered essential and will have to continue working – most of them without pay, according to the Bipartisan Policy Center, which looked at data from September. (They will receive their missed paychecks once the impasse ends.)</p>
                <p class="body-content">“A government shutdown would deliver a devastating blow to hardworking federal employees and the millions of citizens who rely on essential government services,” said Everett Kelley, national president of the American Federation of Government Employees, which represents more than 800,000 civilian federal employees.</p>
                <p class="body-content">“These patriotic civil servants are the backbone of our nation — they inspect our food, protect our borders, ensure safe travel during the holidays, and provide relief to disaster victims,” Kelley continued. “Over 642,000 of them are veterans of our armed services. Allowing them to go without a paycheck over the holidays is unacceptable.”</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content">Federal employees are “rattled” by the sudden threat of a shutdown, said Doreen Greenwald, national president of the National Treasury Employees Union, which represents 150,000 workers in three dozen federal agencies and offices. But the move would also have broader consequences.</p>
                <p class="body-content">“Shutdowns waste taxpayer money, harm the economy and jeopardize the paychecks and essential services that hardworking Americans and their families depend on every day,” Greenwald said.</p>
                <p class="body-content">Previous shutdowns have closed national parks and museums, wreaked havoc on the Internal Revenue Service just before the start of the tax filing season, and delayed some federal lending to homebuyers and small businesses, among other impacts. Though air traffic controllers have to remain on the job, many called in sick during the most recent shutdown, snarling flights.</p>
                <p class="body-content">Also, some essential government functions continue even if the government shuts down. Notably, Social Security recipients would receive their monthly payments, and Medicare and Medicaid benefits would continue.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content" style="font-weight: bold; font-size: 30px">Trump’s extended shutdown</p>
                <p class="body-content">Trump presided over the longest government shutdown in four decades during his first term. The 35-day impasse, which shuttered part of the government just before Christmas in 2018, ended in late January when Trump agreed to a temporary funding measure that did not include billions of dollars for a border wall.</p>
                <p class="body-content">However, the shutdown wreaked havoc on many Americans and federal employees, including causing flight delays, canceling immigration hearings and making it harder for some families to obtain student loans.</p>
                <hr style="border: solid 1px black; max-width: 300px">
            </div>
        </div>
    </div>
    <div class="card-footer text-muted text-center py-3 justify-content-center">
        <h5 class="card-footer text-center display-5 bg-light text-dark py-4 mt-3 pacifico-font">
            <i class="bi bi-heart-fill mr-2 text-danger"></i>
            Thank you for reading!~
            <i class="bi bi-dice-6 ml-2"><i class="bi bi-dice-6"><i class="bi bi-dice-6"></i></i></i>
        </h5>
    </div>
</div>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Pacifico&display=swap" rel="stylesheet">
<style>
    .gideon-font{
        font-family: "Gideon Roman", serif;
        font-weight: 400;
        font-style: normal;
    }
    .pacifico-font {
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
    }
    .body-content {
        text-align: start;
        padding-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .starting-lineup {
        font-weight: bold; 
        color: dodgerblack;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .list {
        flex: 1;
        margin-right: 20px;
    }
    .image {
        max-width: 350px;
        height: auto;
        padding-right: 50px;
    }
</style>