<div class="card mt-2">
    <div class="card shadow-lg mx-auto mt-4 mb-1" style="max-width: 800px">
        <a href="/articles/byCat?id=10" style="text-decoration: none;">
            <h5 class="card-header text-center fw-bold display-3 text-danger py-4 my-3 gideon-font">
                BUSINESS
            </h5>   
        </a>     
    </div>
    <div class="text-muted text-start my-4 mx-5">
      <p class="mb-1" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-calendar-check mr-2"></i>Publish Date: </strong>20/12/2024</p>
      <p class="mb-0" style="font-style: italic; padding-left: 5px"><strong><i class="bi bi-file-person mr-2" ></i>Author: </strong>hoaglee666</p>
    </div>
    <div class="card-body">
        <div class="card-body text-center bg-secondary text-white pt-1 mb-2">  
            <div class="mb-3 display-4" style="font-weight: bold;">As Americans bargain shop, six-figure earners flock to Walmart</div>
                <div class="bg-dark text-white pb-1">
                <img src="/static/imgs/news/wal1.jpg" style="max-width: 800px" alt="Suchir Balaji" class="mb-3 mt-3">
                <p style="text-align: center; margin-top: 0; font-size: 10px; padding-bottom: 1rem; font-weight:lighter;">A lone shopper places items in her cart in the frozen food aisle of a Walmart store Thursday, Nov. 14, 2024, in Englewood, Colo. <span style="font-style:italic;">David Zalubowski/AP</span></p>
                <p class="body-content">Walmart’s US sales at stores open for at least a year grew 5.3% last quarter compared with the year prior, the company said Tuesday, and its profit grew 8.2% last quarter. Walmart raised its financial outlook, a signal it expects a strong holiday shopping season.</p>
                <p class="body-content">Walmart said it gained market share last quarter, driven “primarily from upper-income households.” Households making more than $100,000 a year accounted for 75% of the company’s gains.</p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content">Shares of the mega retailer hit fresh highs Tuesday morning, jumping more than 3% after the earnings results were released. The stock has consistently been reaching new highs throughout the past two months.</p>
                <p class="body-content">
                    Low and middle-income shoppers have traditionally formed the core of Walmart’s customer base, and they are flocking to Walmart to save money. But Walmart has also focused on expanding with people making more than $100,000 a year in recent years — historically Amazon’s main customer base.
                </p>
                <p class="body-content">Walmart, the largest retailer in the world, has drawn higher-income customers by investing in its grocery business and using its massive scale to drive down prices. It has also sharpened its assortment of clothing, electronics, home furnishings and other goods.</p>
                <p class="body-content">Walmart has also built a strong online operation to rival Amazon. It has added the option to buy online and pickup in store to thousands of its locations and Walmart+, a same-day grocery delivery membership program. Walmart’s online sales grew 22% in the United States last quarter.</p>
                <p class="body-content">
                    “As we grow our (online) assortment, we’re able to appeal to more people and appeal to higher income levels,” Walmart CEO Doug McMillon said on an earnings call Tuesday. Those that have more discretionary income and want to save time are liking what we’re doing with both pickup and delivery.”
                </p>
                <hr style="border: solid 1px black; max-width: 300px">
                <p class="body-content">Walmart’s strength is a sign that consumers of all income levels are looking for low prices and value. Although inflation has cooled, Americans have been worn down by higher prices in recent years.</p>
                <p class="body-content">And while Walmart is booming, many retailers are struggling.</p>
                <p class="body-content">Chains are on track to close the highest number of stores in 2024 than any year since 2020, when the pandemic decimated the industry. Family Dollar, Walgreens, Big Lots and others are closing thousands of stores.</p>
                <p class="body-content">Closures have picked up this year because the retail sector’s sugar high of 2021 and 2022 — when consumers were snapping up new couches, televisions and clothing — has ended. Companies have raised prices higher than many consumers can afford and interest rates have soared, making it more expensive to borrow money for big-ticket items, or to get a mortgage or a car loan.</p>
                <hr style="border: solid 1px black; max-width: 300px">
            </div>
        </div>
    </div>
    <div class="card-footer text-muted text-center py-3 justify-content-center">
        <h5 class="card-footer text-center display-5 bg-light text-dark py-4 mt-3 pacifico-font">
            <i class="bi bi-heart-fill mr-2 text-danger"></i>
            Thank you for reading!~
            <i class="bi bi-dice-6 ml-2"><i class="bi bi-dice-6"><i class="bi bi-dice-6"></i></i></i>
        </h5>
    </div>
</div>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Pacifico&display=swap" rel="stylesheet">
<style>
    .gideon-font{
        font-family: "Gideon Roman", serif;
        font-weight: 400;
        font-style: normal;
    }
    .pacifico-font {
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
    }
    .body-content {
        text-align: start;
        padding-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .starting-lineup {
        font-weight: bold; 
        color: dodgerblack;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .list {
        flex: 1;
        margin-right: 20px;
    }
    .image {
        max-width: 350px;
        height: auto;
        padding-right: 50px;
    }
</style>